<template>
  <div class="box-action-edit">
    <el-button type="warning" class="btn--edit btn--settings" @click.stop="eventEdit" plain>
      <icon icon="cog" />
    </el-button>
    <el-button type="danger" class="btn--edit btn--remove" @click.stop="eventRemove" plain>
      <icon icon="trash" />
    </el-button>
  </div>
</template>

<script>
  export default {
    methods: {
      eventEdit(ev) {
        this.$emit('settings', ev);
      },
      eventRemove(ev) {
        this.$confirm('Вы действительно хотите удалить элемент?', 'Внимание', {
          confirmButtonText: 'Да',
          cancelButtonText: 'Отмена',
          type: 'warning',
        })
          .then(() => {
            this.$emit('remove', ev);
          })
          .catch(() => {
            console.log('Действие отменено');
          });
      },
    },
  };
</script>

<style lang="stylus">
  .box-action-edit
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1000;
    .btn--edit
      padding: 2px 4px;
      font-size: 12px;
      z-index: 10000;
    .btn--remove
      float: right;
    .btn--settings
      float: left;
</style>
