<template>
  <WidgetWrapper :isEditElement="isEditElement" :isCanEdit="isCanEdit">
    <span slot="name">{{ data.settings.name }}</span>
    <div slot="controll">
      <icon v-if="heat" icon="fire-alt" class="state-icon" style="color: #F56C6C"></icon>
      <icon v-if="cool" icon="snowflake" class="state-icon" style="color: #409EFF"></icon>
      <span>{{ value }} ° </span>
    </div>

    <div slot="box-controll" class="container-action">
      <el-input-number
        v-model="setpoint"
        @focus="eventFocus"
        @change="changeEvent($event, 'setpoint')"
        :step="data.settings.step"
        :disabled="isDisabledRoot"
      />
      <div class="block-mode">
        <el-button :disabled="isDisabledRoot" @click="changeEvent(1, 'mode')" plain>
          <icon icon="home"></icon>
        </el-button>
        <el-button :disabled="isDisabledRoot" @click="changeEvent(2, 'mode')" plain>
          <icon icon="user"></icon>
        </el-button>
        <el-button :disabled="isDisabledRoot" @click="changeEvent(3, 'mode')" plain>
          <icon icon="moon"></icon>
        </el-button>
      </div>
    </div>
  </WidgetWrapper>
</template>

<script>
  import WidgetWrapper from './common/WidgetWrapper';
  import widgetMixin from './common/widgetMixin';
  export default {
    name: 'wClimate',
    components: {
      WidgetWrapper,
    },
    props: ['data', 'isCanEdit'],
    mixins: [widgetMixin],
    data() {
      return {};
    },
    computed: {
      setpoint: {
        get() {
          const addressObject = this.data.addresses.find(el => el.valueName === 'setpoint') || {};
          const status = this.$store.state.visio.statusList.find(el => el.status === addressObject.status);
          return status ? status.value : 0;
        },
        set(value) {
          const addressObject = this.data.addresses.find(el => el.valueName === 'setpoint') || {};
          const status = this.$store.state.visio.statusList.find(el => el.status === addressObject.status);
          if (status) this.$store.commit('SET_STATUS_VALUE', { status: status.status, value });
        },
      },
      value() {
        const addressObject = this.data.addresses.find(el => el.valueName === 'value') || {};
        const status = this.$store.state.visio.statusList.find(el => el.status === addressObject.status);
        if (status) return status.dataType === 6 ? status.value.toFixed(1) : status.value;
        return 0;
      },
      heat() {
        const addressObject = this.data.addresses.find(el => el.valueName === 'heat') || {};
        const status = this.$store.state.visio.statusList.find(el => el.status === addressObject.status);
        return status ? status.value : 0;
      },
      cool() {
        const addressObject = this.data.addresses.find(el => el.valueName === 'cool') || {};
        const status = this.$store.state.visio.statusList.find(el => el.status === addressObject.status);
        return status ? status.value : 0;
      },
    },
    methods: {
      changeEvent(value, name) {
        const addressObject = this.data.addresses.find(el => el.valueName === name);
        const data = {
          type: 'telegram',
          data: {
            address: addressObject.address,
            value: +value,
            dataType: addressObject.dataType,
          },
        };
        this.dataSend(data, addressObject.status);
      },
      eventFocus(ev) {
        ev.target.blur();
      },
    },
  };
</script>

<style lang="stylus" scoped>
  .container-action
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    .block-mode
      flex-shrink: 0;
      margin-left: 5px;
    .el-button
      padding: 3px 5px;
      font-size: 1.2em;
      border: 1px solid #808080;
    .el-button + .el-button
      margin-left: 0.3em;
  .state-icon
    margin-right: 2px;
</style>
