<template>
  <WidgetWrapper :isEditElement="isEditElement" :isCanEdit="isCanEdit">
    <span slot="name">{{data.settings.name}}</span>
    <el-input-number
      slot="controll"
      v-model="value"
      @change="changeEvent"
      @focus="eventFocus"
      :disabled="isDisabledRoot"
      :min="data.settings.min"
      :max="data.settings.max"
      :step="data.settings.step"
      show-input
    />
  </WidgetWrapper>
</template>

<script>
  import WidgetWrapper from './common/WidgetWrapper';
  import widgetMixin from './common/widgetMixin';
  export default {
    name: 'wInputNumber',
    components: {
      WidgetWrapper,
    },
    props: ['data', 'isCanEdit'],
    mixins: [widgetMixin],
    data() {
      return {
      };
    },
    computed: {
      value: {
        get() {
          const addressObject = this.data.addresses.find(el => el.valueName === 'value') || {};
          const status = this.$store.state.visio.statusList.find(el => el.status === addressObject.status);
          return status ? status.value : 0;
        },
        set(value) {
          let currentValue = value;
          if (value > this.data.settings.max) currentValue = this.data.settings.max;
          if (value < this.data.settings.min) currentValue = this.data.settings.min;
          const addressObject = this.data.addresses.find(el => el.valueName === 'value') || {};
          const status = this.$store.state.visio.statusList.find(el => el.status === addressObject.status);
          if (status) this.$store.commit('SET_STATUS_VALUE', { status: status.status, value: currentValue });
        },
      },
    },
    methods: {
      changeEvent(value) {
        const addressObject = this.data.addresses.find(el => el.valueName === 'value');
        const data = {
          type: 'telegram',
          data: {
            address: addressObject.address,
            value: +value,
            dataType: addressObject.dataType,
          },
        };
        this.dataSend(data, addressObject.status);
      },
      eventFocus(ev) {
        ev.target.blur();
      },
    },
  };
</script>

<style lang="stylus">
  .el-input-number
    min-width: 100px;
</style>

