<template>
  <WidgetWrapper :isEditElement="isEditElement" :isCanEdit="isCanEdit">
    <span slot="name">{{ data.settings.name }}</span>
    <el-color-picker
      slot="controll"
      style="margin-right: 10px"
      v-model="color"
      @change="changeColor"
      :disabled="isDisabledRoot || !toggle"
    ></el-color-picker>
    <el-switch
      slot="controll"
      :value="toggle"
      :active-value="1"
      :inactive-value="0"
      :disabled="isDisabledRoot"
      @change="changeEvent($event, 'toggle')"
    ></el-switch>
    <div slot="box-controll" class="container-slider">
      <span style="flex-shrink: 0; width: 98px; margin-right: 15px; text-align: left;">Яркость: {{ brightness }}%</span>
      <el-slider
        v-model="brightness"
        :min="0"
        :max="100"
        :disabled="isDisabledRoot || !toggle"
        @change="changeColor"
      />
    </div>
  </WidgetWrapper>
</template>

<script>
  import WidgetWrapper from './common/WidgetWrapper';
  import widgetMixin from './common/widgetMixin';
  export default {
    name: 'wLED',
    components: {
      WidgetWrapper,
    },
    props: ['data', 'isCanEdit'],
    mixins: [widgetMixin],
    data() {
      return {};
    },
    computed: {
      statusValue() {
        const addressObject = this.data.addresses.find(el => el.valueName === 'value') || {};
        const status = this.$store.state.visio.statusList.find(el => el.status === addressObject.status);
        return status;
      },
      value() {
        return this.statusValue ? this.statusValue.value : [0, 0, 0, 0];
      },
      color: {
        get() {
          return this.value.reduce((sum, value) => {
            if (value < 16) sum += '0';
            sum += value.toString(16);
            return sum;
          }, '#');
        },
        set(val) {
          const valueArray = val.match(/[a-f0-9]{2}/gi);
          const currentValue = valueArray.map(v => parseInt(v, 16));
          const newValue = [...currentValue, this.value[3]];
          if (this.statusValue)
            this.$store.commit('SET_STATUS_VALUE', { status: this.statusValue.status, value: newValue });
        },
      },
      brightness: {
        get() {
          return Math.round(this.value[3] / 2.55);
        },
        set(val) {
          const newValue = [...this.value];
          newValue[3] = Math.round(val * 2.55);
          if (this.statusValue)
            this.$store.commit('SET_STATUS_VALUE', { status: this.statusValue.status, value: newValue });
        },
      },
      toggle() {
        const addressObject = this.data.addresses.find(el => el.valueName === 'toggle') || {};
        const status = this.$store.state.visio.statusList.find(el => el.status === addressObject.status);
        return status ? status.value : 0;
      },
    },
    methods: {
      changeEvent(value, name) {
        const addressObject = this.data.addresses.find(el => el.valueName === name);
        const data = {
          type: 'telegram',
          data: {
            address: addressObject.address,
            value,
            dataType: addressObject.dataType,
          },
        };
        this.dataSend(data, addressObject.status);
      },
      changeColor() {
        this.changeEvent(this.value, 'value');
      }
    },
  };
</script>

<style lang="stylus">
  .container-slider
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 14px;
    align-items: center;
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
</style>

