<template>
  <WidgetWrapper :isEditElement="isEditElement" :isCanEdit="isCanEdit">
    <span slot="name">{{data.settings.name}}</span>
    <div slot="box-controll" class="box-scenes">
      <el-button v-for="(item, index) in currentScenes" :key="index" :disabled="isDisabledRoot" plain @click="clickEvent($event, item.value)">
        <div class="scene-button">
          <icon class="scene-button__icon" :icon="item.icon"></icon>
        </div>
      </el-button>
    </div>
  </WidgetWrapper>
</template>

<script>
  import WidgetWrapper from './common/WidgetWrapper';
  import widgetMixin from './common/widgetMixin';
  export default {
    name: 'wScenes',
    components: {
      WidgetWrapper,
    },
    props: ['data', 'isCanEdit'],
    mixins: [widgetMixin],

    computed: {
      value() {
        const addressObject = this.data.addresses.find(el => el.valueName === 'value') || {};
        const status = this.$store.state.visio.statusList.find(el => el.status === addressObject.status);
        return status ? status.value : 0;
      },
      currentScenes() {
        return this.data.settings.scenes.slice(0, this.data.settings.countScenes);
      },

    },
    methods: {
      clickEvent(ev, value) {
        ev.target.blur();
        const addressObject = this.data.addresses.find(el => el.valueName === 'value');
        const data = {
          type: 'telegram',
          data: {
            address: addressObject.address,
            value,
            dataType: addressObject.dataType,
          },
        };
        this.dataSend(data, addressObject.status);
      }
    },
  };
</script>

<style lang="stylus">
  .box-scenes
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    .el-button
      padding: 3px 5px;
      font-size: 1.2em;
      border: 1px solid #808080;
      margin: 2px;
    .el-button + .el-button
      margin-left: 0;
  .scene-button
    width: 2.5em;
  .scene-button__icon
    font-size: 2em;
</style>

