<template>
  <WidgetWrapper :isEditElement="isEditElement" :isCanEdit="isCanEdit">
    <span slot="name">{{ data.settings.name }}</span>
    <el-switch
      v-if="data.settings.isSwitch"
      slot="controll"
      :value="toggle"
      :active-value="1"
      :inactive-value="0"
      @change="changeEvent($event, 'toggle')"
      :disabled="isDisabledRoot"
    ></el-switch>
    <SliderLabel slot="box-controll" :value="value" :demension="data.settings.demension">
      <el-slider
        v-model="value"
        :disabled="isDisabledRoot || isDisableSlider"
        :min="data.settings.min"
        :max="data.settings.max"
        style="padding: 0 10px;"
        @change="changeEvent(value, 'value')"
      />
    </SliderLabel>
  </WidgetWrapper>
</template>

<script>
  import WidgetWrapper from './common/WidgetWrapper';
  import SliderLabel from './common/SliderLabel';
  import widgetMixin from './common/widgetMixin';
  export default {
    name: 'wSlider',
    components: {
      WidgetWrapper,
      SliderLabel,
    },
    props: ['data', 'isCanEdit'],
    mixins: [widgetMixin],
    data() {
      return {};
    },
    computed: {
      value: {
        get() {
          const addressObject = this.data.addresses.find(el => el.valueName === 'value') || {};
          const status = this.$store.state.visio.statusList.find(el => el.status === addressObject.status);
          return status ? status.value : 0;
        },
        set(value) {
          const addressObject = this.data.addresses.find(el => el.valueName === 'value') || {};
          const status = this.$store.state.visio.statusList.find(el => el.status === addressObject.status);
          if (status) this.$store.commit('SET_STATUS_VALUE', { status: status.status, value });
        },
      },
      toggle() {
        const addressObject = this.data.addresses.find(el => el.valueName === 'toggle') || {};
        const status = this.$store.state.visio.statusList.find(el => el.status === addressObject.status);
        return status ? status.value : 0;
      },
      isDisableSlider() {
        return this.data.settings.isSwitch && !this.toggle
      }
    },
    methods: {
      changeEvent(value, name) {
        const addressObject = this.data.addresses.find(el => el.valueName === name);
        const data = {
          type: 'telegram',
          data: {
            address: addressObject.address,
            value: +value,
            dataType: addressObject.dataType,
          },
        };
        this.dataSend(data, addressObject.status);
      },
    },
  };
</script>


