<template>
  <WidgetWrapper :isEditElement="isEditElement" :isCanEdit="isCanEdit">
    <span slot="name">{{ data.settings.name }}</span>
    <span slot="controll" :style="`color: ${currentState.color}`">
      <icon  :icon="currentState.icon" class="icon-value" />
    </span>
  </WidgetWrapper>
</template>

<script>
  import WidgetWrapper from './common/WidgetWrapper';
  import widgetMixin from './common/widgetMixin';
  export default {
    name: 'wStatusIcon',
    components: {
      WidgetWrapper,
    },
    props: ['data', 'isCanEdit'],
    mixins: [widgetMixin],
    computed: {
      value() {
        const status = this.$store.state.visio.statusList.find(el => el.status === this.data.addresses[0].status);
        return status || 0;
      },
      currentState() {
        const state = this.data.settings.states.find(el => el.value === this.value);
        if (state !== undefined) return state;
        return this.data.settings.states[0];
      },
    },
  };
</script>

<style lang="stylus" scoped>
  .icon-value
    font-size: 1.2em;
  .icon-value--active
    color: goldenrod;
</style>

