<template>
  <WidgetWrapper :isEditElement="isEditElement" :isCanEdit="isCanEdit">
    <span slot="name">{{ data.settings.name }}</span>
    <span slot="controll">{{ value }} {{ data.settings.demension }}</span>
  </WidgetWrapper>
</template>

<script>
  import WidgetWrapper from './common/WidgetWrapper';
  import widgetMixin from './common/widgetMixin';
  export default {
    name: 'wStatusValue',
    components: {
      WidgetWrapper,
    },
    props: ['data', 'isCanEdit'],
    mixins: [widgetMixin],
    computed: {
      value() {
        const status = this.$store.state.visio.statusList.find(el => el.status === this.data.addresses[0].status);
        if (status) return status.dataType === 6 ? status.value.toFixed(1) : status.value
        return 0;
      },
    },
  };
</script>

<style lang="stylus" scoped>
</style>

