<template>
  <WidgetWrapper :isEditElement="isEditElement" :isCanEdit="isCanEdit">
    <span slot="name">{{ data.settings.name }}</span>
    <el-switch
      slot="controll"
      :value="value"
      :disabled="isDisabledRoot"
      :active-value="currentValueOn"
      :inactive-value="currentValueOff"
      @change="changeEvent"
    />
  </WidgetWrapper>
</template>

<script>
  import WidgetWrapper from './common/WidgetWrapper';
  import widgetMixin from './common/widgetMixin';
  export default {
    name: 'wSwitch',
    components: {
      WidgetWrapper,
    },
    props: ['data', 'isCanEdit'],
    mixins: [widgetMixin],
    computed: {
      value() {
        const status = this.$store.state.visio.statusList.find(el => el.status === this.data.addresses[0].status);
        return status ? status.value : 0;
      },
      currentValueOn() {
        if (this.data.addresses[0].dataType === 1) return this.data.settings.inverse ? 0 : 1;
        return this.data.settings.valueOn;
      },
      currentValueOff() {
        if (this.data.addresses[0].dataType === 1) return this.data.settings.inverse ? 1 : 0;
        return this.data.settings.valueOff;
      },
    },
    methods: {
      changeEvent(value) {
        const data = {
          type: 'telegram',
          data: {
            address: this.data.addresses[0].address,
            value: +value,
            dataType: this.data.addresses[0].dataType,
          },
        };
        this.dataSend(data, this.data.addresses[0].status);
      },
    },
  };
</script>

<style lang="stylus" scoped>
</style>

