<template>
  <div>
    <SettingsWrapper name="Имя">
      <el-input :value="item.settings.name" @input="changeSetting($event, 'name')"></el-input>
    </SettingsWrapper>
    <SettingAddress
      :address="item.addresses[0]"
      name="управ."
      :dataTypes="dataTypes"
      @change="changeAddress($event, 0)"
    />
    <SettingsWrapper v-if="item.addresses[0].dataType === 2" name="Значение Выкл.">
      <el-input-number
        :value="item.settings.valueOff"
        :min="0"
        :max="255"
        :controls="false"
        @input="changeSetting($event, 'valueOff')"
      />
    </SettingsWrapper>
    <SettingsWrapper v-if="item.addresses[0].dataType === 2" name="Значение Вкл.">
      <el-input-number
        :value="item.settings.valueOn"
        :min="0"
        :max="255"
        :controls="false"
        @input="changeSetting($event, 'valueOn')"
      />
    </SettingsWrapper>

    <SettingsWrapper v-if="item.addresses[0].dataType === 1" name="Инверсия">
      <el-checkbox :value="item.settings.inverse" @input="changeSetting($event, 'inverse')" />
    </SettingsWrapper>
  </div>
</template>

<script>
  import SettingsWrapper from './components/SettingsWrapper';
  import SettingAddress from './components/SettingAddress';
  import mixinSettings from './mixins/mixinSettings';
  export default {
    name: 'wSettingsSwitch',
    props: ['item'],
    mixins: [mixinSettings],
    components: {
      SettingsWrapper,
      SettingAddress,
    },
    data() {
      return {
        dataTypes: [1, 2],
      };
    },
  };
</script>
