<template>
  <div>
    <SettingsWrapper name="Имя">
      <el-input :value="item.settings.name" @input="changeSetting($event, 'name')"></el-input>
    </SettingsWrapper>
    <SettingAddress :address="item.addresses[0]" name="Color" @change="changeAddress($event, 0)"/>
    <SettingAddress :address="item.addresses[1]" name="Switch" @change="changeAddress($event, 1)"/>
  </div>
</template>

<script>
  import SettingsWrapper from './components/SettingsWrapper';
  import SettingAddress from './components/SettingAddress';
  import mixinSettings from './mixins/mixinSettings';
  export default {
    name: 'wSettingsLED',
    props: ['item'],
    mixins: [mixinSettings],
    components: {
      SettingsWrapper,
      SettingAddress,
    },
    data() {
      return {};
    },
  };
</script>
