<template>
  <div>
    <SettingsWrapper name="Имя">
      <el-input :value="item.settings.name" @input="changeSetting($event, 'name')"></el-input>
    </SettingsWrapper>
    <SettingAddress :address="item.addresses[0]" name="управ." @change="changeAddress($event, 0)" />
    <SettingsWrapper name="Кол-во сцен">
      <el-select :value="item.settings.countScenes" @input="changeSetting($event, 'countScenes')">
        <el-option v-for="(item, key) in countsScenes" :key="key" :value="item.value" :label="item.label"></el-option>
      </el-select>
    </SettingsWrapper>
    <div v-for="(el, key) in currentScenes" :key="key" style="margin-top: 10px;">
      <SettingsWrapper name="Значение">
        <el-input-number
          :value="el.value"
          :min="0"
          :max="255"
          :controls="false"
          @input="changeScene($event, 'value', key)"
        />
      </SettingsWrapper>
      <SettingsWrapper name="Иконка">
        <SettingIcon :value="el.icon" @change="changeScene($event, 'icon', key)" />
      </SettingsWrapper>
    </div>
  </div>
</template>

<script>
  import SettingsWrapper from './components/SettingsWrapper';
  import SettingAddress from './components/SettingAddress';
  import SettingIcon from './components/SettingIcon';
  import mixinSettings from './mixins/mixinSettings';
  export default {
    name: 'wSettingsScenes',
    props: ['item'],
    mixins: [mixinSettings],
    components: {
      SettingsWrapper,
      SettingAddress,
      SettingIcon,
    },
    data() {
      return {
        countsScenes: [
          {
            label: 1,
            value: 1,
          },
          {
            label: 2,
            value: 2,
          },
          {
            label: 3,
            value: 3,
          },
          {
            label: 4,
            value: 4,
          },
          {
            label: 5,
            value: 5,
          },
          {
            label: 6,
            value: 6,
          },
          {
            label: 7,
            value: 7,
          },
          {
            label: 8,
            value: 8,
          },
        ],
      };
    },
    computed: {
      currentScenes() {
        return this.item.settings.scenes.slice(0, this.item.settings.countScenes);
      },
    },
    methods: {
      changeScene(value, name, index) {
        const newArray = [...this.item.settings.scenes];
        const scene = Object.assign({}, newArray[index]);
        scene[name] = value;
        newArray[index] = scene;
        this.changeSetting(newArray, 'scenes');
      },
    },
  };
</script>
