<template>
  <div>
    <SettingsWrapper name="Имя">
      <el-input :value="item.settings.name" @input="changeSetting($event, 'name')"></el-input>
    </SettingsWrapper>
    <SettingAddress
      :address="item.addresses[0]"
      name="управ."
      :dataTypes="dataTypes"
      @change="changeAddress($event, 0)"
    />
    <SettingsWrapper name="Шаг ввода">
      <el-input-number
        :value="item.settings.step"
        :min="minStep"
        :max="255"
        :step="stepStep"
        :controls="false"
        @input="changeSetting($event, 'step')"
      />
    </SettingsWrapper>
  </div>
</template>

<script>
  import SettingsWrapper from './components/SettingsWrapper';
  import SettingAddress from './components/SettingAddress';
  import mixinSettings from './mixins/mixinSettings';
  export default {
    name: 'wSettingsSwitch',
    props: ['item'],
    mixins: [mixinSettings],
    components: {
      SettingsWrapper,
      SettingAddress,
    },
    data() {
      return {
        dataTypes: [2, 6],
      };
    },
    computed: {
      minStep() {
        return this.item.addresses[0].dataType === 2 ? 1 : 0.1;
      },
      stepStep() {
        return this.item.addresses[0].dataType === 2 ? 1 : 0.1;
      },
      valueDataType() {
        return this.item.addresses[0].dataType;
      },
    },
    watch: {
      valueDataType(val) {
        if (val === 2) {
          this.item.settings.step = 1;
          this.item.settings.min = 0;
          this.item.settings.max = 255;
        } else {
          this.item.settings.step = 0.1;
          this.item.settings.min = -65535;
          this.item.settings.max = 65535;
        }
      },
    },
  };
</script>
