<template>
  <div>
    <SettingsWrapper name="Имя">
      <el-input :value="item.settings.name" @input="changeSetting($event, 'name')"></el-input>
    </SettingsWrapper>
    <SettingAddress :address="item.addresses[0]" name="управ." @change="changeAddress($event, 0)" />
    <SettingsWrapper name="Значение Min">
      <el-input-number
        :value="item.settings.min"
        :min="0"
        :max="254"
        :controls="false"
        @input="changeSetting($event, 'min')"
      />
    </SettingsWrapper>
    <SettingsWrapper name="Значение Max">
      <el-input-number
        :value="item.settings.max"
        :min="1"
        :max="255"
        :controls="false"
        @input="changeSetting($event, 'max')"
      />
    </SettingsWrapper>
    <SettingsWrapper name="Ед.измерения">
      <el-select :value="item.settings.demension" @input="changeSetting($event, 'demension')">
        <ElOption v-for="(item, key) in demensionTypes" :key="key" :label="item.label" :value="item.value" />
      </el-select>
    </SettingsWrapper>
    <SettingsWrapper name="Переключатель">
      <el-checkbox :value="item.settings.isSwitch" @input="changeSetting($event, 'isSwitch')" />
    </SettingsWrapper>
    <SettingAddress v-if="item.settings.isSwitch" :address="item.addresses[1]" name="Адрес управ." @change="changeAddress($event, 1)" />
  </div>
</template>

<script>
  import SettingsWrapper from './components/SettingsWrapper';
  import SettingAddress from './components/SettingAddress';
  import mixinSettings from './mixins/mixinSettings';
  export default {
    name: 'wSettingsSlider',
    props: ['item'],
    mixins: [mixinSettings],
    components: {
      SettingsWrapper,
      SettingAddress,
    },
    data() {
      return {
        demensionTypes: [
          {
            label: 'Выкл',
            value: '',
          },
          {
            label: '%',
            value: '%',
          },
        ],
      };
    },
  };
</script>
