<template>
  <div>
    <SettingsWrapper name="Имя">
      <el-input :value="item.settings.name" @input="changeSetting($event, 'name')"></el-input>
    </SettingsWrapper>
    <SettingAddress
      :address="item.addresses[0]"
      name="управ."
      :dataTypes="dataTypes"
      @change="changeAddress($event, 0)"
    />
    <SettingsWrapper name="Кол-во состояний">
      <el-select v-if="item.addresses[0].dataType === 2" :value="item.settings.countScenes" @input="changeSetting($event, 'countScenes')">
        <el-option v-for="(item, key) in arrayCounts" :key="key" :value="item.value" :label="item.label"></el-option>
      </el-select>
    </SettingsWrapper>
    <div v-for="(state, index) in currentStates" :key="index">
      <span class="name-state" v-if="valueDataType === 1">{{ index === 0 ? 'Состояние 0' : 'Состояние 1' }}</span>
      <span class="name-state" v-else>{{ `Состояние №${index + 1}` }}</span>
      <SettingsWrapper name="Иконка">
        <SettingIcon :value="state.icon" @change="changeParamState($event, 'icon', state, index)" />
      </SettingsWrapper>
      <SettingsWrapper name="Цвет">
        <el-color-picker
          :value="state.color"
          :predefine="colors"
          @change="changeParamState($event, 'color', state, index)"
        />
      </SettingsWrapper>
      <SettingsWrapper name="Значение">
        <el-input-number
          v-if="item.addresses[0].dataType !== 1"
          :value="state.value"
          :controls="false"
          :min="0"
          :max="255"
          @change="changeParamState($event, 'value', state, index)"
        />
      </SettingsWrapper>
    </div>
  </div>
</template>

<script>
  import SettingsWrapper from './components/SettingsWrapper';
  import SettingAddress from './components/SettingAddress';
  import SettingIcon from './components/SettingIcon';
  import mixinSettings from './mixins/mixinSettings';
  export default {
    name: 'wSettingsStatusIcon',
    props: ['item'],
    mixins: [mixinSettings],
    components: {
      SettingsWrapper,
      SettingAddress,
      SettingIcon,
    },

    data() {
      return {
        dataTypes: [1, 2],
        arrayCounts: [
          {
            label: 2,
            value: 2,
          },
          {
            label: 3,
            value: 3,
          },
          {
            label: 4,
            value: 4,
          },
          {
            label: 5,
            value: 5,
          },
        ],
        colors: ['#409EFF', '#67C23A', '#E6A23C', '#F56C6C', '#909399', '#303133'],
      };
    },
    computed: {
      currentStates() {
        if (this.item.addresses[0].dataType === 1) return this.item.settings.states.slice(0, 2);
        return this.item.settings.states.slice(0, this.item.settings.countScenes);
      },
      valueDataType() {
        return this.item.addresses[0].dataType;
      },
    },
    watch: {
      valueDataType(val) {
        if (val === 1) {
          this.item.settings.states[0].value = 0;
          this.item.settings.states[1].value = 1;
        }
      },
    },
    methods: {
      changeParamState(val, name, state, index) {
        const newState = Object.assign({}, state);
        newState[name] = val;
        const newArray = [...this.item.settings.states];
        newArray[index] = newState;
        this.changeSetting(newArray, 'states');
      },
    },
  };
</script>

<style lang="sass">
  .name-state
    display: inline-block;
    width: 100%;
    text-align: center;
</style>
