<template>
  <div>
    <SettingsWrapper name="Имя">
      <el-input :value="item.settings.name" @input="changeSetting($event, 'name')"></el-input>
    </SettingsWrapper>
    <SettingAddress :address="item.addresses[0]" name="уставки" @change="changeAddress($event, 0)" />
    <SettingAddress :address="item.addresses[1]" name="режима" @change="changeAddress($event, 1)" />
    <SettingAddress :address="item.addresses[2]" name="показаний" @change="changeAddress($event, 2)" />
    <SettingAddress :address="item.addresses[3]" name="нагрев" @change="changeAddress($event, 3)" />
    <SettingAddress :address="item.addresses[4]" name="охлажд." @change="changeAddress($event, 4)" />
    <SettingsWrapper name="Шаг ввода">
      <el-input-number
        :value="item.settings.step"
        :min="0.1"
        :max="10"
        :step="0.1"
        :controls="false"
        @input="changeSetting($event, 'step')"
      />
    </SettingsWrapper>
  </div>
</template>

<script>
  import SettingsWrapper from './components/SettingsWrapper';
  import SettingAddress from './components/SettingAddress';
  import mixinSettings from './mixins/mixinSettings';
  export default {
    name: 'wSettingsLED',
    props: ['item'],
    mixins: [mixinSettings],
    components: {
      SettingsWrapper,
      SettingAddress,
    },
    data() {
      return {};
    },
  };
</script>
