<template>
  <div>
    <SettingsWrapper name="Имя">
      <el-input :value="item.settings.name" @input="changeSetting($event, 'name')"></el-input>
    </SettingsWrapper>
    <SettingsWrapper name="Ед.измерения">
      <el-select :value="item.settings.demension" @input="changeSetting($event, 'demension')">
        <ElOption v-for="(item, key) in demensionTypes" :key="key" :value="item"> </ElOption>
      </el-select>
    </SettingsWrapper>
    <SettingAddress
      :address="item.addresses[0]"
      name="управ."
      :dataTypes="dataTypes"
      @change="changeAddress($event, 0)"
    />
  </div>
</template>

<script>
  import SettingsWrapper from './components/SettingsWrapper';
  import SettingAddress from './components/SettingAddress';
  import mixinSettings from './mixins/mixinSettings';
  export default {
    name: 'wSettingsStatusValue',
    props: ['item'],
    mixins: [mixinSettings],
    components: {
      SettingsWrapper,
      SettingAddress,
    },
    data() {
      return {
        dataTypes: [2, 3, 6],
        demensionTypes: ['%','°C', 'F', 'бар', 'Па']
      };
    },
  };
</script>
