<template>
  <div style="width: 100%; height: 100%">
    <div class="toolbar-add-device">
      <el-button
        type="danger"
        icon="el-icon-circle-close"
        @click="closeAdd"
        class="button-exit-add-device"
      />
    </div>
    <div class="container-menu" style="height: calc(100% - 40px); padding: 0 5px;">
      <SidbarMenuDeviceConfig :items="itemsMenu" @select="changeMenu" :isColapsed="true"/>
      <div class="add-device-content">
        <ListDevices :fromOffline="fromOffline"/>
      </div>
    </div>
  </div>
</template>


<script>
  import devicesList from '@/_library/devices';
  import SidbarMenuDeviceConfig from './SidbarMenuDeviceConfig';
  import ListDevices from './ListDevices';
  export default {
    name: 'add-device',
    components: {
      SidbarMenuDeviceConfig,
      ListDevices,
    },
    data() {
      return {
        devicesList,
        itemsMenu: [
          {
            label: 'Устройвства в сети',
            icon: 'network-wired',
            fromOffline: false,
          },
          {
            label: 'Устройства',
            icon: 'microchip',
                        fromOffline: true,
          },
        ],
        activeMenu: 'AddOnlineDevices',
        fromOffline: false,
      };
    },
    methods: {
      changeMenu(index) {
        this.fromOffline = this.itemsMenu[index].fromOffline;
      },
      closeAdd() {
        this.$store.commit('TOGGLE_ADD_DEVICE');
      },
    },
  };
</script>

<style lang="stylus">
  .toolbar-add-device
    background-color: #37474f
  .button-exit-add-device
    position: relative
    left: calc(100% - 42px)
    border-radius: 0
    height: 40px
    font-size: 20px
    padding: 0 10px
  .add-device-content
    height: 100%
    width: calc(100% - 82px)
    padding: 0 20px
    overflow: auto
</style>
