<template>
  <div style="margin: 10px; text-align: left;">
    <span>Импорт проекта:</span>
    <el-button type="primary" @click="selectFile">Выбрать файл</el-button>
    <el-button type="success" @click="importProject" :disabled="!file">Импортировать проект</el-button>
    <div v-if="file" class="block-info-file">Выбран файл: {{file.name}}</div>
  </div>
</template>

<script>
  import { ipcRenderer as ipc, remote } from 'electron'; //eslint-disable-line
  const dialog = remote.dialog; 
  export default {
    name: 'import-project',
    data() {
      return {
        file: null,
      };
    },
    computed: {
      projectsList() {
        return this.$store.state.main.projects.projectsList;
      },
    },
    methods: {
      selectFile() {
        const options = {
          title: 'Выберите файл проект',
          filters: [{ name: 'All Files', extensions: ['json'] }],
          properties: ['openFile'],
        };
        dialog.showOpenDialog(options, path => {
          if (path) {
            this.file = {
              name: path[0].split('/').reverse()[0],
              path: path[0],
            };
          }
        });
      },
      importProject() {
        ipc.once('fs:importProject:status', (event, data) => {
          if (data) {
            this.saveNewProject(data);
          } else
            this.$message({
              type: 'info',
              message: 'Не удалось совершить импорт',
            });
        });
        ipc.send('fs:importProject', this.file);
        this.file = null;
      },
      randomUID() {
        const newUID =
          Math.random()
            .toString(36)
            .substring(2, 6) +
          Math.random()
            .toString(36)
            .substring(2, 6);
        const test = this.projectsList.find(project => project.uid === newUID);
        if (!test) return newUID;
        return this.randomUID();
      },
      saveNewProject(data) {
        const newUID = this.randomUID();
        const projectData = {
          info: {
            name: data.info.name,
            uid: newUID,
            creatDate: new Date().toUTCString(),
            editDate: null,
          },
          devices: data.devices,
          addresses: data.addresses,
        };
        ipc.send('fs:saveProject', projectData);
        ipc.once('fs:saveProjectStatus', (event, status) => {
          if (status === 'OK') {
            this.$store.commit('CREAT_NEW_PROJECT', {data: projectData, open: false });
            this.$message({
              showClose: true,
              message: 'Проект успешно импортирован',
              type: 'success',
            });
          } else {
            this.$message({
              showClose: true,
              message: 'Не удалось создать проект',
              type: 'error',
            });
          }
        });
      },
    },
  };
</script>

<style lang="stylus">
  .block-info-file
    display: inline-block
    margin: 5px 0
    padding: 0 10px
    font-size: 12px
    background-color: rgba(103, 194, 55, 0.4)
</style>