<template>
  <!-- Из офлайн устройств -->
  <div v-if="fromOffline">
    <div class="block-devices__item" v-for="(item, index) in devicesList" :key="index">
      <img src="static/img/devices/logicController.png" :alt="item.type" align="middle">
      <div class="item-info" @click.exact="selectDevice(item)">
        <span>
          <b>Имя:</b>
          {{item.name}}
        </span>
        <span>
          <b>Тип:</b>
          {{item.fnType}}
        </span>
        <span>
          <b>Версия:</b>
          {{item.version}}
        </span>
      </div>
      <el-button type="success" @click="addDevice(item)">Добавить в проект</el-button>
    </div>
  </div>
  <!-- Из онлайн устройств -->
  <div v-else-if="onlineDevices.length > 0">
    <div class="block-devices__item" v-for="(item, index) in onlineDevices" :key="index">
      <img src="static/img/devices/logicController.png" :alt="item.type" align="middle">
      <div class="item-info" @click.exact="selectDevice(item)">
        <span>
          <b>IP адрес:</b>
          {{item.ip}}
        </span>
        <span>
          <b>MAC адрес:</b>
          {{item.mac}}
        </span>
        <span>
          <b>Тип устройства</b>
          {{fnTypes[item.fnTypeCode]}}
        </span>
      </div>
      <el-button
        type="success"
        @click="addOnlineDevice(item)"
        :disabled="projectDevices.find(el => el.params.mac === item.mac) !== undefined"
      >Добавить в проект</el-button>
    </div>
  </div>
  <!-- Случай когда нет доступных онлайн устройства -->
  <div v-else style="padding-top: 50px; text-align: center;">Нет доступных устройств</div>
</template>

<script>
  import devicesList from '@/_library/devices';
  export default {
    name: 'list-devices',
    props: ['fromOffline'],
    data() {
      return {
        devicesList,
        fnTypes: [
          '',
          'multiport_16ch (rev. 1)',
          'Logic_controller (rev. 1)',
          'Relay_16ch (rev. 1)',
          'Dimmer_1ch (rev. 1)',
          'VisioServer',
          'Relay_4ch (rev.1)',
          'Relay_8ch (rev.1)'
        ],
      };
    },
    computed: {
      onlineDevices() {
        return this.$store.state.structData.findedDevices;
      },
      projectDevices() {
        return _.flatten(this.$store.state.structData.devices.tree.elements);
      },
    },
    methods: {
      addDevice(device) {
        this.$store.commit('ADD_DEVICE', {device: _.cloneDeep(device), isOnline: true });
      },
      addOnlineDevice(item) {
        const device = this.devicesList.find(el => el.params.fnTypeCode === item.fnTypeCode);
        const newDevice = _.cloneDeep(device);
        newDevice.params.ip = item.ip;
        newDevice.params.actualIP = item.ip;
        newDevice.params.mac = item.mac;
        newDevice.params.isOnline = true;
        this.addDevice(newDevice);
      },
    },
  };
</script>

<style lang="stylus">
  .block-devices__item
    display: flex
    margin: 5px
    border: 1px solid #DCDFE6
    background-color: #F2F6FC
    cursor: pointer
    align-items: center
    justify-content: space-between
    padding: 0 20px
    &:hover
      border: 1.5px solid #409EFF
    img
      width: auto
      height: 80px
      pointer-events: none
    .item-info
      display: flex
      flex-direction: column
      margin: 10px
      width: 250px
      text-align: left
      span
        white-space: nowrap
      b
        margin: 3px
</style>
