<template lang="pug">
  <div  class="resize-block" :class="directionClass" v-dragged="onDragged"></div>
</template>

<script>
export default {
  name: '',
  props: {
    direction: {
      default: 'x',
      type: String
    }
  },
  components: {
  },
  data() {
    return ({
      directionClass: this.direction === 'x' ? 'line-x' : 'line-y'
    });
  },
  methods: {
    onDragged({ deltaX, deltaY }) {
      if (this.direction === 'x' && deltaX !== 0) this.$emit('resize', deltaX);
      if (this.direction === 'y' && deltaY !== 0) this.$emit('resize', -deltaY);
    },
  },

};
</script>

<style lang="stylus">
  .resize-block
    position: absolute
    z-index: 1000
  .line-x
    top: 0
    right: 0
    width: 5px
    height: 100%
    cursor: col-resize
  .line-y
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 5px
    cursor: row-resize
</style>
