<template>
  <el-menu default-active="0" :collapse="isColapsed" @select="changeMenu">
    <el-menu-item
      v-for="(item, index) in items"
      :key="`${index}_${item.label}`"
      :index="`${index}`"
    >
      <icon :icon="item.icon"/>
      <span slot="title">{{item.label}}</span>
    </el-menu-item>
  </el-menu>
</template>
<script>
  export default {
    name: 'sidebar-menu-device-config',
    props: {
      isColapsed: {
        default: false,
      },
      items: {
        required: true,
      },
    },
    data() {
      return {
        isShow: true
      };
    },
    beforeDestroy() {
      // Костыль для глюка плывущего меню.
      this.$el.style.display = 'none';
    },
    methods: {
      changeMenu(index) {
        this.$emit('select', index);
      },
    },
  };
</script>

<style lang="stylus">
[id^="el-collapse-head"]
  padding: 0 10px
</style>
