<template>
  <div class="main-container">
    <div id="left-block" :style="{ width: widthLeftBlock }" class="main-container__block">
      <tree-module
        id="treeDevice"
        :data="dataDevices"
        eventName="TreeDevices"
        elementName="Устройство"
        widthName="treeDevice"
      ></tree-module>
      <config-device
        v-if="!stateMain.mode.isAddDevice"
        :data="dataDevices"
        class="main-container__block__second-el"
      ></config-device>
      <add-device v-else :data="dataDevices" class="main-container__block__second-el"></add-device>
      <resize-block v-if="stateMain.mode.isTreeAddress && !stateMain.mode.isAddDevice" @resize="resize"></resize-block>
    </div>
    <div
      v-if="stateMain.mode.isTreeAddress && !stateMain.mode.isAddDevice"
      :style="{ width: `${widthRightBlock}px` }"
      class="main-container__block"
    >
      <tree-module
        id="treeAddress"
        :data="dataAddresses"
        eventName="TreeAddress"
        elementName="Адрес"
        widthName="treeAddress"
      ></tree-module>
      <info-address :element="changeAddress" class="main-container__block__second-el transition-box"></info-address>
    </div>
  </div>
</template>

<script>
  import { mapState } from 'vuex';
  import ResizeBlock from '@/components/other/ResizeBlock';
  import TreeModule from '@/components/tree/TreeModule';
  import InfoAddress from '@/components/configElement/address/InfoAddress';
  import ConfigDevice from '@/components/configElement/ConfigDevice';
  import AddDevice from '@/components/other/AddDevice';
  export default {
    name: 'containerMain',
    props: [],
    components: {
      TreeModule,
      InfoAddress,
      ConfigDevice,
      ResizeBlock,
      AddDevice,
    },
    data() {
      return {
        width: this.$root.$data.value.width.treeLeftBlock,
        widthWindow: window.innerWidth,
      };
    },
    computed: mapState({
      dataDevices: state => state.structData.devices,
      dataAddresses: state => state.structData.addresses,
      changeAddress() {
        if (this.dataAddresses.props.changeElement && this.dataAddresses.props.changeElement.type === 'element')
          return this.dataAddresses.props.changeElement;
        return null;
      },
      visualParams: state => state.main.visualParams,
      stateMain: state => state.main,
      widthLeftBlock() {
        if (this.stateMain.mode.isTreeAddress && !this.stateMain.mode.isAddDevice) return `${this.width}px`;
        return '100%';
      },
      widthRightBlock() {
        return this.widthWindow - this.width;
      },
    }),
    mounted() {
      window.addEventListener('resize', this.setWidthContainer);
    },
    beforeDestroy() {
      window.removeEventListener('resize', this.setWidthContainer)
    },
    methods: {
      resize(e) {
        if (e) {
          const min = 400;
          const max = window.innerWidth - min;
          const widthTemp = this.width + e;
          if (widthTemp < max && widthTemp > min) {
            this.width = widthTemp;
            this.$root.$data.value.width.treeLeftBlock = widthTemp;
          }
        }
      },
      setWidthContainer() {
        this.widthWindow = window.innerWidth;
      }
    },
  };
</script>

<style lang="stylus">
  .main-container
    display: flex;
    width: 100%;
    .main-container__block
      display: flex;
      position: relative;
      height: 100%;
      overflow: hidden;
      & + .main-container__block
        border-left: 1px solid #bdbdbd;
  .main-container__block__second-el
    width: calc(100% - 250px);
</style>
