<template>
  <!-- Тип 1 (Дискретное значение) 1 byte-->
  <el-select v-if="type === 1" :value="values[0]" @change="changeEvent($event, 0)" :disabled="isReq">
    <el-option v-for="(item, index) in typesValue1" :key="index" :label="item.label" :value="item.value" />
  </el-select>
  <!-- Тип 2 (Беззнаковое число)  1 byte-->
  <el-input-number
    v-else-if="type === 2"
    :value="values[1]"
    :min="0"
    :max="255"
    :controls="false"
    @change="changeEvent($event, 1)"
    :disabled="isReq"
  />
  <!-- Тип 3 ( Знаковое число) 1 byte-->
  <el-input-number
    v-else-if="type === 3"
    :value="values[2]"
    :min="-127"
    :max="127"
    :controls="false"
    @change="changeEvent($event, 2)"
    :disabled="isReq"
  />
  <!-- Тип 4 ( Управление диммером) 1 byte-->
  <el-select v-else-if="type === 4" :value="values[3]" @change="changeEvent($event, 3)" :disabled="isReq">
    <el-option v-for="(item, index) in typesValue4" :key="index" :label="item.label" :value="item.value">
      <span style="float: left">{{ item.label }}</span>
      <span v-if="item.info" style="float: right; color: #8492a6; font-size: 13px">{{ item.info }}</span>
    </el-option>
  </el-select>
  <!-- Тип 5 ( Беззнаковое число) 2 byte-->
  <el-input-number
    v-else-if="type === 5"
    :value="values[4]"
    :min="0"
    :max="65535"
    :controls="false"
    @change="changeEvent($event, 4)"
    :disabled="isReq"
  />
  <!-- Тип 6 ( Знаковое число с запятой) 4 byte-->
  <el-input-number
    v-else-if="type === 6"
    :value="values[5]"
    :step="0.01"
    :controls="false"
    @change="changeEvent($event, 5)"
    :disabled="isReq"
  />
  <!-- Тип 7 ( RGB color) 3 byte-->
  <div v-else-if="type === 7" style="display: inline-block">
    <el-color-picker v-model="currentColor" size="medium" style="top: 12px" :disabled="isReq" />
    <span>Яркость</span>
    <el-input-number v-model="brightness" :min="0" :max="100" controls-position="right"/>
  </div>

  <!-- Тип 8 ( Время и день недели) 4 byte-->
  <div v-else-if="type === 8" style="display: inline-block">
    <el-time-picker v-model="currentTime" format="HH:mm" value-format="HH:mm" :disabled="isReq" />
    <el-select :value="values[7][2]" @change="changeWeekDay" :disabled="isReq">
      <el-option v-for="(item, index) in weekDays" :key="index" :label="item.label" :value="item.value"></el-option>
    </el-select>
  </div>
  <!-- Тип 9 ( Дата) 4 byte-->
  <el-date-picker
    v-else-if="type === 9"
    v-model="currentDate"
    format="dd.MM.yyyy"
    value-format="dd.MM.yyyy"
    :disabled="isReq"
  />
  <!-- Тип 10 ( Беззнаковое число) 4 byte-->
  <el-input-number
    v-else-if="type === 10"
    :value="values[9]"
    :min="0"
    :controls="false"
    @change="changeEvent($event, 9)"
    :disabled="isReq"
  />
  <!-- Тип 11 ( Знаковое число) 4 byte-->
  <el-input-number
    v-else-if="type === 11"
    :value="values[10]"
    :controls="false"
    @change="changeEvent($event, 10)"
    :disabled="isReq"
  />
</template>

<script>
  export default {
    name: 'import-types-bus',
    props: ['type', 'values', 'isReq'],
    data() {
      return {
        typesValue1: [
          {
            label: '0',
            value: 0,
          },
          {
            label: '1',
            value: 1,
          },
        ],
        typesValue4: [
          {
            label: 'Вверх',
            info: '0xFF',
            value: 255,
          },
          {
            label: 'Вниз',
            info: '0x0F',
            value: 15,
          },
          {
            label: 'Стоп',
            info: '0x00',
            value: 0,
          },
        ],
        weekDays: [
          {
            label: 'Все дни',
            value: 0,
          },
          {
            label: 'Понедельник',
            value: 1,
          },
          {
            label: 'Вторник',
            value: 2,
          },
          {
            label: 'Среда',
            value: 3,
          },
          {
            label: 'Четверг',
            value: 4,
          },
          {
            label: 'Пятница',
            value: 5,
          },
          {
            label: 'Суббота',
            value: 6,
          },
          {
            label: 'Воскресенье',
            value: 7,
          },
        ],
      };
    },
    computed: {
      currentColor: {
        get() {
          return this.values[6].slice(0, 3).reduce((sum, value) => {
            if (value < 16) sum += '0';
            sum += value.toString(16);
            return sum;
          }, '#');
        },
        set(val) {
          if (val) {
            const newValue = val.match(/[a-f0-9]{2}/gi).map(el => parseInt(el, 16));
            this.changeColor(newValue, 'color');
          } else this.changeColor([0, 0, 0], 'color');
        },
      },
      brightness: {
        get() {
          return Math.round(this.values[6][3] / 2.55);
        },
        set(val) {
          const newValue = Math.round(val * 2.55);
          this.changeColor(newValue, 'brightness');
        },
      },
      currentTime: {
        get() {
          return this.values[7].join(':');
        },
        set(val) {
          const newValue = [...val.split(':'), this.values[7][2]];
          this.changeEvent(newValue, 7);
        },
      },
      currentDate: {
        get() {
          return this.values[8].join('.');
        },
        set(val) {
          this.changeEvent(val.split('.'), 8);
        },
      },
    },
    methods: {
      changeEvent(val, index) {
        const newData = [...this.values];
        newData[index] = val;
        this.$emit('update:values', newData);
        this.$emit('change', newData);
      },
      changeWeekDay(val) {
        const newValue = [...this.values[7]];
        newValue[2] = val;
        this.changeEvent(newValue, 7);
      },
      changeColor(val, type) {
        let newValue = [...this.values[6]];
        if (type === 'color') {
          newValue = [...val, this.brightness];
        }
        if (type === 'brightness') newValue[3] = val;
        this.changeEvent(newValue, 6);
      },
    },
  };
</script>
