<template>
  <div id="main-menu">
    <!---->
    <!-- Создать/сохранить/открыть/менеджер проектов-->
    <div class="main-menu__block" v-if="stateMain.mode.isMain">
      <zh-button-icon
        label="Создать проект"
        icon="file"
        @click="newProject"
        :disabled="stateMain.mode.isOpenProject"
      />
      <zh-button-icon
        label="Открыть проект"
        icon="folder-open"
        @click="activateDialog('Открыть проект', 'openProject')"
      />
      <zh-button-icon
        label="Сохранить"
        icon="save"
        @click="saveProject(true)"
        :disabled="!stateMain.mode.isOpenProject"
      />
      <zh-button-icon
        label="Закрыть проект"
        icon="sign-out-alt"
        @click="closeProject"
        :disabled="!stateMain.mode.isOpenProject"
      />
      <zh-button-icon
        label="Менежер проектов"
        icon="sliders-h"
        @click="activateDialog('Менеджер проектов', 'managerProject', false)"
      />
    </div>
    <!---->
    <!-- Блок Undo/Redo-->
    <div class="main-menu__block" v-if="stateMain.mode.isMain && stateMain.mode.isOpenProject">
      <zh-button-icon label="Отменить действие" icon="undo" disabled="disabled"/>
      <zh-button-icon label="Вернуть действие" icon="redo" disabled="disabled"/>
    </div>
    <!---->
    <!-- Блок плагина-->
    <div class="main-menu__block" v-if="stateMain.mode.isPlugin">
      <zh-button-icon label="Сохранить конфигурацию" icon="save" @click="saveProject(true)"/>
      <zh-button-icon label="Выйти из плагина" icon="sign-out-alt" @click="activePlugin"/>
    </div>
    <!---->
    <!--Блок терминала и настроек-->
    <div class="main-menu__block">
      <zh-button-icon
        label="Скрыть/показать монитор шины"
        icon="terminal"
        @click="toggleMonitorBus"
      />
      <zh-button-icon
        v-if="stateMain.mode.isMain"
        label="Скрыть/показать дерево адресов"
        icon="sitemap"
        :type="isTreeAddressActive"
        @click="toggleTreeAddress"
        :disabled="!stateMain.mode.isOpenProject"
      />
      <zh-button-icon label="Настройки" icon="cogs" disabled="disabled"/>
    </div>
    <!---->
    <!-- Модальное окно-->
    <el-dialog :title="dialog.title" :visible.sync="dialog.isShow">
      <!---->
      <!--Открыть проект-->
      <div class="dialog__block" v-if="dialog.status === 'openProject'">
        <h3>Выберите проект для открытия:</h3>
        <el-table
          ref="singleTable"
          :data="projectsList"
          highlight-current-row="highlight-current-row"
          @current-change="selectProjectTable"
          max-height="400"
          empty-text="Нет созданных проектов."
          style="width: 100%;"
        >
          <el-table-column type="index" width="50"></el-table-column>
          <el-table-column property="name" label="Имя"></el-table-column>
          <el-table-column property="creatDate" label="Дата создания"></el-table-column>
          <el-table-column property="editDate" label="Дата последнего изменения"></el-table-column>
        </el-table>
      </div>
      <!---->
      <!-- Менеджер проектов-->
      <div class="dialog__block" v-if="dialog.status === 'managerProject'">
        <h3>Доступные проекты:</h3>
        <el-table
          ref="singleTable"
          :data="projectsList"
          max-height="300"
          empty-text="Нет созданных проектов."
          style="width: 100%;"
        >
          <el-table-column type="index" width="50"></el-table-column>
          <el-table-column property="name" label="Имя"></el-table-column>
          <el-table-column property="creatDate" label="Дата создания"></el-table-column>
          <el-table-column property="editDate" label="Дата изменения"></el-table-column>
          <el-table-column label="Операции">
            <template slot-scope="scope">
              <zh-button-icon
                icon="edit"
                label="Переименовать"
                type="info"
                @click="renameProject(scope.$index, scope.row)"
                :disabled="currentProject === scope.row"
              />
              <zh-button-icon
                icon="trash-alt"
                label="Удалить"
                type="danger"
                @click="deleteProject(scope.$index, scope.row)"
                :disabled="currentProject === scope.row"
              />
              <zh-button-icon
                icon="download"
                label="Экспорт"
                type="success"
                @click="exportProject(scope.$index, scope.row)"
              />
            </template>
          </el-table-column>
        </el-table>

        <ImportProject/>
      </div>
      <el-button v-if="dialog.isBtnCancel" @click="dialog.isShow = false">Отмена</el-button>
      <el-button v-if="dialog.status === 'managerProject'" @click="dialog.isShow = false">Завершить</el-button>
      <el-button
        v-if="dialog.status === 'openProject'"
        type="success"
        @click="openProject"
        :disabled="changeOpenProject === null"
      >Открыть</el-button>
    </el-dialog>
  </div>
</template>

<script>
  import { mapState } from 'vuex';
  import { ipcRenderer as ipc } from 'electron'; //eslint-disable-line
  import ImportProject from './other/importProject';
  export default {
    name: 'mainMenu',
    props: [],
    components: {
      ImportProject,
    },
    data() {
      return {
        dialog: { isShow: false },
        changeOpenProject: null,
      };
    },
    computed: mapState({
      stateMain: state => state.main,
      projectsList: state => state.main.projects.projectsList,
      currentProject: state => state.main.projects.currentProject,
      isProjectListEmpty: state => _.isEmpty(state.main.projects.projectsList),
      isTreeAddressActive: state => {
        if (state.main.mode.isTreeAddress) return 'primary';
        return 'default';
      },
    }),
    methods: {
      // Активация диалога
      activateDialog(title, status, isBtnCancel = true) {
        this.dialog = {
          title,
          status,
          isBtnCancel,
          isShow: true,
        };
      },
      selectProjectTable(data) {
        this.changeOpenProject = data;
      },
      // Получение рандомного UID
      randomUID() {
        const newUID =
          Math.random()
            .toString(36)
            .substring(2, 6) +
          Math.random()
            .toString(36)
            .substring(2, 6);
        const test = this.projectsList.find(project => project.uid === newUID);
        if (!test) return newUID;
        return this.randomUID();
      },
      // Создание нового проекта
      newProject() {
        this.$prompt('Введите новое имя проекта', 'Имя проекта', {
          confirmButtonText: 'Сохранить',
          cancelButtonText: 'Отмена',
          inputPattern: /^[A-zА-я\w'\-_.][^,!¡?÷?¿\\/\\+=@#$%ˆ&*{}|~<>;:[\]]{2,}$/,
          inputErrorMessage: 'Некорректное имя',
        }).then(value => {
          const newUID = this.randomUID();
          const projectData = {
            info: {
              name: value.value,
              uid: newUID,
              creatDate: new Date().toUTCString(),
              editDate: null,
            },
            devices: this.$store.state.structData.devices.getNewTree,
            addresses: this.$store.state.structData.addresses.getNewTree,
          };
          ipc.send('fs:saveProject', projectData);
          this.dialog.isShow = false;
          ipc.once('fs:saveProjectStatus', (event, status) => {
            if (status === 'OK') {
              this.$store.commit('CREAT_NEW_PROJECT', { data: projectData, open: true });
              this.changeOpenProject = projectData.info;
              this.openProject();
              this.$message({
                showClose: true,
                message: 'Проект успешно создан.',
                type: 'success',
              });
            } else {
              this.$message({
                showClose: true,
                message: 'Не удалось создать проект',
                type: 'error',
              });
            }
          });
        });
      },
      openProject() {
        ipc.send('fs:openProject', this.changeOpenProject.uid);
        ipc.once('fs:openProjectStatus', (event, project) => {
          if (project) {
            this.$store.commit('OPEN_PROJECT_MAIN', this.changeOpenProject);
            this.$store.commit('OPEN_PROJECT', project);
            this.$message({
              showClose: true,
              message: `Проект ${this.changeOpenProject.name} открыт.`,
              type: 'success',
            });
            this.dialog.isShow = false;
            document.title = `Конфигуратор : ${this.changeOpenProject.name}`;
          }
        });
      },
      saveProject(isUserInit) {
        if (this.stateMain.mode.isOpenProject) {
          this.$store.commit('SAVE_DATE', new Date().toUTCString());
          // !!! Если плагин открыт, при сохранении проекта объединяем блоки. Переделать на автоматический метод, при добавлении/удалении блока из store
          if (this.stateMain.mode.isPlugin) this.$events.$emit('combine_blocks');
          const projectData = {
            info: this.currentProject,
            devices: this.$store.state.structData.devices.tree,
            addresses: this.$store.state.structData.addresses.tree,
          };
          ipc.send('fs:saveProject', projectData);
          ipc.once('fs:saveProjectStatus', (event, status) => {
            if (isUserInit && status === 'OK') {
              this.$message({ showClose: true, message: 'Проект сохранен.', type: 'success' });
            }
          });
        }
      },
      closeProject() {
        this.saveProject();
        this.$store.commit('CLOSE_PROJECT');
        document.title = 'Конфигуратор';
      },
      // Удаление проекта
      deleteProject(index, el) {
        this.$confirm(`Вы дествительно хотите удалить проект ${el.name}`, 'Внимание!', {
          confirmButtonText: 'Удалить',
          cancelButtonText: 'Отмена',
          type: 'warning',
        })
          .then(() => {
            ipc.send('fs:removeProject', el.uid);
            ipc.once('fs:removeProjectStatus', (event, status) => {
              if (status === 'OK') {
                this.$store.commit('DELETE_PROJECT', el);
                this.$message({
                  showClose: true,
                  message: 'Проект успешно удален.',
                  type: 'success',
                });
              }
            });
          })
          .catch(err => {
            console.log(err);
            this.$message({
              showClose: true,
              message: 'Проект не удален.',
              type: 'info',
            });
          });
      },
      // Переименование проекта
      renameProject(index, el) {
        this.$prompt('Введите новое имя проекта', 'Имя проекта', {
          confirmButtonText: 'Сохранить',
          cancelButtonText: 'Отмена',
          inputValue: el.name,
          inputPattern: /^[A-zА-я\w'\-_.][^,!¡?÷?¿\\/\\+=@#$%ˆ&*{}|~<>;:[\]]{2,}$/,
          inputErrorMessage: 'Некорректное имя',
        })
          .then(value => {
            this.$store.commit('SAVE_NAME_PROJECT', { el, newName: value.value });
            ipc.send('fs:saveProjectName', el);
          })
          .catch(() => {
            this.$message({
              type: 'info',
              message: 'Изменение имени отменено',
            });
          });
      },
      // Экспорт проекта
      exportProject(index, el) {
        ipc.once('fs:exportProject:status', (event, status) => {
          if (status === 'OK')
            this.$message({
              type: 'success',
              message: `Проект успешно экспортирован на рабочий стол`,
            });
          else
            this.$message({
              type: 'info',
              message: 'Не удалось совершить экспорт',
            });
        });
        ipc.send('fs:exportProject', el);
      },
      importProject(val) {
        console.log(val);
      },
      activePlugin() {
        this.saveProject();
        this.$store.commit('TOGGLE_PLUGIN');
        this.$events.$emit('combine_blocks');
      },
      // Показать/скрыть дерево адресов.
      toggleTreeAddress() {
        this.$store.commit('TOGGLE_TREE_ADDRESS');
      },
      toggleMonitorBus() {
        this.$store.commit('TOGGLE_MONITOR_BUS');
      },
    },
  };
</script>

<style lang="stylus">
  #main-menu
    display: flex
    flex-direction: row
    align-items: center
    height: 40px
    min-height: 40px
    padding-left: 5px
    background-color: #37474f
    border-bottom: 1px solid #DCDFE6
  .main-menu__block
    display: flex
    align-content: center
  .main-menu__block + .main-menu__block
    margin-left: 15px
  .main-menu__button
    font-size: 20px
    padding: 3px 6px
    border-radius: 1px
  .dialog__block
    padding-bottom: 20px
</style>
