<template>
  <el-dialog title="Загрузка настроек на устройство" :visible="isVisible" :show-close="false" width="70%">
    <el-steps :active="activeStep" :align-center="true" :process-status="stepStatus">
      <el-step title="Подключение" icon="el-icon-sort"></el-step>
      <el-step title="Верификация" icon="el-icon-view"></el-step>
      <el-step title="Отправка" icon="el-icon-upload"></el-step>
      <el-step title="Выполнено" icon="el-icon-check"></el-step>
    </el-steps>
    <p class="status_msg">{{statusText}}</p>
    <span slot="footer" class="dialog-footer">
      <el-button type="primary" @click="isVisible = false" :disabled="!isError && !isSuccess">Закрыть</el-button>
    </span>
  </el-dialog>
</template>

<script>
import { ipcRenderer } from "electron"; //eslint-disable-line
export default {
  name: 'dialogComponent',
  props: [],
  components: {
  },
  data() {
    return {
      activeStep: -1,
      isVisible: false,
      isError: false,
      isSuccess: false,
      statusText: '',
      stepStatus: 'process',

    };
  },
  created() {
    this.$events.on('configTCP:start', () => {
      this.isVisible = true;
    });
    ipcRenderer.on('configTCP:response', (sender, status) => {
      this.isError = !status.ok;
      this.statusText = status.text;
      if (status.stage) {
        if (status.stage === 4) this.isSuccess = true;
        this.activeStep = status.stage;
      }
      
    })
  },
  mounted() {
  },
  beforeDestroy() {
    this.$events.off('configTCP:start');
  },
  computed: {
  },
  watch: {
    isError(val) {
      if (val) {
        this.stepStatus = 'error';
        this.activeStep += 1;
      }
    },
    isVisible(val) {
      if (!val) {
        this.isError = false;
        this.isSuccess = false;
        this.statusText = '';
        this.stepStatus = 'process';
        this.activeStep = -1;
      } else {
        this.$nextTick(() => {
          this.$events.emit('configTCP:viewReady');
        });
      }
    }
  },
  methods: {
  },

};
</script>

<style lang="stylus">
.el-dialog
  text-align: center
  .status_msg
    padding-top: 10px
</style>
