<template>
  <div class="container-monitor" :style="{ height: `${height}px` }">
    <resize-block @resize="resize" direction="y"></resize-block>
    <div id="monitor" style="height: 100%">
      <!-- Block filter action -->
      <div id="monitor__header">
        <div class="block-select">
          <span>Фильтр устройств:</span>
          <el-select
            v-model="filterDevices"
            multiple
            filterable
            allow-create
            default-first-option
            placeholder="Фильтр пуст"
            no-data-text="Нет устройств в проекте."
            size="mini"
            @change="testFilterDevices"
          >
            <el-option v-for="item in devices" :key="item.id" :label="item.name" :value="item.id">
              <span style="float: left">{{ item.name }} ID: {{ item.id }}</span>
            </el-option>
          </el-select>
          <el-button type="text" style="padding: 0px; padding-left: 5px" @click="filterDevices = []">
            <icon icon="filter" />
            <icon icon="times" class="icon-close" transform="shrink-6" />
          </el-button>
        </div>
        <div class="block-select">
          <span>Фильтр адресов:</span>
          <el-select
            v-model="filterAddresses"
            multiple
            filterable
            allow-create
            default-first-option
            placeholder="Фильтр пуст"
            no-data-text="Нет адресов в проекте."
            size="mini"
            @change="testFilterAddresses"
          >
            <el-option v-for="item in addresses" :key="item.id" :label="item.name" :value="item.id">
              <span style="float: left">{{ item.name }} ID: {{ item.id }}</span>
            </el-option>
          </el-select>
          <el-button type="text" style="padding: 0px; padding-left: 5px" @click="filterAddresses = []">
            <icon icon="filter" />
            <icon icon="times" class="icon-close" transform="shrink-6" />
          </el-button>
        </div>
      </div>
      <!-- Body table Monitor-->
      <div id="monitor__body" style="position: relative; overflow: hidden;">
        <div style="height: 100%">
          <div v-if="isDisconnect" id="body-block--error">
            <span>Нет соединения с сетью или порт занят.</span>
            <el-button type="primary" size="mini" @click="tryConnect">Переподключиться</el-button>
          </div>
          <el-table
            v-else
            :data="filteredTelegrams"
            height="100%"
            style="width: 100%; max-width: 100%"
            size="mini"
            empty-text="Нет входящих телеграм"
            border
          >
            <el-table-column label="#" type="index" width="40"></el-table-column>
            <el-table-column label="Время" prop="time" width="135"></el-table-column>
            <el-table-column label="Адрес источника" prop="source"></el-table-column>
            <el-table-column label="Имя источника" prop="sourceName"></el-table-column>
            <el-table-column label="Адрес получателя" prop="target"></el-table-column>
            <el-table-column label="Имя адреса" prop="targetName"></el-table-column>
            <el-table-column label="Тип телеграммы" prop="type" width="280"></el-table-column>
            <el-table-column label="Тип данных" prop="dataType" width="100"></el-table-column>
            <el-table-column label="Значение" prop="data"></el-table-column>
          </el-table>
        </div>
      </div>
      <!-- Block action( send data to Bus) -->
      <div id="monitor__action-block">
        <!-- Select or write address -->
        <div class="action-block__select">
          <span>Адрес:</span>
          <el-select
            v-model="addressSelect"
            placeholder="Список адресов"
            size="mini"
            no-data-text="Нет адресов в проекте."
          >
            <el-option v-for="item in addresses" :key="item.id" :label="item.name" :value="item.id">
              <span style="float: left">{{ item.name }}</span>
              <span style="float: right; color: #8492a6; font-size: 13px">ID: {{ item.id }}</span>
            </el-option>
          </el-select>
          <el-input-number
            v-model="telegramSend.target"
            :class="{ 'input--error': !isAddressCorrect }"
            :min="1"
            style="width: 70px"
            :controls="false"
          />
        </div>
        <!-- Select or write address -->
        <div class="action-block__select">
          <span>Режим:</span>
          <el-select v-model="telegramSend.isReq" size="mini" style="width:100px">
            <el-option v-for="(item, index) in telegramTypes" :key="index" :label="item.name" :value="item.value" />
          </el-select>
        </div>
        <div class="action-block__select">
          <span>Тип данных:</span>
          <el-select v-model="telegramSend.dataType" placeholder="Тип данных" size="mini" style="width:210px">
            <el-option v-for="item in filteredDataTypes" :key="item.id" :label="item.label" :value="item.value">
              <span style="float: left">{{ item.label }}</span>
              <span style="float: right; color: #8492a6; font-size: 13px">{{ item.info }}</span>
            </el-option>
          </el-select>
        </div>
        <div class="action-block__select" style="position: relative">
          <span>Значение:</span>
          <!-- Поле ввода в зависимости от типа данных -->
          <InputTypesBus :values.sync="values" :type="telegramSend.dataType" :isReq="telegramSend.isReq" />
          <!-- Поле ввода в зависимости от типа данных END-->
        </div>
        <el-button type="primary" size="mini" :disabled="!isReadySendMsg" @click="sendTelegram">Отправить</el-button>
        <div class="action-block__select">
          <el-checkbox v-model="autoScroll" style="margin-left: 20px" @change="autoScrollEvent">Прокрутка</el-checkbox>
          <el-button type="primary" size="mini" @click="telegrams = []">Очистить</el-button>
        </div>
      </div>
    </div>
  </div>
</template>



<script>
  import ResizeBlock from '@/components/other/ResizeBlock';
  import InputTypesBus from './InputTypesBus';
  import { ipcRenderer as ipc } from 'electron'; //eslint-disable-line
  export default {
    name: 'MonitorLog',
    props: [],
    components: {
      InputTypesBus,
      ResizeBlock,
    },
    data() {
      return {
        values: [0, 0, 0, 255, 0, 0, [55, 192, 14, 25], [8, 30, 0], [1, 1, 2018], 0, 0],
        valuesDaysWeek: ['Все дни', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб', 'Вск'],
        telegramTypes: [
          {
            name: 'Запись',
            value: false,
          },
          {
            name: 'Чтение',
            value: true,
          },
        ],
        telegrams: [],
        filterAddresses: [],
        filterDevices: [],
        tableBodyElement: null,
        tableViewElement: null,
        autoScroll: true,
        addressSelect: null,
        telegramSend: {
          target: undefined,
          dataType: 1,
          dataLength: null,
          data: undefined,
          isReq: false,
        },
        isDataCorrect: false,
        isDisconnect: false,
        isAddressCorrect: false,
        height: 300,
      };
    },
    computed: {
      dataTypes() {
        return this.$store.state.main.dataTypes.map(el => {
          el.length = +el.info[0];
          return el;
        });
      },
      addresses() {
        return _.flatten(this.$store.state.structData.addresses.tree.elements).filter(el => el.bus === 1);
      },
      devices() {
        return _.flatten(this.$store.state.structData.devices.tree.elements);
      },
      // Filter telegrams from selected addresses and devices
      filteredTelegrams() {
        if (this.filterAddresses.length === 0 && this.filterDevices.length === 0) return this.telegrams;
        return this.telegrams.filter(
          el => this.filterAddresses.includes(el.target) || this.filterDevices.includes(el.source)
        );
      },
      filteredDataTypes() {
        const address = this.addresses.find(el => el.id === this.telegramSend.target);
        if (address && address.dataType) {
          this.telegramSend.dataType = address.dataType;
          return this.dataTypes.filter(dataType => dataType.value === address.dataType);
        }
        return this.dataTypes;
      },
      isReadySendMsg() {
        return this.isAddressCorrect && !this.isDisconnect;
      },
    },

    watch: {
      addressSelect(val, oldVal) {
        if (val && val !== oldVal) this.telegramSend.target = val;
      },
      telegramSend: {
        deep: true,
        handler(val) {
          this.isAddressCorrect = parseInt(this.telegramSend.target, 10) === +this.telegramSend.target;
          if (val.target && this.isAddressCorrect) {
            const newAddressSelect = this.addresses.find(el => el.id === +val.target);
            this.addressSelect = newAddressSelect ? newAddressSelect.id : undefined;
          }
        },
      },
    },
    mounted() {
      // Данные элементы нужны для корректной автоматической прокрутки
      this.tableBodyElement = document.querySelector('#monitor__body .el-table .el-table__body');
      this.tableViewElement = document.querySelector('#monitor__body .el-table .el-table__body-wrapper');
      // Иниицируем multicast socket и начинаем принимать телеграммы
      ipc.send('multicastBUS:start');
      ipc.on('multicastBUS:message', (event, data) => {
        this.saveIncommingMessage(data);
      });
      ipc.on('multicastBUS:ready', () => {
        this.isDisconnect = false;
      });
      ipc.on('multicastBUS:error', () => {
        this.isDisconnect = true;
      });
    },
    updated() {
      // Данные элементы нужны для корректной автоматической прокрутки
      this.tableBodyElement = document.querySelector('#monitor__body .el-table .el-table__body');
      this.tableViewElement = document.querySelector('#monitor__body .el-table .el-table__body-wrapper');
    },
    beforeDestroy() {
      ipc.send('multicastBUS:off');
      ipc.removeAllListeners('multicastBUS:message');
      ipc.removeAllListeners('multicastBUS:ready');
      ipc.removeAllListeners('multicastBUS:error');
    },
    methods: {
      // Filter addresses. Исключаем дублирование одних и тех id и приводим к числу
      testFilterAddresses() {
        this.filterAddresses.forEach((el, index) => {
          if (!+el) this.filterAddresses.splice(index, 1);
          else this.filterAddresses[index] = +el;
        });
        this.filterAddresses = _.uniq(this.filterAddresses);
      },
      // Filter devices. Исключаем дублирование одних и тех же id и приводим к числу
      testFilterDevices() {
        this.filterDevices.forEach((el, index) => {
          if (!+el) this.filterDevices.splice(index, 1);
          else this.filterDevices[index] = +el;
        });
        this.filterDevices = _.uniq(this.filterDevices);
      },
      autoScrollEvent() {
        if (this.autoScroll) this.tableViewElement.scrollTop = this.tableBodyElement.clientHeight;
      },
      // Send telegram to Bus
      sendTelegram() {
        this.telegramSend.data = this.values[this.telegramSend.dataType - 1];
        this.telegramSend.dataLength = this.dataTypes.find(el => el.value === this.telegramSend.dataType).length;
        ipc.send('multicastBUS:outMessage', this.telegramSend);
        ipc.once('multicastBUS:outMessageStatus', (event, data) => {
          if (data.status === 'OK') {
            this.$message({
              showClose: true,
              message: 'Телеграмма отправлена.',
              type: 'success',
            });
            const time = new Date();
            data.message.time = time.toLocaleString('ru');
            data.message.source = 'Конфигуратор';
            data.message.type = data.message.isReq ? 'Запрос значения' : 'Запись значения';
            this.saveIncommingMessage(data.message);
          } else
            this.$message({
              showClose: true,
              message: 'Ошибка отправки телеграммы.',
              type: 'info',
            });
        });
      },

      // Try connect if not connected
      tryConnect() {
        ipc.send('multicastBUS:start');
      },
      saveIncommingMessage(data) {
        if (data) {
          const sourceIndex = this.devices.findIndex(el => el.id === data.source);
          const targetIndex = this.addresses.findIndex(el => el.id === data.target);
          data.sourceName = sourceIndex !== -1 ? this.devices[sourceIndex].name : '-';
          data.targetName = targetIndex !== -1 ? this.addresses[targetIndex].name : '-';
          if (data.isReq) {
            data.data = '';
          } else {
            if (data.dataType === 4) {
              if (data.data === 0xff) data.data = 'UP';
              if (data.data === 0xf0) data.data = 'DOWN';
              if (data.data === 0x00 || data.data === 0xf0) data.data = 'STOP';
            }
            if (data.dataType === 7) {
              data.data = data.data.join(',');
            }
            if (data.dataType === 8) {
              const hour = data.data[0] < 10 ? `0${+data.data[0]}` : data.data[0];
              const min = data.data[1] < 10 ? `0${+data.data[1]}` : data.data[1];
              const day = this.valuesDaysWeek[data.data[2]];
              data.data = `${hour}:${min} ${day}`;
            }
            if (data.dataType === 9) {
              const day = data.data[0] < 10 ? `0${+data.data[0]}` : data.data[0];
              const month = data.data[1] < 10 ? `0${+data.data[1]}` : data.data[1];
              data.data = `${day}.${month}.${data.data[2]}`;
            }
          }

          this.telegrams.push(data);
        }
        this.$nextTick(this.autoScrollEvent);
      },
      resize(delta) {
        if (delta) {
          const min = 250;
          const max = window.innerHeight - 100;
          const tempHeight = this.height + delta;
          if (tempHeight >= max) this.height = max;
          else if (tempHeight <= min) this.height = min;
          else this.height = tempHeight;
        }
      },
    },
  };
</script>

<style lang='stylus'>
  .container-monitor
    position: relative;
    height: 300px;
  #monitor
    border-top: 1px solid #bdbdbd;
    display: flex;
    flex-direction: column;
    &__header
      flex-shrink: 0;
      display: flex;
      padding: 10px;
      background-color: #E4E7ED;
      .block-select
        display: inline-flex;
        align-items: center;
        width: 100%;
        & + .block-select
          margin-left: 20px;
        & > span
          white-space: nowrap;
          margin-right: 10px;
        .el-select
          width: 100%;
        .el-select__tags
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
    &__body
      height: 100%;
      .el-table__header tr > *
        background: #E4E7ED;
        text-align: center;
    &__action-block
      flex-shrink: 0;
      padding: 5px 0;
      background-color: #E4E7ED;
      .action-block__select
        display: inline-block;
        padding-top: 5px;
        & + .action-block__select
          margin-left: 5px;
        & > span
          padding-left: 5px;
      .el-button
        margin-left: 5px;
  #body-block--error
    padding: 20px;
    height: 100%;
    text-align: center;
    background-color: rgba(230, 162, 60, 0.4);
    & > span
      display: block;
      padding-bottom: 20px;
  .block-text
    span
      padding: 2px 5px;
  .icon-close
    color: #F56C6C;
    position: relative;
    top: 5px;
    right: 7px;
</style>



