<template>
  <div class="plugin">
    <div class="plugin__left-block">
      <tree-module id="treeStructBlocks" :data="structBlocks" :device="device" />
      <tree-module id="treeAddress" :data="addresses" eventName="TreeAddress" elementName="Адрес" />
    </div>
    <blocks-editor
      :device="device"
      :configBlock="configBlock"
      @configSocket="configSocketEvent"
      @removeBlock="removeBlockEvent"
    />
    <div class="plugin__right-block">
      <tree-module
        v-if="!configBlock && !configSocket"
        id="treeBlocks"
        :data="blocks"
        :device="device"
        :isEditable="false"
        style="width: 250px"
      />
      <!-- Конфигурация модуля -->
      <!-- Нужно вынести в отдельный компонент -->
      <div v-else style="width: 450px; height: 100%; border-left: 1px solid #bdbdbd">
        <!-- Шапка блока -->
        <div class="tree__menu">
          <div v-if="configBlock">{{ configBlock.name }}(ID:{{ configBlock.id }})</div>
          <div v-else-if="configSocket">{{ configSocket.block.name }} - Объект: {{ configSocket.object.name }}</div>
        </div>
        <!-- Тело блока настройки-->
        <div class="container-config" style="height: calc(100% - 74px)">
          <component
            v-if="configBlock"
            :is="configBlock.fnType"
            :element="configBlock"
            :device="device"
            :initSave="initSave"
            :isError.sync="isErrorConfigBLock"
            @change="checkSaveConfig"
            class="container-config-block"
          />
          <manager-addresses
            v-else-if="configSocket"
            :socket="configSocket"
            :initSave="initSaveSocket"
            @change="saveConfigSocket"
          />
        </div>
        <!-- Контейнер кнопок действия( сохранить, отменить) -->
        <div class="container-button">
          <div v-if="configBlock">
            <el-button size="mini" @click="configBlockDisable">Отмена</el-button>
            <el-button type="success" size="mini" @click="saveConfig" :disabled="isErrorConfigBLock"
              >Сохранить</el-button
            >
          </div>
          <div v-else-if="configSocket">
            <el-button size="mini" @click="configSocketDisable">Отмена</el-button>
            <el-button type="success" size="mini" @click="initSaveSocket = true">Сохранить</el-button>
          </div>
        </div>
      </div>
      <!-- Конфигурация модуля END -->
    </div>
  </div>
</template>

<script>
  import { mapState } from 'vuex';
  import TreeModule from './tree/TreeModule';
  import BlocksEditor from './plugin/BlocksEditor';
  import ManagerAddresses from './plugin/ManagerAddresses';

  export default {
    name: 'plugin',
    props: ['device'],
    components: {
      TreeModule,
      BlocksEditor,
      ManagerAddresses,
    },
    data() {
      return {
        configBlock: null,
        configSocket: null,
        changeSettings: null,
        initSave: false,
        initSaveSocket: false,
        isErrorConfigBLock: false,
      };
    },
    computed: mapState({
      addresses: state => state.structData.addresses,
      blocks: state => state.structData.blocks,
      structBlocks() {
        return this.device.structBlocks;
      },
    }),
    watch: {},
    mounted() {
      this.$events.$on('ActiveConfigBlock', this.configBlockEvent);
      // !!! Временнное решение
      this.$events.$on('combine_blocks', () => {
        this.$store.commit('COMBINE_BLOCKS', this.device);
      });
    },
    beforDestroy() {
      this.$events.$off('ActiveConfigBlock', this.configBlockEvent);
    },
    methods: {
      configBlockEvent(element = null) {
        if (this.configBlock === null) {
          this.configBlock = element;
          this.toggleConfigBlockTree();
          this.configSocketDisable();
        }
      },
      configBlockDisable() {
        if (this.configBlock) {
          this.toggleConfigBlockTree(false);
          this.configBlock = null;
        }
      },
      // !!!Проверить, что делает эта фигня!!!)
      // !!!ЛОЛ, отдает команду на сохранение настроек функц. блока. Изменить на отправку настроек напрямую из компонента плагина.
      saveConfig() {
        this.initSave = true;
      },
      configSocketEvent(socket) {
        this.configSocket = socket;
        this.configBlockDisable();
      },
      configSocketDisable() {
        this.configSocket = null;
      },
      // Сохраняем значения адресов сокета
      saveConfigSocket({ socket, addresses }) {
        this.configSocketDisable();
        this.initSaveSocket = false;
        const promises = socket.object.addresses.map(addressID => {
          if (!addresses.includes(addressID)) {
            const address = this.$store.state.structData.addresses.getElementByID(addressID);
            return this.$store.dispatch('DELETE_LINK', { socket, address });
          }
          return Promise.resolve(1);
        });
        Promise.all(promises);
        this.$store.commit('REPLACE_ADDRESSES_OBJECT', { object: socket.object, addresses });
      },
      // Обработка новых параметров блока. Сверка с текущими настройками и состояниями
      checkSaveConfig(newBlock) {
        this.initSave = false;
        if (newBlock) {
          const promise = this.$store.dispatch('SAVE_SETTINGS_BLOCK', {
            newBlock,
            oldBlock: this.configBlock,
            device: this.device,
          });
          this.$root.$wrapperMsg(promise);
          this.configBlockDisable();
        }
      },
      // В дереве функц. блоков переключаем подсветку элемента, который настраивается.
      toggleConfigBlockTree(status = true) {
        const arrayBlocksTree = document.getElementById('treeStructBlocks').querySelectorAll('[data-type="element"]');
        [...arrayBlocksTree].forEach(el => {
          if (el.innerText === this.configBlock.name)
            if (status) el.classList.add('block--config');
            else el.classList.remove('block--config');
        });
      },
      removeBlockEvent(block) {
        if (this.configBlock) {
          if (this.configBlock === block) this.configBlockDisable();
        }
        if (this.configSocket) {
          if (this.configSocket.block === block) this.configSocketDisable();
        }
      },
    },
  };
</script>

<style lang="stylus">
  .plugin
    display: flex;
    &__left-block
      .tree
        height: 50%;
  .block--config
    background-color: rgba(64, 158, 255, 0.2);
  .container-config-block
    padding-right: 15px;
</style>
