<template>
	<div id='tray-block'>
	</div>
</template>
<script>
export default {
  name: 'tray-block',
  data() {
    return ({
    });
  },
  methods: {
  },
  computed: {
  },
};
</script>

<style lang="stylus">
  #tray-block
    height: 18px
    min-height: 18px
    text-align: center
    line-height: 18px
    background-color: #37474F
    border: 1px solid #bdbdbd
    color: #B4BCCC
</style>
