<template>
  <section class="container editor">
    <header class="editor__settings box-settings">
      <span>Режим отображения:</span>
      <el-select v-model="activeVisualMode" style="width: 100px; margin: 0 5px">
        <el-option v-for="(item, index) in visualModes" :key="index" :label="item.label" :value="item.value" />
      </el-select>
      <span>Шаблон:</span>
      <el-select :value="projectData.template" style="width: 100px; margin: 0 5px" @change="changeTemplate">
        <el-option v-for="(item, index) in templates" :key="index" :label="item.label" :value="item.value" />
      </el-select>
      <!-- Времено убрано. Выбор и добавление проекта в устройство.--->
      <!--
      <span>Выбор проекта:</span>
      <el-select v-model="activeVisualMode" style="width: 100px; margin: 0 5px">
        <el-option
          v-for="(item, index) in visualModes"
          :key="index"
          :label="item.label"
          :value="item.value"
        />
      </el-select>
      <el-button type="primary">Добавить</el-button>
      -->
      <el-button class="btn-menu-plugin-visio" @click="editUsersList">
        <icon icon="users-cog" />
      </el-button>
      <el-button class="btn-menu-plugin-visio" @click="endConfigVisio">
        <icon icon="sign-out-alt" />
      </el-button>
    </header>
    <div class="editor__canvas" @wheel="wheelEvent">
      <Interface :type="activeVisualMode" :scale="scale" />
    </div>
    <UsersList :visible.sync="isEditUserList" />
  </section>
</template>

<script>
  import Interface from './Interface';
  import UsersList from './UsersList';
  export default {
    name: 'VisualEditor',
    props: ['activeWidget'],
    components: {
      Interface,
      UsersList,
    },
    data() {
      return {
        activeVisualMode: 'desktop',
        activeMenu: null,
        isEditUserList: false,
        visualModes: [
          {
            label: 'Desktop',
            value: 'desktop',
          },
          {
            label: 'Ipad',
            value: 'ipad',
          },
          {
            label: 'Mobile',
            value: 'mobile',
          },
        ],
        templates: [
          {
            label: 'Aurora',
            value: 'Aurora',
          },
          {
            label: 'Sirius',
            value: 'Sirius',
          },
        ],
        scale: 100,
      };
    },
    computed: {
      projectData() {
        return this.$store.state.visio.data;
      },
    },
    methods: {
      wheelEvent(ev) {
        if (ev.metaKey || ev.ctrlKey) {
          ev.preventDefault();
          if (ev.deltaY > 0 && this.scale >= 15) this.scale -= 5;
          else if (ev.deltaY < 0 && this.scale <= 95) this.scale += 5;
        }
      },
      endConfigVisio() {
        this.$store.commit('TOGGLE_VISIO_PLUGIN');
        this.$store.commit('END_CONFIG_VISIO');
      },
      changeTemplate(value) {
        this.$confirm('Изменение шаблона удалит созданные виджеты. Изменить шаблон?', 'Внимание!', {
          confirmButtonText: 'Подтвердить',
          cancelButtonText: 'Отмена',
          type: 'warning',
        })
          .then(() => {
            this.$store.commit('CHANGE_VISIO_PLUGIN', value);
            this.$message({
              type: 'success',
              message: 'Шаблон изменен',
            });
          })
          .catch(() => {
            this.$message({
              type: 'info',
              message: 'Изменение отменено',
            });
          });
      },
      editUsersList() {
        this.isEditUserList = true;
      },
    },
  };
</script>

<style lang="sass" scoped>
  .container.editor
    width: 100%
    height: 100%
    border-left: 1px solid gray
    border-right: 1px solid gray
    .btn-menu-plugin-visio
      padding: 2px 4px;
  header.editor__settings
    padding-left: 10px;
    background-color: #303133
    line-height: 30px
    font-size: 13px
    color: #FFF
  .editor__canvas
    height: calc(100% - 30px);
    overflow: auto
    box-sizing: border-box;
</style>
