<template>
  <WrapperSidebar name="Доступные виджеты">
    <ul class="list-items">
      <draggable v-model="widgetsList" v-bind="draggableOptions">
        <component v-for="(widget, key) in widgetsList" :key="key" :is="widget.widgetType" :data="widget" :isCanEdit="false"/>
      </draggable>
    </ul>
  </WrapperSidebar>
</template>

<script>
  import draggable from 'vuedraggable';
  import WrapperSidebar from './WrapperSidebar';
  // UI components
  import wSwitch from './widgets/wSwitch';
  import wSlider from './widgets/wSlider';
  import wHeader from './widgets/wHeader';
  import wInputNumber from './widgets/wInputNumber';
  import wStatusValue from './widgets/wStatusValue';
  import wStatusIcon from './widgets/wStatusIcon';
  import wClimate from './widgets/wClimate';
  import wScenes from './widgets/wScenes';
  import wLED from './widgets/wLED';
  export default {
    name: 'ListComponents',
    components: {
      draggable,
      WrapperSidebar,
      wSwitch,
      wSlider,
      wHeader,
      wInputNumber,
      wStatusValue,
      wStatusIcon,
      wClimate,
      wScenes,
      wLED,
    },
    data() {
      return {
      };
    },
    computed: {
      draggableOptions() {
        return {
          ghostClass: 'placeholder-draggable',
          group: {
            name: 'widgetsList',
            pull: 'clone',
          },
          sort: false,
        };
      },
      widgetsList() {
        return this.$store.state.visio.widgetsList;
      },
    },
    methods: {

    }
  };
</script>

<style scoped lang="stylus">
  ul.list-items
    list-style: none;
    margin: 5px;
    padding: 0;
    li
      border: 1px solid black;
      background-color: gray;
    .placeholder
      background-color: orange;
</style>

