<template>
  <WrapperSidebar name="Настройки">
    <SettingsMenuItem v-if="editItem.type === 'menuItem'" :item="editItem" />
    <component v-else :is="componentsSettingsList[editItem.widgetType]" :item="editItem" />
  </WrapperSidebar>
</template>

<script>
  import WrapperSidebar from './WrapperSidebar';
  import SettingsMenuItem from './settingsComponents/SettingsMenuItem';
  import wSettingsClimate from './settingsComponents/wSettingsClimate';
  import wSettingsHeader from './settingsComponents/wSettingsHeader';
  import wSettingsInputNumber from './settingsComponents/wSettingsInputNumber';
  import wSettingsLED from './settingsComponents/wSettingsLED';
  import wSettingsScenes from './settingsComponents/wSettingsScenes';
  import wSettingsSlider from './settingsComponents/wSettingsSlider';
  import wSettingsStatusIcon from './settingsComponents/wSettingsStatusIcon';
  import wSettingsStatusValue from './settingsComponents/wSettingsStatusValue';
  import wSettingsSwitch from './settingsComponents/wSettingsSwitch';

  export default {
    name: 'SettingsWidget',
    components: {
      WrapperSidebar,
      SettingsMenuItem,
      wSettingsClimate,
      wSettingsHeader,
      wSettingsInputNumber,
      wSettingsLED,
      wSettingsScenes,
      wSettingsSlider,
      wSettingsStatusIcon,
      wSettingsStatusValue,
      wSettingsSwitch,
    },
    data() {
      return {
        componentsSettingsList: {
          wClimate: 'wSettingsClimate',
          wHeader: 'wSettingsHeader',
          wInputNumber: 'wSettingsInputNumber',
          wLED: 'wSettingsLED',
          wScenes: 'wSettingsScenes',
          wSlider: 'wSettingsSlider',
          wStatusIcon: 'wSettingsStatusIcon',
          wStatusValue: 'wSettingsStatusValue',
          wSwitch: 'wSettingsSwitch',
        },
      };
    },
    computed: {
      editItem() {
        return this.$store.state.visio.editElement || {};
      },
    },
  };
</script>

<style lang="sass" scoped>

</style>

