<template>
  <el-dialog
    :visible.sync="isVisible"
    title="Список пользователей"
    :close-on-click-modal="false"
    :show-close="false"
    :close-on-press-escape="false"
  >
    <el-table :data="users" border class="visio-user-list" height="40vh">
      <!--Name -->
      <el-table-column label="Имя" prop="name">
        <template v-slot="props">
          <el-input v-model="props.row.name" placeholder=""></el-input>
        </template>
      </el-table-column>
      <!--Role -->
      <el-table-column label="Роль" prop="role">
        <template v-slot="props">
          <el-select v-model="props.row.role">
            <el-option v-for="(item, key) in roleList" :key="key" :label="item.label" :value="item.value"></el-option>
          </el-select>
        </template>
      </el-table-column>
      <!--Password -->
      <el-table-column label="Пароль" prop="password">
        <template v-slot="props">
          <el-input v-model="props.row.password" placeholder="" type="password"></el-input>
        </template>
      </el-table-column>
      <!--Action -->
      <el-table-column align="right" width="40">
        <template v-slot:header>
          <el-button type="success" @click="addUser">
            <icon icon="plus" />
          </el-button>
        </template>
        <template v-slot="props">
          <el-button type="danger" @click="removeUser(props.$index)">
            <icon icon="trash-alt" />
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <template v-slot:footer>
      <el-button @click="isVisible = false">Отмена</el-button>
      <el-button type="success" @click="saveChange">Сохранить</el-button>
    </template>
  </el-dialog>
</template>


<script>
  export default {
    name: 'UsersList',
    props: ['visible'],
    data() {
      return {
        users: [],
        roleList: [
          {
            label: 'Администратор',
            value: 0,
          },
          {
            label: 'Пользователь',
            value: 1,
          },
        ],
      };
    },
    computed: {
      isVisible: {
        get() {
          return this.visible;
        },
        set(value) {
          this.$emit('update:visible', value);
        },
      },
    },
    watch: {
      isVisible(value) {
        if (value) this.users = _.cloneDeep(this.$store.state.visio.data.users) || [];
        else this.users = [];
      },
    },
    methods: {
      addUser() {
        this.users.push({
          name: '',
          role: 1,
          password: '',
        });
      },
      removeUser(index) {
        this.users.splice(index, 1);
      },
      saveChange() {
        this.$store.commit('SAVE_USERS_LIST_VISIO', this.users);
        this.isVisible = false;
      },
    },
  };
</script>

<style lang="stylus">
  .visio-user-list
    width: 100%;
    .el-button
      padding: 2px 4px;
    .el-input__inner
      height: 20px !important;
      line-height: 20px !important;
      padding: 0 5px !important;
    .el-select .el-input__suffix
      top: -2px;
    .el-select .el-input__suffix-inner
      display: inline-block;
</style>
