<template>
  <div style="height: 100%" v-loading="loading" element-loading-text="Загрузка...">
    <div v-for="(channel, index) in modbusChannels" :key="index" style="text-align: center; ">
      <h3>Channel {{index+1}}</h3>
      <zh-select
        :value.sync="channel.speed"
        :values="speeds"
        name="Скорость"
        @change="changeSettings"
      />
      <zh-select
        :value.sync="channel.parity"
        :values="parities"
        name="Четность"
        @change="changeSettings"
      />
      <zh-select
        :value.sync="channel.stopBits"
        :values="stopBits"
        name="Стоп бит"
        @change="changeSettings"
      />
    </div>
  </div>
</template>
<script>
  export default {
    props: ['device'],
    data() {
      return {
        speeds: [
          {
            label: '2400',
            value: 2400,
          },
          {
            label: '4800',
            value: 4800,
          },
          {
            label: '9600',
            value: 9600,
          },
          {
            label: '19200',
            value: 19200,
          },
          {
            label: '38400',
            value: 38400,
          },
          {
            label: '76800',
            value: 76800,
          },
          {
            label: '115200',
            value: 115200,
          },
        ],
        parities: [
          {
            label: 'NONE',
            value: 0,
          },
          {
            label: 'EVEN',
            value: 1,
          },
          {
            label: 'ODD',
            value: 2,
          },
        ],
        stopBits: [
          {
            label: '1',
            value: 1,
          },
          {
            label: '2',
            value: 2,
          },
        ],

        modbusChannels: null,
        loading: false,
      };
    },
    computed: {},
    watch: {
      device: {
        deep: true,
        immediate: true,
        handler(val) {
          if (val) this.modbusChannels = _.cloneDeep(val.modbus);
        },
      },
    },
    mounted() {
    },
    methods: {
      changeSettings() {
        this.$store.commit('SAVE_MODBUS_CONFIG', { device: this.device, settings: this.modbusChannels });
      },

    },
  };
</script>
<style lang="stylus" scoped>
  h3
    margin: 2px
</style>

