<template>
  <div>
    <zh-wrapper name="Состояние">
      <div class="dot-status" :class="[device.params.isOnline ? 'online' : '']"/>
    </zh-wrapper>
    <zh-wrapper name="Сопряжение">
      <el-select
        :value="device.params.mac"
        placeholder="Выберите устройство"
        @change="initCombine"
        :disabled="device.params.mac !== '00:00:00:00:00:00'"
        no-data-text="Устройства не найдены"
      >
        <el-option
          v-for="item in filteredFindDevices"
          :key="item.mac"
          :value="item.mac"
          :disabled="item.disabled"
        >
          <div
            style="width: 300px; display: flex; flex-direction: row; justify-content: space-between"
          >
            <span>{{ item.mac }}</span>
            <span style="color: #8492a6; font-size: 13px">{{ item.ip}}</span>
          </div>
        </el-option>
      </el-select>
      <zh-button-icon
        style="margin-left:5px"
        type="success"
        icon="sync"
        label="Обновить список"
        @click="updateListDevices"
      />
      <zh-button-icon
        style="margin-left:5px"
        type="danger"
        icon="trash-alt"
        label="Разорвать связь"
        @click="removeCombine"
      />
      <zh-button-icon
        style="margin-left:5px"
        type="primary"
        icon="redo"
        label="Перезагрузить устройство"
        @click="resetDevice"
        :disabled="!this.device.params.isOnline"
      />
    </zh-wrapper>
    <zh-wrapper name="MAC адрес">{{device.params.mac}}</zh-wrapper>
    <zh-wrapper name="Текущий IP адрес">{{device.params.isOnline ? device.params.actualIP: "-"}}</zh-wrapper>
    <zh-wrapper
      name="Время контроллера"
    >{{device.params.isOnline ? device.params.timeController : "-"}}</zh-wrapper>
  </div>
</template>

<script>
  import { ipcRenderer as ipc } from 'electron'; //eslint-disable-line
  export default {
    name: 'status-and-combine-device',
    props: ['device'],
    data() {
      return {};
    },
    computed: {
      filteredFindDevices() {
        const devicesMAC = _.flatten(this.$store.state.structData.devices.tree.elements)
          .filter(el => el.params.mac !== '00:00:00:00:00:00')
          .map(el => el.params.mac);
        return this.$store.state.structData.findedDevices.map(el => {
          el.disabled = el.fnTypeCode !== this.device.params.fnTypeCode;
          if (devicesMAC.find(mac => mac === el.mac)) el.disabled = true;
          return el;
        });
      },
    },
    methods: {
      initCombine(val) {
        const selectItem = this.filteredFindDevices.find(el => el.mac === val);
        if (selectItem) this.$store.commit('SET_COMBINE_DEVICE', { device: this.device, data: selectItem });
      },
      removeCombine() {
        this.$store.commit('REMOVE_COMBINE_DEVICE', this.device);
      },
      updateListDevices() {
        ipc.send('finderDevices:find');
      },
      resetDevice() {
        ipc.send('finderDevices:resetDevice', this.device.params.mac);
        this.$store.commit('SET_STATUS_DEVICE', { device: this.device });
      }
    },
  };
</script>



