<template>
  <div class="container-template" :class="classList">
    <resize-observer @notify="checkViewMode" />
    <MenuComponent :data="data" :displayMode="viewMode"></MenuComponent>
      <main v-if="activeMenu" style="width: 100%; max-width:100%; overflow-x: scroll;">
        <WsBus v-if="activeMenu.type === 'settings'" />
        <component
          v-else-if="activeMenu"
          :is="activeMenu.settings.templateType"
          :data="activeMenu.widgets"
          :viewMode="viewMode"
          :menuUID="activeMenu.uid"
          :key="activeMenu.uid"
        />
      </main>
  </div>
</template>

<script>
  import MenuComponent from './components/MenuComponent';
  import ColumnsTemplate from './mainTemplates/ColumnsTemplate';
  import WsBus from './components/WsBus';
  
  export default {
    name: 'SiriusTemplate',
    components: {
      MenuComponent,
      ColumnsTemplate,
      WsBus,
    },
    props: {
      data: {
        type: Object,
      },
      mode: {
        type: String,
        default: 'produciton',
      },
    },
    data() {
      return {
        projectData: null,
        viewMode: null,
      };
    },
    computed: {
      classList() {
        return {
          mobile: this.viewMode === 'mobile',
          tablet: this.viewMode === 'tablet',
          desktop: this.viewMode === 'desktop',
        };
      },
      activeMenu() {
        return this.$store.state.visio.activeMenu;
      },
    },
    mounted() {
      // Check current width
      this.checkViewMode();
    },
    methods: {
      checkViewMode() {
        const width = this.$el.offsetWidth;
        if (width > 1024) this.viewMode = 'desktop';
        else if (width < 760) this.viewMode = 'mobile';
        else this.viewMode = 'tablet';
      },
    },
  };
</script>

<style lang="stylus">
  .container-template
    display: flex;
    position: relative;
    height: 100%;
    font-size: 12px;
    overflow: hidden;
    *
      outline: none !important;
  .el-radio-button:focus, .el-button:focus
    box-shadow: none !important;
  main
    overflow-y: auto;
  ul
    margin: 0;
    padding: 0;
    list-style: none;
  button, button:focus, button:active
    outline: none;
    border: none;
  .container-template.mobile
    font-size: 12px;
  .container-template.tablet
    font-size: 15px;
  .el-slider
    width: 100%;
  .el-slider__runway
    margin: 10px 0 !important;
</style>



