<template>
  <div>
    <SettingsWrapper v-if="dataTypes" name="Тип данных">
      <el-select
        :value="address.dataType"
        @change="changeEvent($event, 'dataType')"
        filterable
        :disabled="isTypeDisabled"
      >
        <ElOption v-for="(item, key) in dataTypes" :key="key" :label="`Тип ${item}`" :value="item" />
      </el-select>
    </SettingsWrapper>
    <SettingsWrapper v-if="address.address !== undefined" :name="`Адрес ${name}`">
      <el-select :value="address.address" @change="changeEvent($event, 'address')" filterable clearable>
        <ElOption v-for="(item, key) in filteredAddresses" :key="key" :label="item.name" :value="item.id">
          <div style="display: flex; justify-content: space-between; align-items: center">
            <span>{{ item.id }}</span>
            <span>{{ item.name }}</span>
          </div>
        </ElOption>
      </el-select>
    </SettingsWrapper>
    <SettingsWrapper v-if="address.status !== undefined" :name="`Статус ${name}`">
      <el-select :value="address.status" @change="changeEvent($event, 'status')" filterable clearable>
        <ElOption v-for="(item, key) in filteredAddresses" :key="key" :label="item.name" :value="item.id">
          <div style="display: flex; justify-content: space-between; align-items: center">
            <span>{{ item.id }}</span>
            <span>{{ item.name }}</span>
          </div>
        </ElOption>
      </el-select>
    </SettingsWrapper>
  </div>
</template>

<script>
  import SettingsWrapper from './SettingsWrapper';
  export default {
    props: {
      address: Object,
      dataTypes: Array,
      name: String,
      statusName: {
        type: String,
        default: 'Адрес статуса',
      },
    },
    name: 'SettingAddress',
    components: {
      SettingsWrapper,
    },
    computed: {
      addresses() {
        if (this.$store.state.structData) {
          return _.flatten(this.$store.state.structData.addresses.tree.elements).filter(el => el.bus === 1);
        }
        // !!!!Часть для тестирования. Будет удалена!!!!
        return [
          {
            name: 'адрес',
            id: 12,
            dataType: 1,
          },
          {
            name: 'адрес2',
            id: 20,
            dataType: 2,
          },
        ];
      },
      dataTypesList() {
        return this.dataTypes.map(el => ({
          label: `Тип ${el}`,
          value: el,
        }));
      },
      filteredAddresses() {
        return this.addresses.filter(el => el.dataType === this.address.dataType || el.dataType === null);
      },
      isTypeDisabled() {
        // !!!!Решение для просмотра списка адресов. Если Aurora в конфигураторе. !!!!
        if (this.$store.state.structData) {
          let dataTypeAddress = null;
          let dataTypeStatus = null;
          if (this.address.value)
            dataTypeAddress = this.$store.state.structData.addresses.getElementByID(this.address.value).dataType;
          if (this.address.status)
            dataTypeStatus = this.$store.state.structData.addresses.getElementByID(this.address.status).dataType;
          return dataTypeAddress !== null || dataTypeStatus !== null;
        }
        return false;
      },
    },
    methods: {
      changeEvent(val, name) {
        const newValue = Object.assign({}, this.address);
        newValue[name] = val;
        this.$emit('change', newValue);
      },
    },
  };
</script>

