<template>
  <li
    class="tree__element"
    v-show="isShow"
    :data-id="element.id"
    :data-parent_id="element.parentID"
    :data-type="element.type"
    :data-name="element.name"
    :class="{ 'tree__element--selected': isSelectElement }"
    draggable
  >
    <icon
      v-if="element.subtype === 'device'"
      :icon="['fas', 'circle']"
      :class="element.params.isOnline ? 'tree__element__icon--active' : 'tree__element__icon'"
    />
    <icon v-else :icon="['far', 'paper-plane']" />
    {{ element.name }} ID:{{ element.id }}
  </li>
</template>

<script>
  export default {
    name: 'elementTree',
    props: ['data', 'element', 'isEdit'],
    data() {
      return {};
    },
    computed: {
      // Проверка есть ли среди выбранных элементов структуры данный элемент
      isSelectElement() {
        return this.data.props.changeElement === this.element;
      },
      isShow() {
        return !(this.isEdit && this.isSelectElement);
      },
    },
  };
</script>

<style lang="stylus">
  .tree__element__icon
    color: #606266;
  .tree__element__icon--active
    color: #67C23A;
</style>
