<template>
  <ul>
    <!-- Строим элемент папка-->
    <li
      class="tree__element"
      v-show="isShow"
      :class="{ 'tree__element--selected': isSelectElement }"
      :data-id="element.id"
      :data-parent_id="element.parentID"
      :data-type="element.type"
      :data-name="element.name"
      @dblclick="toggleOpen"
      draggable
    >
      <el-button type="text" @click="toggleOpen()" :icon="iconOpen"></el-button>
      {{ element.name }}
    </li>
    <!-- Отображения дочерних компонентов текущей папке-->
    <li class="tree__element__children" v-show="element.isOpen">
      <folder-tree
        v-for="folder in childFolders"
        :data="data"
        :element="folder"
        :isEdit="isEdit"
        :addType="addType"
        :key="`${folder.name}${folder.id}`"
      ></folder-tree>
      <element-tree
        v-for="element in childElements"
        :data="data"
        :element="element"
        :isEdit="isEdit"
        :key="`${element.name}${element.id}`"
      ></element-tree>
    </li>
  </ul>
</template>

<script>
  import ElementTree from './ElementTree';
  export default {
    name: 'folderTree',
    components: {
      ElementTree,
    },
    props: ['data', 'element', 'device', 'isEdit', 'addType'],
    mixins: [],
    data() {
      return {};
    },
    computed: {
      // Проверка есть ли среди выбранных элементов структуры данный элемент
      isSelectElement() {
        return this.data.props.changeElement === this.element;
      },
      isShow() {
        return !(this.isEdit && this.isSelectElement && this.addType === null);
      },
      iconOpen() {
        if (this.element.isOpen) return 'el-icon-caret-bottom';
        return 'el-icon-caret-right';
      },
      // Проверить. На возможность рефакторинга!!!
      childElements() {
        const elements = this.data.tree.elements[this.element.id];
        if (this.data.type === 'addresses') return elements.filter(address => address.bus === 1);
        // !!! Временный костыль для сортировки дерева доступных блоков для устройства. Требуется переписать!!!
        if (this.device && this.data.type === 'blocks')
          return elements.filter(el => (el.deviceTypes ? el.deviceTypes.includes(this.device.fnType) : false));
        return elements;
      },
      childFolders() {
        return this.data.tree.folders[this.element.id].filter(el => !el.hidden);
      },
      dragGlobal() {
        return this.$store.state.main.drag;
      },
    },
    watch: {},
    methods: {
      toggleOpen() {
        this.$store.commit('TOGGLE_OPEN_FOLDER_TREE', this.element);
      },
    },
  };
</script>

<style lang="stylus"></style>

