
<template>
  <div class="tree" :style="{ width: width }" @click="activeComponent">
    <!-- Верхнее меню Дерева -->
    <div class="tree__menu" @click.self="selectElement">
      <span class="tree__menu__name">{{ data.tree.name }}</span>
      <TreeMenu v-if="isEditable" :data="data" @initAdd="initAdd" />
    </div>
    <!-- Основной компонент дерева-->
    <ul
      class="tree__element__children tree__main tree__element"
      data-type="folder"
      data-id="0"
      :class="{ 'active-component': isActiveComponent }"
      @contextmenu.prevent.stop="contextMenuOpen"
      @dragstart.stop="handlerDragstart"
      @dragend.stop="handlerDragend"
      @dragenter.stop="handlerDragenter"
      @dragover.stop="handlerDragover"
      @dragleave="handlerDragleave"
      @click="selectElement"
      @drop.prevent.stop="dropEvent"
      draggable="false"
    >
      <!-- Children elements -->
      <folder-tree
        v-for="item in childFolders"
        :data="data"
        :element="item"
        :device="device"
        :isEdit="isEdit"
        :addType="addType"
        :key="`folder__${item.name}__${item.id}`"
      ></folder-tree>
      <element-tree
        v-for="element in childElements"
        :data="data"
        :element="element"
        :isEdit="isEdit"
        :key="`${element.name}__${element.id}`"
      ></element-tree>
    </ul>

    <!-- Other components -->
    <resize-block @resize="resize"></resize-block>
    <!-- Tree context menu -->
    <vue-context ref="menuTree" :close-on-click="true">
      <template slot-scope="child">
        <ul v-if="child.data">
          <li v-if="child.data.type === 'folder'" @click="initAdd('folder')">Добавить папку</li>
          <li v-if="child.data.type === 'folder' && data.type === 'addresses'" @click="initAdd('element')">
            {{
              `Добавить
            ${elementName}`
            }}
          </li>
          <li
            v-if="child.data.type === 'element' && data.type === 'devices'"
            @click="uploadSettings(child.data, 'config')"
          >
            Загрузить конфигурацию
          </li>
          <li
            v-if="child.data.type === 'element' && data.type === 'devices'"
            @click="uploadSettings(child.data, 'settingsDevice')"
          >
            Загрузить настройки
          </li>
          <li v-if="isCopy" @click="copyElement">Копировать</li>
          <li v-if="isPaste" @click="pasteElement">Вставить</li>
          <li v-if="!(child.data.type === 'folder' && child.data.id === 0)" @click="toggleEditElement">
            Редактировать
          </li>
          <li v-if="!(child.data.type === 'folder' && child.data.id === 0)" @click="deleteElement(child.data)">
            Удалить
          </li>
        </ul>
      </template>
    </vue-context>
    <!-- Add folder or element -->
    <AddElement
      v-if="isEdit && addType !== null"
      :addType="addType"
      @change="addElement"
      @cancel="cancelAddElement"
      ref="addElementBlock"
    />
    <EditElement
      v-if="isEdit && addType === null"
      :element="changeElement"
      :data="data"
      @change="changeEditElement"
      @cancel="toggleEditElement"
      ref="editElementBlock"
    />
  </div>
</template>


<script>
  import ResizeBlock from '@/components/other/ResizeBlock';
  import { VueContext } from 'vue-context';
  import TreeMenu from './serviceComponents/TreeMenu';
  import FolderTree from './FolderTree';
  import ElementTree from './ElementTree';
  import AddElement from './serviceComponents/AddElement';
  import EditElement from './serviceComponents/EditElement';
  import { ipcRenderer as ipc } from 'electron'; //eslint-disable-line

  export default {
    components: {
      TreeMenu,
      FolderTree,
      ElementTree,
      VueContext,
      AddElement,
      ResizeBlock,
      EditElement,
    },
    props: {
      data: Object,
      device: Object,
      elementName: String,
      widthName: String,
      isEditable: {
        default: true,
      },
    },
    data() {
      return {
        dragElement: null,
        isDragGlobalType: null,
        isFirstHalfValue: null,
        addType: null,
        typeInput: null,
        placeholderEl: null,
        dropHoverEl: null,
        dropHoverDOM: null,
        width: '250px',
        isEdit: false,
      };
    },

    computed: {
      changeElement() {
        return this.data.props.changeElement;
      },
      childFolders() {
        return this.data.tree.folders[0].filter(el => !el.hidden);
      },
      childElements() {
        const elements = this.data.tree.elements[this.data.tree.id];
        if (this.data.type === 'addresses') return elements.filter(address => address.bus === 1);
        return elements;
      },
      dragGlobal() {
        return this.$store.state.main.drag;
      },
      notEdit() {
        return !this.isEdit && !this.addType;
      },
      isActiveComponent() {
        return this.$store.state.main.activeComponent === this.data;
      },
      isPasteCopy() {
        return this.isEditable && this.changeElement && this.isActiveComponent;
      },
      isPaste() {
        return this.isPasteCopy && this.$store.state.main.bufferCopy && this.changeElement.type === 'folder';
      },
      isCopy() {
        return this.isPasteCopy && this.changeElement.type === 'element';
      },
    },
    watch: {
      // Обработка глобального события Drag
      dragGlobal(val) {
        if (val.type) {
          // Добавления нового устройства.
          if (val.type === 'newDevices' || (val.type === 'newBlock' && this.data.type === 'blocks'))
            this.isDragGlobalType = 'folder';
          // Отработка события перетягивания объекта на адрес
          if (val.type === 'socket' && this.data.type === 'addresses') this.isDragGlobalType = 'element';
        } else {
          this.isDragGlobalType = null;
          this.clearDropClass();
        }
      },
      notEdit(val) {
        [...this.$el.querySelectorAll('.tree__element')].forEach(el => {
          el.setAttribute('draggable', val);
        });
      },
    },
    mounted() {
      /** Создаем компонент placeholder */
      this.placeholderEl = document.createElement('div');
      this.placeholderEl.setAttribute('class', 'tree__placeholder');
      // Слушаем отработку клавиш копирования и вставки
      ipc.on('keyEvent:copy', this.copyElement);
      ipc.on('keyEvent:paste', this.pasteElement);
    },
    beforeDestroy() {
      ipc.removeListener('keyEvent:copy', this.copyElement);
      ipc.removeListener('keyEvent:paste', this.pasteElement);
    },
    methods: {
      /**
       * DnD interface
       */
      clearDropClass() {
        [...this.$el.getElementsByClassName('tree__element')].forEach(el => {
          el.classList.remove('drop-enter');
        });
      },
      /**
       * Drag interface
       */
      // Обработка события начала перетягивания элемента дерева.
      handlerDragstart(ev) {
        const element = this.getElementByDataset(ev.target.closest('.tree__element').dataset);
        // Проверка, что перед нами не корневой элемент
        if (this.isEditable || element.type === 'element') {
          if (this.notEdit && element !== this.data.tree) {
            ev.dataTransfer.dropEffect = 'move';
            ev.dataTransfer.effectAllowed = 'move';
            let text = '';
            text = element.name;
            ev.dataTransfer.setDragImage(this.$root.dragImage(text), 0, 0);
            this.dragElement = element;
            if (element.type === 'element')
              this.$store.commit('DRAG_GLOBAL', { data: this.dragElement, type: this.dragElement.subtype });
          }
        } else ev.preventDefault();
        this.$store.commit('SELECT_ELEMENT_TREE', { struct: this.data, element });
      },
      // Обработка события окончания  DnD элемента дерева
      handlerDragend() {
        this.dragElement = null;
        this.isFirstHalfValue = null;
        this.$store.commit('DRAG_GLOBAL_STOP');
        if (this.placeholderEl.parentNode) this.placeholderEl.parentNode.removeChild(this.placeholderEl);
        this.clearDropClass();
        this.dropHoverEl = null;
        this.dropHoverDOM = null;
      },
      /**
       * Drop interface
       *
       */
      // Обработка события перетягивания на доступный для drop элемент.
      handlerDragenter(ev) {
        if (this.isEditable) {
          if (!ev.target.classList.contains('tree__placeholder')) {
            const targetElementDOM = ev.target.closest('.tree__element');
            const targetElement = this.getElementByDataset(targetElementDOM.dataset);
            const isCurrentTargetLocalDrop = this.dragElement
              ? this.dragElement.type === targetElement.type ||
                (this.dragElement.type === 'element' && targetElement.type === 'folder')
              : false;
            const isCurrentTargetDragGlobal = targetElement.type === this.isDragGlobalType;
            // Проверяем, подходит ли target для данного drag Element
            let flag = false;
            if (isCurrentTargetDragGlobal) flag = true;
            else if (this.dragElement && isCurrentTargetLocalDrop) flag = true;

            // Если условия локального или глобального DnD актуальны. То сохраняем target drop;

            if (flag) {
              // if (false) targetElementDOM.classList.add('drop-enter');
              this.dropHoverDOM = ev.target.closest('.tree__element');
              this.dropHoverEl = this.getElementByDataset(this.dropHoverDOM.dataset);
            }
          }
        }
      },
      // Обработка события перетягивания на доступный для drop элемент, каждую мс.
      // для проверка положения над верхней половиной или нижней.
      handlerDragover(ev) {
        if (this.isEditable) {
          ev.preventDefault();
          if (this.dropHoverEl && !ev.target.classList.contains('tree__placeholder')) {
            // Случай для local DnD
            if (this.dragElement) {
              // Проверка на попытку вставить родительскую папку в дочернюю.
              const isCorrectFolderPlace = !this.dropHoverEl.tag.includes(this.dragElement.name);
              // элемент -> элемент
              if (
                this.dragElement.type === 'element' &&
                this.dropHoverEl.type === 'element' &&
                this.dropHoverEl.id !== this.dragElement.id
              ) {
                const insertTarget = this.isFirstHalf(ev) ? this.dropHoverDOM : this.dropHoverDOM.nextSibling;
                this.dropHoverDOM.parentNode.insertBefore(this.placeholderEl, insertTarget);
                // элемент -> папкa
              } else if (this.dragElement.type === 'element' && this.dropHoverEl.type === 'folder') {
                const insertBlock = this.dropHoverDOM.parentNode.getElementsByClassName('tree__element__children')[0];
                insertBlock.insertBefore(this.placeholderEl, insertBlock.lastChild.nextSibling);
                this.dropHoverDOM.classList.add('drop-enter');
                // папка -> папкa
              } else if (
                this.dragElement.type === 'folder' &&
                this.dropHoverEl.type === 'folder' &&
                this.dropHoverEl.id !== this.dragElement.id &&
                this.dropHoverEl.id !== this.dragElement.parentID &&
                isCorrectFolderPlace
              ) {
                const parentNode = this.dropHoverDOM.parentNode.getElementsByClassName('tree__element__children')[0];
                const insertTargetList = parentNode.querySelectorAll(':scope>ul');
                const insertTarget = insertTargetList.length
                  ? insertTargetList[insertTargetList.length - 1].nextSibling
                  : parentNode.firstChild;
                parentNode.insertBefore(this.placeholderEl, insertTarget);
                this.dropHoverDOM.classList.add('drop-enter');

                // отсутствует подходящий вариант
              } else if (this.placeholderEl.parentNode) {
                this.placeholderEl.parentNode.removeChild(this.placeholderEl);
              }
            }
          }
        }
        // Если событие drag global нужного типа
        if (this.dropHoverEl && this.isDragGlobalType === this.dropHoverEl.type) {
          this.dropHoverDOM.classList.add('drop-enter');
        }
      },

      // Уход от области drop элемента
      handlerDragleave(ev) {
        ev.target.closest('.tree__element').classList.remove('drop-enter');
      },

      // Проверка над какой половиной происходит перетягивание( Верхняя или нижняя половина)
      isFirstHalf(ev) {
        const mousePos = ev.offsetY;
        const itemSize = ev.target.offsetHeight;
        // const itemPos = ev.target.offsetTop;
        this.isFirstHalfValue = mousePos < itemSize / 2;
        return mousePos < itemSize / 2;
      },
      // Обработка события Drop Event
      dropEvent() {
        if (this.isEditable) {
          let promise = null;
          if (this.dragElement) promise = this.dropLocalEvent();
          else if (this.dragGlobal) promise = this.dropGlobalEvent();
          if (promise !== null) this.$root.$wrapperMsg(promise);
        }
        this.handlerDragend();
      },
      // Событие локального Drop Event
      dropLocalEvent() {
        const dataSend = {
          struct: this.data,
          element: this.dragElement,
          isFirstHalfValue: this.isFirstHalfValue,
          dropElement: null,
          parentID: null,
        };
        if (this.dropHoverEl.type === 'element' && this.dragElement.type === 'element') {
          dataSend.dropElement = this.dropHoverEl;
          dataSend.parentID = this.dropHoverEl.parentID;
        } else if (this.dropHoverEl.type === 'folder' && this.dragElement.type === 'element') {
          dataSend.parentID = this.dropHoverEl.id;
        } else if (this.dropHoverEl.type === 'folder' && this.dragElement.type === 'folder') {
          if (this.dragElement.id !== this.dropHoverEl.id && !this.dropHoverEl.tag.includes(this.dragElement.name))
            dataSend.parentID = this.dropHoverEl.id;
        }
        if (dataSend.parentID !== null) this.$store.commit('REPLACE_ELEMENT_TREE', dataSend);
      },
      // Обработка глобального события DnD
      // !!! Требуется проверка корректности работы.
      dropGlobalEvent() {
        let promise = null;
        // Рассматриваем случаи DnD структуры Addresses
        if (this.data.type === 'addresses') {
          if (this.dragGlobal.type === 'socket' && this.dropHoverEl.type === 'element') {
            promise = this.$store.dispatch('ADD_LINK', {
              socket: this.dragGlobal.data,
              address: this.dropHoverEl,
            });
          }
          // Рассматриваем случаи DnD структуры Devices
        } else if (this.data.type === 'devices') {
          if (this.dragGlobal.type === 'newDevices' && this.dropHoverEl.type === 'folder') {
            console.log('Кейс пуст');
            if (this.dragGlobal.data.length)
              promise = this.$store.dispatch('ADD_DEVICES_TREE', {
                devices: _.cloneDeep(this.dragGlobal.data),
                parent: this.dropHoverEl,
              });
          }
          // Рассматриваем случаи DnD структуры Blocks
        } else if (this.data.type === 'blocks') {
          if (this.dragGlobal.type === 'newBlock' && this.dropHoverEl.type === 'folder') {
            promise = this.$store.dispatch('ADD_BLOCK_TREE', {
              block: _.cloneDeep(this.dragGlobal.data),
              struct: this.data,
              parent: this.dropHoverEl,
              device: this.device,
            });
          }
        }
        return promise;
      },
      /**
       *
       *
       *
       * END  DnD interface
       */
      // Получем объект Store элемента по его id и типу( папка или элемент)
      getElementByDataset(dataset) {
        if (+dataset.id === 0 && dataset.type === 'folder') return this.data.tree;
        return dataset.type === 'element' ? this.data.getElementByID(+dataset.id) : this.data.getFolderByID(+dataset.id);
      },
      getElementDOM(el) {
        return this.$el.querySelector(`[data-id="${el.id}"][data-type="${el.type}"]`);
      },
      // Обработка события открытия элемента контекстного меню
      contextMenuOpen(ev) {
        this.activeComponent();
        const element = this.getElementByDataset(ev.target.dataset);
        if (this.notEdit && this.isEditable) {
          this.$store.commit('SELECT_ELEMENT_TREE', { struct: this.data, element });
          this.$nextTick(() => {
            if (this.$refs.menuTree) this.$refs.menuTree.open(ev, element);
          });
        }
      },
      // Инициализация события добавления элемента
      initAdd(type) {
        this.isEdit = true;
        this.addType = type;
        this.$nextTick(() => {
          const el = this.data.props.changeElement;
          const elDOM = this.getElementDOM(el);
          if (el.isOpen !== undefined && !el.isOpen) this.$store.commit('TOGGLE_OPEN_FOLDER_TREE', el);
          const isMain = el.type === 'folder' && el.id === 0;
          let targetNode = null;
          let insertPosition = null;
          // Определяем позицию вставки инпута. Корневая это папка или нет.
          if (isMain) {
            targetNode = this.$el.querySelector('.tree__main');
            insertPosition = targetNode.firstChild;
          } else {
            targetNode = elDOM.parentNode.querySelector('.tree__element__children');
            insertPosition = targetNode.firstChild;
          }
          if (this.$refs.addElementBlock.parentNode !== targetNode) {
            targetNode.insertBefore(this.$refs.addElementBlock.$el, insertPosition);
          }
        });
      },
      cancelAddElement() {
        this.isEdit = false;
        this.addType = null;
      },
      // Добавляем новые элемент в структуру
      addElement(name) {
        const promise = this.$store.dispatch('ADD_ELEMENT_TREE', {
          struct: this.data,
          name,
          parent: this.data.props.changeElement,
          type: this.addType,
        });
        this.$root.$wrapperMsg(promise);
        this.addType = null;
        this.isEdit = false;
      },
      deleteElement(element) {
        this.$confirm('Вы действительно хотите удалить папку/элемент?', 'Внимание', {
          confirmButtonText: 'Да',
          cancelButtonText: 'Отмена',
          type: 'warning',
        })
          .then(() => {
            let promise = null;
            if (element.subtype === 'address') promise = this.$store.dispatch('DELETE_ADDRESS', element);
            else if (element.subtype === 'device') promise = this.$store.dispatch('DELETE_DEVICE', element);
            else if (element.subtype === 'block')
              promise = this.$store.dispatch('DELETE_FUNC_BLOCK', { block: element, device: this.device });
            else if (element.type === 'folder')
              promise = this.$store.dispatch('DELETE_FOLDER_TREE', { struct: this.data, element, device: this.device });
            this.$root.$wrapperMsg(promise);
          })
          .catch(err => {
            console.log(err);
            this.$message({
              type: 'info',
              message: 'Удаление отменено',
            });
          });
      },
      // Загрузка конфигурации устройства
      uploadSettings(device, type) {
        if (device.params.isOnline) {
          this.$events.emit('configTCP:start');
          this.$events.once('configTCP:viewReady', () => {
            if (type === 'settingsDevice') {
              this.$electron.ipcRenderer.send('config:settings', device);
            }
            // Загрузка конфигурации
            if (type === 'config') {
              const addresses = _.flatten(this.$store.state.structData.addresses.tree.elements);
              if (device.params.isVisio) this.$electron.ipcRenderer.send('config:visio', { device, addresses });
              else this.$electron.ipcRenderer.send('config:blocks', { device, addresses });
            }
            this.$store.commit('SET_STATUS_DEVICE', { device });
          });
        } else
          this.$message({
            showClose: true,
            message: 'Устройство недоступно',
            type: 'error',
          });
      },
      // Событие выбора элемента в дереве
      selectElement(ev) {
        if (ev.target.dataset.id && ev.target.dataset.type && this.notEdit) {
          let element = null;
          // Проверяем на каком элементе сработало событие @click
          if (ev.target.classList.contains('tree__element')) {
            element = this.getElementByDataset(ev.target.dataset);
          } else if (ev.target.classList.contains('tree__main')) element = this.data.tree;
          this.$store.commit('SELECT_ELEMENT_TREE', { struct: this.data, element });
        }
      },
      // Переключения режима Редактирование элемента
      toggleEditElement() {
        this.isEdit = !this.isEdit;
        this.$nextTick(() => {
          if (this.isEdit) {
            const blockEdit = this.$refs.editElementBlock.$el;
            const targetDOM = this.getElementDOM(this.changeElement);
            targetDOM.parentNode.insertBefore(blockEdit, targetDOM);
          }
        });
      },
      // Сохранение изменений имени/id элемента TreeStruct
      changeEditElement(data) {
        this.isEdit = false;
        this.$store.commit('EDIT_ELEMENT_TREE', data);
      },
      // Событие resize
      resize(delta) {
        const styleEl = window.getComputedStyle(this.$el);
        const parentWidth = +this.$el.parentElement.getBoundingClientRect().width;
        const min = +styleEl.minWidth.split('px')[0];
        const max = +parentWidth * 0.8;
        let widthTemp = +styleEl.width.split('px')[0];
        widthTemp += delta;
        if (widthTemp >= max) this.width = `${max}px`;
        else if (widthTemp <= min) this.width = `${min}px`;
        else this.width = `${widthTemp}px`;
        const leftBlock = this.$el.parentElement.getElementsByClassName('main-container__block__second-el')[0];
        if (leftBlock) leftBlock.style.width = `calc(100% - ${this.width}`;
      },
      // Событие изменения активности компонента, для возможности использовать в нем горячие клавиши
      activeComponent() {
        this.$store.commit('SELECT_ACTIVE_COMPONENT', this.data);
      },
      // Событие копирование элемента в Tree Struct для возможности вставки его
      copyElement() {
        if (this.isCopy) {
          this.$store.commit('SET_COPY_BUFFER', this.changeElement);
          this.$message({
            showClose: true,
            message: 'Элемент успешно скопирован в буфер',
            type: 'success',
          });
        }
      },
      // Событие вставки элемента в Tree Struct
      pasteElement() {
        if (this.isPaste) {
          this.$store.dispatch('COPY_ELEMENT_TREE', {
            struct: this.data,
            element: this.$store.state.main.bufferCopy,
            parent: this.changeElement,
          });
        }
      },
    },
  };
</script>


<style lang="stylus">
  .tree
    position: relative;
    height: 100%;
    flex-shrink: 0;
    min-width: 180px;
    &__main
      height: calc(100% - 24px);
      padding-left: 0 !important;
      overflow: hidden;
      overflow-y: auto;
      height: calc(100% - 24px);
    &__main > ul >.tree__element
      padding-left: 0 !important;
    &__menu
      padding: 0 5px;
      font-size: 16px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #37474F;
      color: #FFF;
    &__menu__name
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    &__placeholder
      background-color: #d1e0eb;
      border: 1px solid #37474F;
      height: 1.2em;
    &__element
      padding-left: 5px;
      display: block;
      box-sizing: border-box;
      &:not(.tree__main):hover
        background-color: #F2F6FC;
      &--selected
        background: #C0C4CC;
        &:not(.tree__main):hover
          background: #909399;
      &__children
        padding-left: 5px;
        box-sizing: inherit;
    ul
      font-size: 15px;
      margin: 0;
      padding-left: 0;
      cursor: pointer;
      box-sizing: inherit;
    li
      font-size: 15px;
      line-height: 1.2em;
      list-style-type: none;
      cursor: pointer;
      box-sizing: inherit;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    button
      padding: 0;
      padding-right: 2px;
      margin: 0;
    span
      padding-left: 0;
    .drop-enter, .drop-enter + .tree__element__children
      background-color: #d1e0eb;
</style>
