
<template>
  <div class="block-add-element">
    <input-name
      v-if="addType"
      data-type="name"
      :msgName="msgName"
      @enter="changeEvent"
      @blur="cancelEvent"
    ></input-name>
  </div>
</template>
<script>
  import InputName from './InputName';
  export default {
    props: ['addType'],
    components: {
      InputName,
    },
    data() {
      return {

      }
    },
    computed: {
      msgName() {
        return this.addType === 'element' ? 'элемента' : 'папки'
      },
    },
    methods: {
      changeEvent(data) {
        this.$emit('change', data);
      },
      cancelEvent() {
        this.$emit('cancel');
      }
    }
  };
</script>

<style lang="stylus" scoped>
</style>
