<template>
  <li class="tree__edit">
    <InputName
      :startValue="dataName.value"
      msgName="элемента"
      @input="dataName = $event"
      @enter="saveEdit"
      data-type="name"
    />
    <InputName
      v-if="isEditID"
      :startValue="dataAddress.value"
      data-type="id"
      :arrayCheck="data.tree.elementsID"
      @input="dataAddress = $event"
      @enter="saveEdit"
    />
    <el-button size="mini" @click="cancelEdit">Отмена</el-button>
    <el-button size="mini" type="success" :disabled="!isBtnSave" @click="saveEdit">Сохранить</el-button>
  </li>
</template>


<script>
  import InputName from './InputName';
  export default {
    name: 'EditElement',
    props: ['element', 'data'],
    components: {
      InputName,
    },
    data() {
      return {
        dataName: {
          value: null,
          invalid: false,
        },
        dataAddress: {
          value: null,
          invalid: false,
        },
      };
    },
    computed: {
      isBtnSave() {
        return !this.dataName.invalid && !this.dataAddress.invalid;
      },
      isEditID() {
        return this.element && this.data.type === 'devices' && this.element.type === 'element';
      },
    },
    mounted() {
      this.dataName = {
        value: this.element.name,
        invalid: false,
      };
      this.dataAddress = {
        value: this.element.id,
        invalid: false,
      };
    },
    methods: {
      saveEdit() {
        if (this.isBtnSave) {
          const dataSend = {
            struct: this.data,
            element: this.element,
            name: this.dataName.value,
            address: this.dataAddress.value,
          };
          this.$emit('change', dataSend);
        }
      },
      cancelEdit() {
        this.$emit('cancel');
      },
    },
  };
</script>


<style lang="stylus">
  .block-edit
    display: block;
    box-sizing: border-box;
    text-align: center;
    margin-left: 0;
    padding-left: 0;
    &:hover
      background-color: transparent !important;
    .el-button
      padding: 3px 3px;
      margin-top: 3px;
</style>

