<template>
  <div v-if="type === 'name'">
    <el-input class="input-name" ref="inputName" size="mini" v-model="name" :placeholder="`Введите имя ${msgName}`"
      :class="{ 'input--error': $v.name.$invalid }" @focus="$v.name.$touch()" @blur="blurInput" @input="inputName">
      <template slot="prepend">Имя</template>
    </el-input>
    <span class="msg--error" v-if="$v.name.$invalid">{{`Неверное имя ${msgName}`}}</span>
  </div>
  <div v-else>
    <el-input class="input-name" ref="inputAddress" size="mini" v-model="address" placeholder="Введите адрес"
      :class="{ 'input--error': $v.address.$invalid || isDublicate }" @focus="$v.address.$touch()" @blur="blurInput"
      @input="inputAddress">
      <template slot="prepend">Адрес</template>
    </el-input>
    <span class="msg--error" v-if="$v.address.$invalid">Неправильный адрес</span>
    <span class="msg--error" v-if="isDublicate">Адрес занят</span>
  </div>
</template>

<script>
import { required, numeric } from 'vuelidate/lib/validators';
import nameValidate from '@/components/other/nameValidator';
export default {
  name: 'inputName',
  props: ['startValue', 'dataType', 'arrayCheck', 'msgName'],
  data() {
    return {
      name: this.startValue || null,
      address: this.startValue || null,
      type: this.dataType || 'name',
    };
  },
  validations: {
    name: {
      required,
      nameValidate,
    },
    address: {
      required,
      numeric,
    },
  },
  watch: {
    startValue(val) {
      this.name = val;
      this.address = val;
    },
  },
  computed: {
    isDublicate() {
      if (this.arrayCheck && +this.address !== this.startValue) {
        if (this.arrayCheck[this.address]) return true;
      }
      return false;
    },
  },
  mounted() {
    document.addEventListener('keyup', this.funcKeyUp);
    // Ловим фокусировку на input всегда
    this.$nextTick(() => {
      if (this.$refs.inputName) this.$refs.inputName.$el.children[1].focus();
    });
  },
  beforeDestroy() {
    document.removeEventListener('keyup', this.funcKeyUp);
  },
  methods: {
    funcKeyUp(ev) {
      if (ev.code === 'Escape') {
        this.$emit('blur');
      }
      if (ev.code === 'Enter') {
        if (this.dataType === 'name') {
          if (this.name && !this.$v.name.$invalid) {
            this.$emit('enter', this.name);
          }
        } else if (this.dataType === 'address') {
          if (this.address && !this.$v.address.$invalid) {
            this.$emit('enter', this.address);
          }
        }
      }

    },
    // Отработка инпута blur
    blurInput() {
      if (!this.name && !this.$v.name.$invalid) this.$emit('blur');
    },
    inputName() {
      this.$emit('input', { value: this.name, invalid: this.$v.name.$invalid });
    },
    inputAddress() {
      this.$emit('input', { value: +this.address, invalid: this.$v.address.$invalid || this.isDublicate });
    },
  },
};
</script>

<style lang="stylus">
.input-name
  box-sizing: border-box
  width: 100%
  height: 1.8em
  &-group__prepend
    border-radius: 0
    width: 30px
    padding: 0
    text-align: center
  input
    width: 100%
    height: 100% !important
    border-radius: 0
    &:focus
      border: 1px solid #409EFF
  .el-input-group__prepend
    border-radius: 0
    padding: 0
    width: 30px
    text-align: center
</style>
