<template>
  <div class="tree__menu__button-block" v-if="data.type !== 'funcBlocks'">
    <!-- Поднять вверх -->
    <el-tooltip
      v-if="isChangeElement"
      content="Поднять вверх"
      placement="bottom"
      :open-delay="1500"
    >
      <el-button
        class="tree__menu__button"
        size="mini"
        type="text"
        plain="plain"
        @click="moveElement('up')"
      >
        <icon icon="arrow-up"></icon>
      </el-button>
    </el-tooltip>
    <!-- Опустить вниз -->
    <el-tooltip
      v-if="isChangeElement"
      content="Опустить вниз"
      placement="bottom"
      :open-delay="1500"
    >
      <el-button
        class="tree__menu__button"
        size="mini"
        type="text"
        plain="plain"
        @click="moveElement('down')"
      >
        <icon icon="arrow-down"></icon>
      </el-button>
    </el-tooltip>
    <!-- Добавить адрес -->
    <el-tooltip
      v-if="data.type === 'addresses'"
      content="Добавить адрес"
      placement="bottom"
      :open-delay="1500"
    >
      <el-button
        class="tree__menu__button"
        size="mini"
        type="text"
        plain="plain"
        @click="initAdd('element')"
      >
        <icon :icon="['far', 'flag']"></icon>
      </el-button>
    </el-tooltip>
    <!-- Добавить устройство -->
    <el-tooltip
      v-if="data.type === 'devices'"
      content="Добавить устройство"
      placement="bottom"
      :open-delay="1500"
    >
      <el-button
        class="tree__menu__button"
        size="mini"
        type="text"
        plain="plain"
        @click="activeAddDevice"
      >
        <icon :icon="['far', 'lightbulb']"></icon>
      </el-button>
    </el-tooltip>
    <!-- Добавить папку в структуру -->
    <el-tooltip v-if="true" content="Создать папку" placement="bottom" :open-delay="1500">
      <el-button
        class="tree__menu__button"
        size="mini"
        type="text"
        plain="plain"
        @click="initAdd('folder')"
      >
        <icon :icon="['far', 'folder']"></icon>
      </el-button>
    </el-tooltip>
    <!-- Свернуть папки -->
    <el-tooltip content="Свернуть вложенные папки" placement="bottom" :open-delay="1500">
      <el-button
        class="tree__menu__button"
        size="mini"
        type="text"
        plain="plain"
        @click="collapseChild"
      >
        <icon :icon="['far', 'minus-square']"></icon>
      </el-button>
    </el-tooltip>
  </div>
</template>

<script>
  export default {
    props: ['data'],
    computed: {
      changeElement() {
        return this.data.props.changeElement;
      },
      isChangeElement() {
        if (this.changeElement) {
          if (this.changeElement.type === 'folder' && this.changeElement.id === 0) return false;
          return true;
        }
        return false;
      }
    },
    methods: {
      initAdd(type) {
        this.$store.commit('SELECT_ELEMENT_TREE', { struct: this.data, element: this.data.tree });
        this.$emit('initAdd', type);
      },
      collapseChild() {
        this.$store.commit('COLLAPSE_FOLDER', { struct: this.data, folder: this.data.tree });
      },
      activeAddDevice() {
        this.$store.commit('TOGGLE_ADD_DEVICE');
      },
      moveElement(direction) {
        this.$store.commit('MOVE_ELEMENT_TREE', {struct: this.data, element: this.changeElement, direction })
      }
    },
  };
</script>


<style lang="stylus" scoped>
  .tree__menu__button-block, .tree__menu__button
    color: #FFF;
    font-size: inherit;
    padding: 0;
    border: none;
    flex-shrink: 0;
    &:hover, &:active, &:focus
      background: transparent !important;
      border: transparent !important;
    span:focus
      outline: 0;
    +.tree__menu__button
      margin-left: 5px;
  .is-disabled
    background-color: transparent !important;
    border-color: transparent !important;
</style>
