<template >
  <div style="height: 100%; width: 100%" class="settings-wrapper">
    <el-tabs type="card">
      <el-tab-pane label="Основные">
        <zh-checkbox
          v-if="value !== undefined"
          :value="value"
          name="Удалять переменные при загрузке блока"
          @change="changeEvent"
        />
        <slot/>
      </el-tab-pane>
      <slot name="child"/>
    </el-tabs>
    <div class="error-message" v-if="$slots['error-message']">
      <slot name="error-message"/>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'wrapper-settings-block',
    props: ['value'],
    methods: {
      changeEvent(value) {
        this.$emit('update:value', value);
        this.$emit('change', value);
      },
    },
  };
</script>

<style lang="stylus">
  .settings-wrapper
    span.header
      display: block;
      width: 100%;
      font-weight: 600;
      text-align: center;
    .error-message
      position: relative
      bottom: 25px;
      width: 100%;
      padding: 0 5px;
      border: 1px solid #f56c6c;
      background-color: #fef0f0;
      color: #f56c6c;
      text-align: center;
      z-index: 9000;
    .el-tab-pane
      margin: 0 10px;
    .el-tabs
      height: inherit;
      .el-tabs__content
        overflow-y: auto;
        height: calc(100% - 55px);
</style>
