<template>
  <div v-if="device.params.isFBD">
    <el-button type="success" @click="activePlugin" style="margin-top: 70px">Открыть окно конфигурации</el-button>
  </div>
  <div v-else-if="device.params.isVisio">
    <el-button type="success" @click="activeVisioPlugin" style="margin-top: 70px">Открыть окно конфигурации</el-button>
  </div>
  <div v-else style="height: 100%">
    <component :is="device.fnType" :element="device" @change="saveConfig" :key="device.id"></component>
  </div>
</template>


<script>
  export default {
    name: 'configuration-device',
    props: {
      device: Object,
    },
    methods: {
      activePlugin() {
        this.$store.commit('TOGGLE_PLUGIN');
      },
      activeVisioPlugin() {
        this.$store.commit('TOGGLE_VISIO_PLUGIN');
        this.$store.commit('SET_PROJECT_DATA_VISIO', this.device.project);
      },
      saveConfig(value) {
        this.$store.dispatch('SAVE_SETTINGS_BLOCK', {
          oldBlock: this.device.blocks[0],
          newBlock: value,
          device: this.device,
        });
      },
    },
  };
</script>


