<template>
  <div id="modbus-terminal">
    <!-- Body table Monitor-->
    <div id="modbus-terminal__body" style="position: relative; overflow: hidden;">
      <el-table
        id="table-log-modbus"
        :data="telegramResponses"
        height="100%"
        style="width: 100%; max-width: 100%"
        size="mini"
        border
      >
        <el-table-column label="#" type="index" width="40"/>
        <el-table-column label="Команда">
          <el-table-column label="Канал" prop="channel"/>
          <el-table-column label="Адрес" prop="address"/>
          <el-table-column label="Регистр" prop="register"/>
          <el-table-column label="Тип команды" prop="type"/>
          <el-table-column label="Значение" prop="value"/>
        </el-table-column>
        <el-table-column label="Ответ">
          <el-table-column label="Статус" prop="status"/>
          <el-table-column label="Значение" prop="statusValue"/>
        </el-table-column>
      </el-table>
    </div>
    <!-- Block action( send data to Bus) -->
    <div id="modbus-terminal__action-block">
      <div>
        <span>Канал:</span>
        <el-select v-model="telegram.channel" size="mini" style="width: 60px">
          <el-option v-for="(channel, index) in device.modbus" :key="index" :value="index + 1"></el-option>
        </el-select>
      </div>
      <div>
        <span>Адрес:</span>
        <el-input
          v-model="telegram.address"
          size="mini"
          style="width: 80px"
          :class="{ 'input--error': isErrorTelegram.address }"
        />
      </div>
      <div>
        <span>Регистр:</span>
        <el-input
          v-model="telegram.register"
          size="mini"
          style="width: 80px"
          :class="{ 'input--error': isErrorTelegram.register }"
        />
      </div>
      <div>
        <span>Тип команды:</span>
        <el-select v-model="telegram.type" size="mini" style="width: 60px">
          <el-option
            v-for="(type, index) in telegramTypes"
            :key="index"
            :label="type.value"
            :value="type.value"
          >
            <div style="display: flex; justify-content: space-between">
              <span>{{ type.label }}</span>
              <span style="margin-left: 10px; color: #8492a6; font-size: 13px">{{ type.value }}</span>
            </div>
          </el-option>
        </el-select>
      </div>
      <div>
        <span>Значение:</span>
        <el-input
          v-model="telegram.value"
          size="mini"
          style="width: 80px"
          :class="{ 'input--error': isErrorTelegram.value && !isValueDisable }"
          :disabled="isValueDisable"
        />
      </div>
      <div>
        <el-button
          style="margin-left: 10px"
          type="primary"
          size="mini"
          @click="sendTelegram"
          :disabled="isCantSend"
        >Отправить</el-button>
        <el-checkbox
          v-model="autoScroll"
          style="margin-left: 20px"
          @change="autoScrollEvent"
        >Прокрутка</el-checkbox>
        <el-button type="primary" size="mini" @click="telegramResponses = []">Очистить</el-button>
      </div>
    </div>
  </div>
</template>



<script>
  import { ipcRenderer as ipc } from 'electron'; //eslint-disable-line
  export default {
    name: 'ModbusTerminal',
    props: ['device'],
    components: {},
    data() {
      return {
        telegram: {
          channel: 1,
          address: 1,
          register: 1,
          type: 1,
          value: 0,
        },
        isErrorTelegram: {
          address: false,
          register: false,
          value: false,
        },
        telegramResponses: [],
        tableBodyElement: null,
        tableViewElement: null,
        autoScroll: true,
      };
    },
    computed: {
      isCantSend() {
        return Object.values(this.isErrorTelegram).reduce((value, result) => result || value);
      },
      isValueDisable() {
        return [1, 2, 3, 4].includes(this.telegram.type);
      },
      telegramTypes() {
        return this.$store.state.main.msgModbusTypes
      }
    },

    watch: {
      telegram: {
        deep: true,
        handler() {
          this.isErrorTelegram.address = this.checkNumber(this.telegram.address, 0, 247);
          this.isErrorTelegram.register = this.checkNumber(this.telegram.register, 0, 65535);
          const range = [5, 15].includes(this.telegram.type) ? [0, 1] : [0, 65535];
          this.isErrorTelegram.value = this.checkNumber(this.telegram.value, ...range);
        },
      },
    },
    mounted() {
      // Данные элементы нужны для корректной автоматической прокрутки
      this.tableBodyElement = document.querySelector('#table-log-modbus .el-table__body');
      this.tableViewElement = document.querySelector('#table-log-modbus .el-table__body-wrapper');
      this.$nextTick(() => {
        // const el = document.getElementById('modbus-terminal__action-block');
      });
    },
    beforeDestroy() {},
    methods: {
      sendTelegram() {
        ipc.send('config:sendMsgModbus', { device: this.device, data: this.telegram });
        ipc.once('config:sendMsgModbus:response', (event, data) => {
          if (data.status === 'ok') {
            this.$message({
              showClose: true,
              message: 'Сообщение отправлено успешно',
              type: 'success',
            });
            this.telegramResponses.push(data.response);
            this.$nextTick(this.autoScrollEvent);
          } else {
            this.$message({
              showClose: true,
              message: 'Не удалость отправить',
              type: 'error',
            });
            const errorResponse = _.clone(this.telegram);
            errorResponse.value = [1, 2, 3, 4].includes(this.telegram.type) ? '-' : this.telegram.value;
            errorResponse.status = 'Not connect';
            errorResponse.statusValue = '-';
            this.telegramResponses.push(errorResponse);
          }
        });
      },
      autoScrollEvent() {
        if (this.autoScroll) this.tableViewElement.scrollTop = this.tableBodyElement.clientHeight;
      },
      checkNumber(value, min, max) {
        return parseInt(value, 10) !== +value || value < min || value > max;
      },
    },
  };
</script>

<style lang='stylus'>
  #modbus-terminal
    border-top: 1px solid #bdbdbd
    height: 100%
    display: flex
    flex-direction: column
    &__body
      height: 100%
      .el-table__header tr > *
        background: #E4E7ED
        text-align: center
    &__action-block
      flex-shrink: 0
      display: flex
      align-items: center
      justify-content: space-between
      flex-wrap: wrap
      padding: 5px
      background-color: #E4E7ED
      & > *
        margin-top: 3px
      .action-block__select
        display: inline-block
        padding-top: 5px
        & + .action-block__select
          margin-left: 5px
        & > span
          padding-left: 5px
      .el-button
        margin-left: 5px
</style>



