<template>
  <div id="OneWireConfig">
    <div class="container-config" v-loading="loading" element-loading-text="Загрузка...">
      <!--Контейнер найденых сенсоров -->
      <div id="block-find">
        <!--Блок кнопок синхронизации с контроллером -->
        <div class="block-header">
          <p>Найденные устройства</p>
          <el-button type="success" style="padding: 3px" size="mini" @click="reqSettings">
            <icon icon="sync"/>
          </el-button>
        </div>
        <el-table
          ref="findTable"
          style="height: calc(100% - 60px); width: 100%; max-width: 100%"
          :data="findSensors"
          empty-text="Список пуст. Обновите список устройств"
          border
          @selection-change="selectedSensors"
        >
          <el-table-column type="selection" width="30"></el-table-column>
          <el-table-column label="#" type="index" width="30"></el-table-column>
          <el-table-column label="ID(ROM)" prop="id" min-width="200"></el-table-column>
          <el-table-column label="Показания" prop="value" width="100"></el-table-column>
          <el-table-column label="Управление" width="100">
            <template slot-scope="scope">
              <el-button
                type="success"
                style="padding: 3px"
                :disabled="checkDevice(scope.row)"
                @click="saveSensor(scope.row)"
              >
                <icon icon="save"/>
              </el-button>
            </template>
          </el-table-column>
        </el-table>
        <div style="padding: 3px; text-align: center">
          <el-button
            type="success"
            size="mini"
            @click="saveSelected"
            :disabled="selectedFindSensors.length === 0"
          >Добавить выбранные</el-button>
        </div>
      </div>
      <!--Контейнер сохранненых сенсоров -->
      <div id="block-save">
        <!--Блок кнопок синхронизации с контроллером -->
        <div class="block-header">
          <p>Устройства в проекте</p>
        </div>
        <el-table
          style="height: calc(100% - 60px); width: 100%; max-width: 100%"
          :data="saveSensors"
          empty-text="Список пуст"
          border
        >
          <el-table-column label="#" type="index" width="30"></el-table-column>
          <el-table-column label="Имя" min-width="140">
            <template slot-scope="scope">
              <span v-if="!isEditMe(scope.row)">{{scope.row.name}}</span>
              <el-input
                ref="inputEdit"
                v-model="editSensor.name"
                placeholder="Имя"
                v-if="isEditMe(scope.row)"
                size="mini"
                style="width: 100px"
                @change="saveName"
                @blur="cancelEditName"
              />
              <el-button
                class="button-edit"
                v-if="isEditMe(scope.row)"
                type="success"
                size="mini"
                @click="saveName"
              >
                <icon icon="save"/>
              </el-button>
            </template>
          </el-table-column>
          <el-table-column label="ID(ROM)" prop="id" min-width="160"></el-table-column>
          <el-table-column label="Показания" prop="value"></el-table-column>
          <el-table-column label="Управление" width="95">
            <template slot-scope="scope">
              <el-button
                class="button-edit"
                size="mini"
                @click="initEdit(scope.row, scope.$index)"
                :disabled="!!editSensor"
              >
                <icon icon="edit"/>
              </el-button>
              <el-button
                type="warning"
                class="button-edit"
                size="mini"
                @click="deleteElement(scope.$index)"
                :disabled="!!editSensor"
              >
                <icon icon="trash"/>
              </el-button>
            </template>
          </el-table-column>
        </el-table>
        <div style="display: flex; justify-content: space-around; padding: 3px">
          <el-button type="success" size="mini" @click="isAddSensor = true">Добавить вручную</el-button>
        </div>
      </div>
    </div>
    <!-- Dialog. Manual enter new Sensor-->
    <el-dialog
      title="Добавление сенсора"
      :visible.sync="isAddSensor"
      id="dialog-add-sensor"
      @close="stopAddSensor"
    >
      <span>Имя</span>
      <el-input
        v-model="newName"
        :class="{ 'input--error': newName.length < 2 }"
        size="mini"
        style="width: 120px; padding-right: 10px"
      ></el-input>
      <span>ID</span>
      <div v-for="(item, index) in newSensorID" :key="index" style="display:inline-block;">
        <el-input
          v-model="newSensorID[index]"
          :class="{ 'input--error': !checkValueID(newSensorID[index]) }"
          size="mini"
          style="width: 40px;"
          :maxlength="2"
        />
        <span v-if="index !== newSensorID.length - 1">:</span>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="stopAddSensor">Отмена</el-button>
        <el-button type="primary" @click="addSensor">Добавить</el-button>
      </span>
    </el-dialog>
  </div>
</template>


<script>
  import { ipcRenderer as ipc } from 'electron'; // eslint-disable-line
  export default {
    props: ['device'],
    data() {
      return {
        selectedFindSensors: [],
        editSensor: null,
        editSensorIndex: null,
        timerCancelSaveName: null,
        loading: false,
        isAddSensor: false,
        newName: '',
        newSensorID: [null, null, null, null, null, null, null, null],
        isCorrect: false,
        timerReqValue: null,
      };
    },
    computed: {
      findSensors: vm => vm.device.oneWire.findSensors,
      saveSensors: vm => vm.device.oneWire.saveSensors,
    },
    mounted() {
      // Start req values of sensor every 10sec
      this.reqValueSensors();
    },
    beforeDestroy() {
      clearTimeout(this.timerReqValue);
      ipc.removeAllListeners('config:reqValueOneWire:response');
    },
    methods: {
      // Check is saveSensors array include Element
      checkDevice(el) {
        return !!this.saveSensors.find(element => element.id === el.id);
      },
      selectedSensors(val) {
        this.selectedFindSensors = _.cloneDeep(val);
      },
      // Save selected sensors to saveSensors array
      saveSelected() {
        this.selectedFindSensors.forEach(el => {
          this.saveSensor(el);
        });
        this.selectedFindSensors = [];
        this.$refs.findTable.clearSelection();
      },
      // add Element to saveSensors array
      saveSensor(el) {
        const newElement = _.cloneDeep(el);
        newElement.name = this.checkName();
        let newArray = _.clone(this.saveSensors);
        newArray.push(newElement);
        newArray = _.uniqBy(newArray, 'id');
        this.changeSettings(this.findSensors, newArray);
      },
      // Check duplicate name at new Device or edit Device
      checkName(newName = 'Датчик', array = this.saveSensors) {
        let countName = 0;
        let pureName = 0;
        let name = newName;
        // Проверка на имя без индекса
        array.forEach(el => {
          if (el.name.split('(')[0] === name) countName += 1;
          if (el.name === name) pureName += 1;
        });
        if (countName === 0 || pureName === 0) return name;
        // Проверка если есть имена с индексом
        let i = 1;
        while (i) {
          name = `${name.split('(')[0]}(${i})`;
          let count = 0;
          for (let i = 0; i < array.length; i += 1) {
            if (array[i].name === name) count += 1;
          }
          i = count ? i + 1 : 0;
        }
        return name;
      },
      // start edit Element name
      initEdit(element) {
        this.editSensor = _.cloneDeep(element);
        this.$nextTick(() => {
          this.$refs.inputEdit.focus();
        });
      },
      // Check is edit that sensor
      isEditMe(element) {
        if (this.editSensor) return this.editSensor.id === element.id;
        return false;
      },
      // Delete sensor from saveSensors
      deleteElement(index) {
        const newArray = _.clone(this.saveSensors);
        newArray.splice(index, 1);
        this.changeSettings(this.findSensors, newArray);
      },
      // Save new Sensor name
      saveName() {
        clearTimeout(this.timerCancelSaveName);
        if (this.editSensor.name.length > 2) {
          this.editSensor.name = this.checkName(this.editSensor.name);
          const newArray = _.clone(this.saveSensors);
          const index = newArray.findIndex(el => el.id === this.editSensor.id);
          if (index !== -1) newArray.splice(index, 1, this.editSensor);
          this.editSensor = null;
          this.changeSettings(this.findSensors, newArray);
        }
      },
      // Cancel edit name sensor
      cancelEditName() {
        this.timerCancelSaveName = setTimeout(() => {
          this.editSensor = null;
        }, 200);
      },
      // Check part of ID new Sensor
      checkValueID(val) {
        const regExp = /^[0-9a-fA-F]+$/;
        return regExp.test(val);
      },
      // Stop manual enter new sensor
      stopAddSensor() {
        this.newName = '';
        this.newSensorID.forEach((el, index) => {
          this.newSensorID[index] = null;
        });
        this.isAddSensor = false;
      },
      // Add new sensor from manual enter
      addSensor() {
        const errorsInput = document.querySelectorAll('#dialog-add-sensor .is-error');
        if (errorsInput.length === 0) {
          const sensor = {
            id: this.newSensorID.join(':'),
            name: this.newName,
            value: '',
          };
          let newArray = _.clone(this.saveSensors);
          newArray.push(sensor);
          newArray = _.uniqBy(newArray, 'id');
          this.changeSettings(this.findSensors, newArray);
          this.stopAddSensor();
        }
      },
      // Save settings at Store
      changeSettings(arrayFind, arraySave) {
        this.$store.commit('SAVE_ONEWIRE_DEVICES', {
          device: this.device,
          findSensors: arrayFind,
          saveSensors: arraySave,
        });
      },

      /**
       *  Communicate with controller
       */
      // Request list of sensors
      reqSettings() {
        ipc.once('config:reqOneWire:response', (event, data) => {
          this.loading = false;
          if (data.status === 'ok')
            this.$message({
              showClose: true,
              message: 'Список устройств получен',
              type: 'success',
            });
          else
            this.$message({
              showClose: true,
              message: 'Запрос не удался',
              type: 'error',
            });
          if (data.sensors) {
            const newFindArray = data.sensors.map(el => {
              const data = {
                id: el,
                value: '-',
                active: true,
              };
              return data;
            });
            this.changeSettings(newFindArray, this.saveSensors);
          }
        });
        ipc.send('config:reqOneWire', this.device);
        this.loading = true;
      },
      // Request values of sensors
      reqValueSensors() {
        const sensors = _.clone(this.findSensors);
        this.saveSensors.forEach(el => {
          if (sensors.find(device => device.id === el.id) === undefined) sensors.push(el);
        });
        const sensorsID = sensors.map(el => el.id);
        if (sensorsID.length > 0) {
          ipc.once('config:reqValueOneWire:response', (event, data) => {
            console.log(data);
            if (data.values) this.setValueSensors(event, data.values, sensorsID);
          });
          ipc.send('config:reqValueOneWire', { device: this.device, sensors: sensorsID });
        }
        this.timerReqValue = setTimeout(this.reqValueSensors, 10000);
      },
      // Set values of sensors
      setValueSensors(event, values, sensors) {
        const arrayFind = _.cloneDeep(this.findSensors);
        const arraySave = _.cloneDeep(this.saveSensors);
        values.forEach((value, index) => {
          const sensorsToSet = [];
          const findSensor = arrayFind.find(el => el.id === sensors[index]);
          if (findSensor) sensorsToSet.push(findSensor);
          const saveSensors = arraySave.filter(el => el.id === sensors[index]);
          saveSensors.forEach(sensor => {
            sensorsToSet.push(sensor);
          });
          sensorsToSet.forEach(sensor => {
            sensor.active = !value === -127;
            sensor.value = value === -127 ? '-' : value.toFixed(2);
          });
        });
        this.changeSettings(arrayFind, arraySave);
      },
    },
  };
</script>
<style lang="stylus">
  #OneWireConfig
    height: 100%
    .container-config
      display: flex
      flex-direction: row
      height: 100%
      #block-find, #block-save
        width: 50%
      #block-find
        border-right: 1px solid #bdbdbd
    .button-edit
      padding: 3px
    .block-header
      display: flex
      justify-content: flex-end
      padding: 5px
      padding-bottom: 0
    p
      text-align: center
      margin: auto
    .el-table input
      padding: 0 5px
      line-height: 20px
      height: 20px
    #dialog-add-sensor input
      padding: 0 5px
</style>
