<template>
  <div style="height: 100%; overflow: auto">
    <el-collapse v-model="activePart" v-if="settings">
      <!-- Основные настройки -->
      <el-collapse-item title="Состояние" name="1">
        <StatusAndCombineDevice :device="device"/>
      </el-collapse-item>
      <!-- Сетевые настройки -->
      <el-collapse-item title="Сетевые настройки" name="2">
        <zh-checkbox :value.sync="settings.isDHCP" name="Использовать DHCP" @change="changeEvent"/>
        <div v-if="!settings.isDHCP">
          <zh-input :value.sync="settings.ip" name="IP адрес устройства" @change="changeEvent"/>
          <zh-input :value.sync="settings.gateway" name="Шлюз сети" @change="changeEvent"/>
          <zh-input :value.sync="settings.mask" name="Маска сети" @change="changeEvent"/>
        </div>
      </el-collapse-item>
      <!-- Настройки MODBUS -->
      <el-collapse-item title="Настройки Modbus" name="3" v-if="device.modbus">
        <div slot="title" class="title-modbus-config">
          <span>Настройки Modbus</span>
          <zh-button-icon
            type="succes"
            icon="upload"
            label="Запросить настройки"
            @click="reqSettingsModbus"
          />
          <zh-button-icon
            type="primary"
            icon="download"
            label="Отправить настройки"
            @click="syncSettingsModbus"
          />
        </div>
        <ModbusConfig :device="device"/>
      </el-collapse-item>
      <!-- Дополнительные настройки -->
      <el-collapse-item title="Дополнительные настройки" name="4">
        <zh-checkbox
          :value.sync="settings.variableSave"
          name="Сохранять переменные"
          @change="changeEvent"
        />
        <zh-checkbox
          v-if="device.knx"
          :value.sync="settings.isKNX"
          name="Использовать KNX"
          @change="changeEvent"
        >
          <zh-wrapper name="KNX адрес устройства" v-if="device.knx">
            <zh-input-address-knx :value.sync="settings.addressKNX" @change="changeEvent"/>
          </zh-wrapper>
          <zh-select :value.sync="settings.modeKNX" :values="modesKNX" name="Режим работы KNX"/>
          <zh-input
            v-if="settings.modeKNX === 1"
            :value.sync="settings.multicastKNX"
            name="IP адрес"
            @change="changeEvent"
          />
          <zh-input
            v-if="settings.modeKNX === 2"
            :value.sync="settings.tunnelKNX"
            name="IP адрес"
            @change="changeEvent"
          />
        </zh-checkbox>
      </el-collapse-item>
    </el-collapse>
    <!-- Кнопка получить настройки с устройства -->
    <div class="action-button-container">
      <el-tooltip content="Получить настройки" placement="left">
        <el-button
          type="primary"
          icon="el-icon-upload2"
          circle
          plain
          size="default"
          class="action__button"
          @click="requestSettings"
        />
      </el-tooltip>
      <!-- Кнопка загрузить настройки с устройства -->
      <el-tooltip content="Загрузить настройки" placement="left">
        <el-button
          type="primary"
          icon="el-icon-download"
          circle
          plain
          size="default"
          @click="uploadSettings"
          class="action__button"
        />
      </el-tooltip>
    </div>
  </div>
</template>

<script>
  import { ipcRenderer as ipc } from 'electron'; //eslint-disable-line
  import ModbusConfig from './configDeviceComponents/ModbusConfig';
  import StatusAndCombineDevice from './configDeviceComponents/StatusAndCombineDevice';
  export default {
    name: 'settings-device',
    props: ['device'],
    components: {
      ModbusConfig,
      StatusAndCombineDevice,
    },
    data() {
      return {
        activePart: [],
        settings: null,
        modesKNX: [
          {
            label: 'Routing',
            value: 1,
          },
          {
            label: 'Tunnel',
            value: 2,
          },
        ],
      };
    },
    computed: {},
    created() {
      this.settings = _.cloneDeep(this.device.settings);
    },
    watch: {
      /* eslint-disable-next-line */
      'device.settings'(val) {
        this.settings = _.cloneDeep(val);
      },
    },
    methods: {
      changeEvent() {
        this.$store.commit('SAVE_SETTINGS_DEVICE', {
          device: this.device,
          settings: this.settings,
        });
      },
      /** Modbus */
      // Загрузка настроек Modbus на устройство
      syncSettingsModbus(ev) {
        ev.stopPropagation();
        ipc.once('config:modbus:response', (event, data) => {
          this.loading = false;
          if (data.status === 'ok') {
            this.$message({
              showClose: true,
              message: 'Загрузка успешна',
              type: 'success',
            });
          } else
            this.$message({
              showClose: true,
              message: 'Загрузка не удалась',
              type: 'error',
            });
        });
        ipc.send('config:modbus', this.device);
        this.loading = true;
      },
      // Запрос настроек Modbus c устройства
      reqSettingsModbus(ev) {
        ev.stopPropagation();
        if (this.checkStatusDevice()) {
          ipc.send('config:reqModbus', this.device);
          ipc.once('config:reqModbus:response', (ev, data) => {
            this.saveSettingsDevice(data, 'modbus');
          });
        }
      },
      // Загрузка настроек на устройство
      uploadSettings() {
        if (this.checkStatusDevice()) {
          this.$events.emit('configTCP:start');
          this.$events.once('configTCP:viewReady', () => {
            ipc.send('config:settings', this.device);
            this.$store.commit('SET_STATUS_DEVICE', { device: this.device });
          });
        }
      },
      // Запрос настроек устройства
      requestSettings() {
        if (this.checkStatusDevice()) {
          ipc.send('config:reqSettings', this.device);
          ipc.once('config:reqSettings:response', (ev, data) => {
            this.saveSettingsDevice(data, 'settings');
          });
        }
      },
      // Проверка состояния устройства. В сети или нет.
      checkStatusDevice() {
        if (this.device.params.isOnline) return true;
        this.$message({
          showClose: true,
          message: 'Устройство недоступно',
          type: 'error',
        });
        return false;
      },
      // Сохранение настроек или настроек Modbus устройства
      saveSettingsDevice(data, type) {
        console.log(data);
        if (data.status === 'error')
          this.$message({
            showClose: true,
            message: 'Ошибка получения настроек',
            type: 'error',
          });
        else
          this.$confirm('Получены настройки от устройства. Сохранить?', 'Настройки устройства', {
            confirmButtonText: 'Сохранить',
            cancelButtonText: 'Отмена',
            type: 'info',
          })
            .then(() => {
              if (type === 'settings') {
                this.$store.commit('SAVE_SETTINGS_DEVICE', {
                  device: this.device,
                  settings: data.response.settings,
                });
                if (this.device.modbus) this.$store.commit('SAVE_MODBUS_CONFIG', { device: this.device, settings: data.response.modbus });
              }
              if (type === 'modbus')
                this.$store.commit('SAVE_MODBUS_CONFIG', { device: this.device, settings: data.response });
            })
            .catch(() => console.log('Сохранение отмененео'));
      },
    },
  };
</script>

<style lang="stylus">
  [class^='el-collapse-item__content']
    padding: 5px
    background-color: rgba(242, 246, 252, 0.4)
  [class^='el-collapse-item__content'] > *
    max-width: 400px
    margin: auto
  .dot-status
    width: 14px
    height: 14px
    border-radius: 8px
    background-color: #909399
    border: 1px solid #DCDFE6
    &.online
      background-color: #67C23A
  .title-modbus-config
    display: flex
    align-items: center
    justify-content: flex-start
    line-height: 1em
    & > *
      margin-right: 5px
  .action-button-container
    position: absolute
    bottom: 3px
    right: 20px
    .action__button
      font-size: 25px
      padding: 7px
      display: block
      & + .action__button
        margin-left: 0
        margin-top: 3px
</style>
