<template>
  <div id="knx-table-confrom">
    <el-table
      :data="items"
      height="100%"
      style="width: 100%; max-width: 100%"
      size="mini"
      border=""
    >
      <el-table-column label="#" type="index" width="40"/>
      <!-- Внутренний адрес -->
      <el-table-column label="Внутренний адрес">
        <el-table-column label="Адрес">
          <template slot-scope="scope">
            <el-select
              :value="scope.row.addressID"
              @change="changeAddressID($event, scope.$index)"
              placeholder="Выберите адрес"
              filterable
            >
              <el-option
                v-for="(address, index) in addresses"
                :key="`${scope.$index}-${address.name}-${index}`"
                :label="address.name"
                :value="address.id"
              />
            </el-select>
          </template>
        </el-table-column>
        <el-table-column label="Тип данных">
          <template slot-scope="scope">
            <el-select
              :value="scope.row.dataType"
              @change="changeAddressDataType($event, scope.$index)"
              placeholder="Выберите тип данных"
              :disabled="scope.row.isLockDataType"
              filterable
            >
              <el-option
                v-for="(item, index) in dataTypes"
                :key="`${scope.$index}-${index}`"
                :label="item.label"
                :value="item.value"
              />
            </el-select>
          </template>
        </el-table-column>
      </el-table-column>
      <!-- KNX -->
      <el-table-column label="KNX адрес" >
        <el-table-column label="Адрес" prop="addressKNX" width="130">
          <template slot-scope="scope">
            <zh-input-knx
              :value="scope.row.addressKNX"
              @change="changeAddressKNX($event, scope.$index)"
            />
          </template>
        </el-table-column>
        <el-table-column label="Тип данных">
          <template slot-scope="scope">{{knxTypes[scope.row.dataType]}}</template>
        </el-table-column>
      </el-table-column>
      <!-- Действия -->
      <el-table-column label="Действия">
        <template slot-scope="scope">
          <el-button
            type="warning"
            class="button-edit"
            size="mini"
            @click="deleteElement(scope.$index)"
          >
            <icon icon="trash"/>
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <!-- Кнопка добавить -->
    <div class="action-button-container">
      <el-tooltip content="Получить настройки" placement="left">
        <el-button
          type="primary"
          icon="el-icon-upload2"
          circle
          plain
          size="default"
          class="action__button"
        />
      </el-tooltip>
      <el-tooltip content="Загрузить настройки" placement="left">
        <el-button
          type="primary"
          icon="el-icon-download"
          circle
          plain
          size="default"
          @click="syncTable"
          class="action__button"
        />
      </el-tooltip>
      <el-tooltip content="Добавить адрес" placement="left">
        <el-button
          type="success"
          icon="el-icon-plus"
          circle
          plain
          size="default"
          @click="addElement"
          class="action__button"
        />
      </el-tooltip>
    </div>
  </div>
</template>

<script>
  import { ipcRenderer as ipc } from 'electron'; // eslint-disable-line
  export default {
    name: 'table-conform-knx',
    props: ['device'],
    data() {
      return {
        dataTypes: [
          {
            label: 'Тип 1',
            value: 1,
          },
          {
            label: 'Тип 2',
            value: 2,
          },
          {
            label: 'Тип 3',
            value: 3,
          },
          {
            label: 'Тип 4',
            value: 4,
          },
          {
            label: 'Тип 5',
            value: 5,
          },
          {
            label: 'Тип 6',
            value: 6,
          },
          {
            label: 'Тип 7',
            value: 7,
          },
          {
            label: 'Тип 8',
            value: 8,
          },
          {
            label: 'Тип 9',
            value: 9,
          },
          {
            label: 'Тип 10',
            value: 10,
          },
          {
            label: 'Тип 11',
            value: 11,
          },
        ],
        knxTypes: [
          '-',
          '1bit (boolean)',
          '1 byte (unsigned iteger)',
          '1 byte ( signed integer)',
          '4 bit (3bit controlled)',
          '2 byte (unsigned integer)',
          '2 byte (floating point)',
          '3 byte (RGB)',
          '3 byte (time/day)',
          '3 byte (date)',
          '4 byte (unsigned integer)',
          '4 byte (signed integer)',
        ],
      };
    },
    computed: {
      items() {
        return this.device.knx ? this.device.knx.tableConform : null;
      },
      knxDataTypes() {
        return null;
      },
      addresses() {
        // item => item.bus === 1 && !this.items.find(el => el.addressID === item.id)
        return _.flatten(this.$store.state.structData.addresses.tree.elements);
      },
    },
    methods: {
      // Событие изменения id адреса
      changeAddressID(value, index) {
        const newValue = _.clone(this.device.knx.tableConform[index]);
        const newAddress = this.addresses.find(el => el.id === value);
        newValue.addressID = value;
        newValue.dataType = newAddress.dataType || 1;
        newValue.isLockDataType = !!newAddress.dataType;
        this.changeData(newValue, index);
      },
      // Событие изменения типа данных адреса
      changeAddressDataType(value, index) {
        const newValue = _.clone(this.device.knx.tableConform[index]);
        newValue.dataType = value;
        this.changeData(newValue, index);
      },
      // Событие изменения адреса KNX
      changeAddressKNX(value, index) {
        const newValue = _.clone(this.device.knx.tableConform[index]);
        newValue.addressKNX = value;
        this.changeData(newValue, index);
      },
      // Сохраняем новые значения в Store
      changeData(value, index) {
        this.$store.commit('SAVE_ITEM_KNX_TABLE', { device: this.device, index, value });
      },
      deleteElement(index) {
        this.$store.commit('REMOVE_ITEM_KNX_TABLE', { device: this.device, index });
      },
      addElement() {
        const newValue = {
          addressID: null,
          dataType: 1,
          isLockDataType: false,
          addressKNX: [1, 1, 1],
        };
        this.changeData(newValue);
      },
      syncTable() {
        ipc.once('config:sendTableKNX:response', (event, data) => {
          if (data.status === 'ok')
            this.$message({
              showClose: true,
              message: 'Таблица успешно отправлена',
              type: 'success',
            });
          else
            this.$message({
              showClose: true,
              message: data.error,
              type: 'error',
            });
        });
        ipc.send('config:sendTableKNX', { device: this.device, table: this.items });
      },
    },
  };
</script>
<style lang="stylus">
  #knx-table-confrom
    height: 100%
    .el-table__header tr > *
      background: #E4E7ED
      text-align: center
    .el-table__row
      height: 38px
      .cell
        text-align: center
    .button-edit
      padding: 3px
    .action-button-container
      position: absolute
      bottom: 3px
      right: 20px
      .action__button
        font-size: 25px
        padding: 7px
        display: block
        & + .action__button
          margin-left: 0
          margin-top: 3px
</style>

