<template>
  <div class="view-objects">
    <div class="view-objects__header">
      <table cellspacing="0" cellpadding="0" border="0">
        <colgroup></colgroup>
        <thead>
          <th style="width: 20px;" border="1"></th>
          <th style="width: 25px;">ID</th>
          <th style="width: 220px;">Имя</th>
          <th>Тип данных</th>
          <th>Размер данных</th>
          <th>Адреса</th>
        </thead>
      </table>
    </div>
    <div v-bar='{preventParentScroll: true}'>
      <div>
        <div class="view-objects__body" v-if="device.blocks">
          <div class="view-objects__body__block" v-for="(block, index) in device.blocks" :key="`Block${index}`"
             @click="toggleOpen(block)">
            <div class="block-name">
              <icon icon="chevron-right" :class="{ 'block--open': block.props.isOpen }"/>
              <span>{{block.name}}</span>
            </div>
            <div v-if="block.props.isOpen" class="block-table-wrapper">
              <table cellspacing="0" cellpadding="0" border="0">
                <tbody>
                  <tr v-show="object.active" v-for="(object, index) in block.objects" :key="`Object${index}`" draggable @dragstart="dragEvent($event, object, block)"
                    @dragend="dragEnd()" @drop="drop(object, block)">
                    <td style="width: 20px;">
                      <icon v-if="object.direction === 'input'" icon="arrow-alt-circle-right" style="color: green;" />
                      <icon v-if="object.direction === 'output'" icon="arrow-alt-circle-left" style="color: red;" />
                    </td>
                    <td style="width: 25px;">{{index}}</td>
                    <td style="width: 220px;">{{object.name}}</td>
                    <td>{{object.dataType}}</td>
                    <td>{{dataLenghts[object.dataType]}}</td>
                    <td>{{object.addresses.toString()}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="view-objects__body" v-else>
          <div class="block-table-wrapper">
            <table cellspacing="0" cellpadding="0" border="0">
              <tbody>
                <tr v-show="object.active" v-for="(object, index) in block.objects" :key="`Object${index}`" draggable @dragstart="dragEvent($event, object, block)"
                  @dragend="dragEnd()" @drop="drop(object, block)">
                  <td style="width: 20px;">
                    <icon v-if="object.direction === 'input'" icon="arrow-alt-circle-right" style="color: green;" />
                    <icon v-if="object.direction === 'output'" icon="arrow-alt-circle-left" style="color: red;" />
                  </td>
                  <td style="width: 50px;">{{index}}</td>
                  <td style="width: 150px;">{{object.name}}</td>
                  <td>{{object.dataType}}</td>
                  <td>{{dataLenghts[object.dataType]}}</td>
                  <td>{{object.addresses.toString()}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';
export default {
  name: 'viewObjects',
  components: {},
  props: ['device'],
  data() {
    return {
      width: {
        column1: null,
        column2: null,
        column3: null,
        column4: null,
        column5: null,
        cloumn6: null,
      },
      dataLenghts: [
        '1 байт',
        '1 байт',
        '1 байт',
        '1 байт',
        '2 байт',
        '2 байт',
        '3 байт',
        '3 байт',
        '4 байт',
        '4 байт',
        '4 байт',
        '4 байт',
        '4 байт',
        '14 байт',
        '14 байт',
        '20 байт',
      ],
    };
  },
  computed: mapState({
    dragGlobal: state => state.main.drag,
  }),
  watch: {
    // Прослушиваем глобальное событие DnD
    // !!!Обработать эту функцию на асинхронную. Она тормозит интерфейс
    // !!!Плохо выделяется в таблице, нужно выделять всю строку.
    dragGlobal(val) {
      const rowTable = this.$el.getElementsByTagName('tr');
      if (val.type === 'address') {
        [...rowTable].forEach(el => {
          el.addEventListener('dragenter', this.dragEnter);
          el.addEventListener('dragover', this.dragOver);
          el.addEventListener('dragleave', this.dragLeave);
        });
      } else {
        [...rowTable].forEach(el => {
          el.classList.remove('drop-enter');
          el.addEventListener('dragenter', this.dragEnter);
          el.addEventListener('dragover', this.dragOver);
          el.addEventListener('dragleave', this.dragLeave);
        });
      }
    },
  },
  methods: {
    toggleOpen(block) {
      this.$store.commit('TOGGLE_OPEN_BLOCK', {block, value: !block.props.isOpen })
    },
    dragEvent(ev, object, block = null) {
      ev.dataTransfer.dropEffect = 'move';
      ev.dataTransfer.effectAllowed = 'move';

      const text = object.name;
      /* Canvas для отображения Title Drag  */
      const canvas = document.getElementById('canvasDrag');
      const ctx = canvas.getContext('2d');
      const pixelRatio = window.devicePixelRatio || 1;
      ctx.imageSmoothingEnabled = false;
      ctx.mozImageSmoothingEnabled = false;
      ctx.imageSmoothingEnabled = false;
      ctx.scale(pixelRatio, pixelRatio);
      canvas.height = 20 * pixelRatio;
      canvas.width = Math.round(ctx.measureText(text).width + 40) * pixelRatio;
      canvas.style.height = `${+canvas.height / pixelRatio}px`;
      canvas.style.width = `${+canvas.width / pixelRatio}px`;
      ctx.clearRect(0, 0, canvas.width, canvas.height);
      ctx.font = '24px sans-serif';
      ctx.textBaseline = 'middle';
      ctx.textAlign = 'center';
      ctx.fillText(text, Math.round(canvas.width / 2) + 10, 10 * pixelRatio);
      /* __________________ */
      ev.dataTransfer.setDragImage(canvas, 0, 0);

      const socket = {
        block,
        object,
        device: this.device,
        type: 'blockSocket',
        dataType: object.dataType
      };
      this.$store.commit('DRAG_GLOBAL', { data: socket, type: 'socket' });
    },
    // Окончание события перетаскивания на объект
    dragEnd() {
      this.$store.commit('DRAG_GLOBAL_STOP');
    },
    dragEnter(ev) {
      ev.target.classList.add('drop-enter');
      ev.preventDefault();
    },
    dragOver(ev) {
      ev.preventDefault();
    },
    dragLeave(ev) {
      ev.target.classList.remove('drop-enter');
    },
    drop(object, block = null) {
      const socket = {
        block,
        object,
        device: this.device,
        direction: object.direction,
        dataType: object.dataType,
        type: 'blockSocket'
      };
      const promise = this.$store.dispatch('ADD_LINK', { address: this.dragGlobal.data, socket })
      this.$root.$wrapperMsg(promise);
    },
    /**
     * 
     * Временно, !!! Нужно определится, что выводить ID адреса или его имя
     */
    /*
    adressesObject(array) {
      console.log(array);
      const addressArray = [];
      console.log(this.$store.state.structData.addresses);
      array.forEach(addressID => {
        addressArray.push(this.$store.state.structData.addresses.getElementByID(addressID).name)
      })
      console.log(addressArray.toString());
      return addressArray.toString();
    }
    */
  },
};
</script>

<style lang="stylus">
border-color = #DCDFE6
.view-objects
  height: 100%
  width: 100%
  margin-top: 5px
  padding: 0 5px
  overflow: hidden
  box-sizing: border-box
  &__header
    display: flex
    align-content: center
    background-color: #f2f6fc
    text-align: center
    width: calc(100% - 15px)
    table
      border: 1px solid border-color
      font-size: 13px
      line-height: 2em
      th
        padding: 0 3px
        font-weight: 500
        white-space: nowrap
        text-overflow: ellipsis
        overflow: hidden
        border: 1px solid border-color
        text-align: center
  &__body
    height: calc(100vh - 150px)
    box-sizing: border-box
    &__block
      margin-top: 5px
      overflow: hidden
      &.block--open
        transform: rotate(90deg)
      .block-name
        width: 100%
        line-height: 2em
        text-align: left
        box-sizing: border-box
        background-color: #F2F6FC
        border: 1px solid border-color
        svg
          margin: 0 20px
          cursor: pointer
      .block-name:not(:last-child)
        border-bottom: 0
      .block-table-wrapper
        overflow: hidden
        tr:hover
          background-color: #F2F6FC
        table
          box-sizing: border-box
        td
          padding: 0 3px
          white-space: nowrap
          text-overflow: ellipsis
          overflow: hidden
          border: 1px solid border-color
          text-align: left
        &--empty
          width: 100%
          text-align: center
          border: 1px solid border-color
          padding: 10px
  table
    width: 100%
    margin: 0
    white-space: nowrap
    text-overflow: ellipsis
    overflow: hidden
    table-layout: fixed
    border-collapse: collapse
  .drop-enter
    background-color: #d1e0eb
</style>
