<template>
  <div class="info-block">
    <div v-if="element">
      <el-table :data="element.sockets" style="width:100%;" border highlight-current-row empty-text="К адресу не привязаны объекты" size="mini">
        <el-table-column label="Устройство" prop="device.name"></el-table-column>
        <el-table-column width="50" label="ID" prop="device.id"></el-table-column>
        <el-table-column label="Модуль" prop="block.name"></el-table-column>
        <el-table-column width="50" label="ID" prop="block.id"></el-table-column>
        <el-table-column label="Объект" prop="object.name"></el-table-column>
        <el-table-column label="Операции">
          <template slot-scope="scope">
            <el-button size="mini" type="danger" @click="deleteSocket(scope.row)">Удалить</el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>
    <div v-else class="info-block--empty">Нет информации</div>
  </div>
</template>

<script>
import { mapState } from 'vuex';

export default {
  name: 'InfoAddress',
  props: ['element'],
  data() {
    return {
      dropFocus: false,
      focus: false,
    };
  },
  computed: mapState({}),
  watch: {},
  methods: {
    deleteSocket(socket) {
      this.$store.dispatch('DELETE_LINK', { address: this.element, socket})
    }
  },
};
</script>

<style lang="stylus">
</style>
