
<template>
  <div>
    <el-input-number
      :value="value[0]"
      :max="31"
      :controls="false"
      class="input-address-knx"
      @change="changeAddress($event, 0)"
    />
    <span>/</span>
    <el-input-number
      :value="value[1]"
      :max="7"
      :controls="false"
      class="input-address-knx"
      @change="changeAddress($event, 1)"
    />
    <span>/</span>
    <el-input-number
      :value="value[2]"
      :min="1"
      :max="255"
      :controls="false"
      class="input-address-knx"
      @change="changeAddress($event, 2)"
    />
  </div>
</template>

<script>
  export default {
    name: 'zh-input-knx',
    props: {
      value: Array,
    },
    methods: {
      changeAddress(value, index) {
        const newValue = [...this.value];
        newValue[index] = value;
        this.$emit('update:value', newValue);
        this.$emit('change', newValue);
      },
    },
  };
</script>

<style lang="stylus">
  .input-address-knx
    width: 30px !important;
    min-width: 30px !important
    input.el-input__inner
      padding-left: 0px !important
      padding-right: 0px !important
</style>




