<template>
  <WrapperSettings :value.sync="fnBlock.clearVariables">
    <zh-select
      :value.sync="settings.inputsNumber"
      :values="inputsNumbers"
      @change="selectInputsNumber"
      name="Количество сравниваемых объектов"
    />
    <zh-radio :value.sync="settings.type" :values="types" name="Режим работы блока"/>
    <zh-checkbox
      :value.sync="settings.sendReadReqBeforeStart"
      name="Запрашивать значение при старте"
    />
    <zh-checkbox :value.sync="settings.sendWhenChange" name="Отправлять результат по изменению"/>
    <zh-time-picker
      :value.sync="settings.sendCyclic"
      :min="0"
      :max="255"
      :coef="30"
      :checkbox="true"
      name="Циклическая отправка значения"
    />
  </WrapperSettings>
</template>

<script>
  export default {
    name: 'AndOr',
    props: ['element', 'initSave'],
    components: {},
    data() {
      return {
        fnBlock: _.cloneDeep(this.element),
        inputsNumbers: [
          {
            label: '2 объекта',
            value: 2,
          },
          {
            label: '3 объекта',
            value: 3,
          },
          {
            label: '4 объекта',
            value: 4,
          },
          {
            label: '5 объектов',
            value: 5,
          },
        ],
        types: [
          {
            label: 'And',
            value: 1,
          },
          {
            label: 'Or',
            value: 2,
          },
        ],
      };
    },
    computed: {
      settings() {
        return this.fnBlock.settings;
      },
    },

    watch: {
      // При измененении пропса от родителя, отправляем копию документа для сохранения.
      initSave(val) {
        if (val) this.$emit('change', _.cloneDeep(this.fnBlock));
      },
    },
    methods: {
      selectInputsNumber(val) {
        this.fnBlock.objects[2].active = val >= 3;
        this.fnBlock.objects[3].active = val >= 4;
        this.fnBlock.objects[4].active = val >= 5;
      },
    },
  };
</script>

<style lang='stylus'>
</style>



