<template>
  <WrapperSettings :value.sync="fnBlock.clearVariables">
    <zh-radio
      :value.sync="settings.closeControlValue"
      :values="reactions"
      name="Реакция на закрытие"
    />
    <zh-radio
      :value.sync="settings.openControlValue"
      :values="reactions"
      name="Реакция на открытие"
    />
    <zh-radio :value.sync="settings.stopControlValue" :values="reactions" name="Реакция на стоп"/>
    <zh-time-picker
      :value.sync="settings.actionTime"
      :min="1"
      :max="3540"
      name="Время полного закрытия/открытия шторы"
    />
  </WrapperSettings>
</template>

<script>
  export default {
    name: 'Blinds',
    props: ['element', 'initSave'],
    components: {},
    data() {
      return {
        fnBlock: _.cloneDeep(this.element),
        reactions: [
          {
            label: 'Значение 0',
            value: 0,
          },
          {
            label: 'Значение 1',
            value: 1,
          },
          {
            label: 'Оба значения',
            value: 2,
          },
        ],
      };
    },
    computed: {
      settings() {
        return this.fnBlock.settings;
      },
    },

    watch: {
      // При измененении пропса от родителя, отправляем копию документа для сохранения.
      initSave(val) {
        if (val) this.$emit('change', _.cloneDeep(this.fnBlock));
      },
    },
    methods: {},
  };
</script>



