<template>
  <WrapperSettings :value.sync="fnBlock.clearVariables">
    <zh-select :value.sync="settings.mode" :values="modes" name="Тип запрашиваемого объекта"/>
    <zh-clock-picker :value.sync="settings.time" name="Время"/>
    <zh-checkbox-array
      v-if="settings.mode === 1"
      :value.sync="settings.weekDays"
      :valueNames="namesDayWeek"
      name="Дни недели"
    />
    <zh-multi-select
      v-if="settings.mode === 2 || settings.mode === 3"
      :value.sync="settings.monthDays"
      :values="nameDay"
      name="Дни в месяце"
    />
    <zh-checkbox-array
      v-if="settings.mode === 3"
      :value.sync="settings.months"
      :valueNames="nameMonth"
      name="Месяцы"
    />
    <zh-select
      :value.sync="settings.eventType"
      :values="eventTypes"
      @change="changeEventType"
      name="Тип объекта при срабатывании"
    />
    <zh-select
      v-if="settings.eventType === 1"
      :value.sync="settings.eventValue"
      :values="typesValue1"
      name="Значение при срабатывании"
    />
    <zh-input-number
      v-if="settings.eventType === 2"
      :value.sync="settings.eventValue"
      name="Значение при срабатывании"
    />
  </WrapperSettings>
</template>

<script>
  export default {
    name: 'Calendar',
    props: ['element', 'initSave'],
    components: {},
    data() {
      return {
        fnBlock: _.cloneDeep(this.element),
        modes: [
          {
            label: 'Каждый день',
            value: 0,
          },
          {
            label: 'Каждую неделю',
            value: 1,
          },
          {
            label: 'Каждый месяц',
            value: 2,
          },
          {
            label: 'Каждый год',
            value: 3,
          },
        ],
        namesDayWeek: ['Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб', 'Вск'],
        nameMonth: ['Янв', 'Февр', 'Март', 'Апр', 'Май', 'Июнь', 'Июль', 'Авг', 'Сент', 'Окт', 'Ноябрь', 'Дек'],
        nameDay: [
          1,
          2,
          3,
          4,
          5,
          6,
          7,
          8,
          9,
          10,
          11,
          12,
          13,
          14,
          15,
          16,
          17,
          18,
          19,
          20,
          21,
          22,
          23,
          24,
          25,
          26,
          27,
          28,
          29,
          30,
          31,
        ],
        typesValue1: [
          {
            label: '0',
            value: 0,
          },
          {
            label: '1',
            value: 1,
          },
        ],
      };
    },
    computed: {
      settings() {
        return this.fnBlock.settings;
      },
      eventTypes() {
        return this.$store.state.main.dataTypes.filter(el => el.value === 1 || el.value === 2);
      },
    },
    watch: {
      // При измененении пропса от родителя, отправляем копию документа для сохранения.
      initSave(val) {
        if (val) this.$emit('change', _.cloneDeep(this.fnBlock));
      },
    },
    methods: {
      changeEventType(val) {
        this.fnBlock.objects[1].dataType = val;
        if (val === 1) this.fnBlock.settings.eventValue = 1;
      },
    },
  };
</script>




