<template>
  <WrapperSettings :value.sync="fnBlock.clearVariables">
    <zh-radio :value.sync="settings.mode" :values="modes" @change="changeMode" name="Режим работы"/>
    <zh-select
      :value.sync="settings.dataType"
      :values="dataTypes"
      @change="changeTypeData"
      name="Тип сравниваемых данных"
    />
    <zh-input-number
      v-if="settings.dataType === 1 && settings.mode === 2"
      :value.sync="settings.fixValue"
      :min="0"
      :max="255"
      name="Константа"
    />
    <zh-input-number
      v-if="settings.dataType === 6 && settings.mode === 2"
      :value.sync="settings.fixValueTemp"
      :min="-65535"
      :max="65535"
      :step="0.1"
      name="Константа"
    />
    <!-- -->
    <zh-checkbox
      :value.sync="settings.sendReadReqBeforeStart"
      name="Запрашивать значение при старте"
    />
    <zh-checkbox :value.sync="settings.sendWhenChange" name="Отправлять результат по изменению"/>
    <zh-time-picker
      :value.sync="settings.sendCyclic"
      :min="0"
      :max="255"
      :coef="30"
      :checkbox="true"
      name="Циклическая отправка значения"
    />
  </WrapperSettings>
</template>

<script>
  export default {
    name: 'Compare',
    props: ['element', 'initSave'],
    components: {},
    data() {
      return {
        fnBlock: _.cloneDeep(this.element),
        modes: [
          {
            label: 'Два объекта',
            value: 1,
          },
          {
            label: 'Объект и константа',
            value: 2,
          },
        ],
      };
    },
    computed: {
      settings() {
        return this.fnBlock.settings;
      },
      dataTypes() {
        return this.$store.state.main.dataTypes.filter(el => el.value === 2 || el.value === 6);
      },
    },
    watch: {
      // При измененении пропса от родителя, отправляем копию документа для сохранения.
      initSave(val) {
        if (val) this.$emit('change', _.cloneDeep(this.fnBlock));
      },
    },
    methods: {
      changeMode(val) {
        this.fnBlock.objects[1].active = val === 1;
      },
      changeTypeData(val) {
        this.fnBlock.objects[0].dataType = val;
        this.fnBlock.objects[1].dataType = val;
      },
    },
  };
</script>




