<template>
  <WrapperSettings :value.sync="fnBlock.clearVariables">
    <zh-input-number :value.sync="settings.step" :min="1" :max="255" name="Шаг счетчика"/>
    <zh-input-range
      :value="[settings.minLimit, settings.maxLimit]"
      :min="0"
      :max="255"
      :step="settings.step"
      @change="changeValues"
      name="Интервал значений"
    />
    <zh-input-number
      :value.sync="settings.startValue"
      :min="settings.minLimit"
      :max="settings.maxLimit"
      name="Стартовое значение"
    />
    <zh-radio
      :value.sync="settings.upValueReaction"
      :values="typesReaction"
      name="Объект 'UP' реагирует на значение:"
    />
    <zh-radio
      :value.sync="settings.downValueReaction"
      :values="typesReaction"
      name="Объект 'DOWN' реагирует на значение:"
    />
    <zh-radio
      :value.sync="settings.resetValueReaction"
      :values="typesReaction"
      name="Объект 'RESET' реагирует на значение:"
    />
  </WrapperSettings>
</template>

<script>
  export default {
    name: 'Counter',
    props: ['element', 'initSave'],
    components: {},
    data() {
      return {
        fnBlock: _.cloneDeep(this.element),
        typesReaction: [
          {
            label: 'Значение 0',
            value: 0,
          },
          {
            label: 'Значение 1',
            value: 1,
          },
          {
            label: 'Оба значения',
            value: 2,
          },
        ],
      };
    },
    computed: {
      settings() {
        return this.fnBlock.settings;
      },
    },

    watch: {
      // При измененении пропса от родителя, отправляем копию документа для сохранения.
      initSave(val) {
        if (val) this.$emit('change', _.cloneDeep(this.fnBlock));
      },
    },
    methods: {
      changeValues(value) {
        this.fnBlock.settings.minLimit = value[0];
        this.fnBlock.settings.maxLimit = value[1];
        // Проверка стартового значения. Коррекция под новый интервал значений.
        const oldStartValue = this.fnBlock.settings.startValue;
        if (oldStartValue < value[0]) this.fnBlock.settings.startValue = value[0];
        if (oldStartValue > value[1]) this.fnBlock.settings.startValue = value[1];
      },
    },
  };
</script>




