<template>
  <WrapperSettings :value.sync="fnBlock.clearVariables">
    <zh-input-number :value.sync="settings.stepValue" :min="1" :max="255" name="Шаг диммирования"/>
    <zh-input-range
      :value="[settings.minValue, settings.maxValue]"
      :min="0"
      :max="255"
      :step="settings.stepValue"
      @change="changeValues"
      name="Дипазон значений диммирования"
    />
    <zh-input-number
      :value.sync="settings.delayStep"
      :min="1"
      :max="10"
      :coef="0.1"
      label="сек."
      name="Задержка между шагами диммирования"
    />
  </WrapperSettings>
</template>

<script>
  export default {
    name: 'DimmByValue',
    props: ['element', 'initSave'],
    components: {},
    data() {
      return {
        fnBlock: _.cloneDeep(this.element),
      };
    },
    computed: {
      settings() {
        return this.fnBlock.settings;
      },
    },

    watch: {
      // При измененении пропса от родителя, отправляем копию документа для сохранения.
      initSave(val) {
        if (val) this.$emit('change', _.cloneDeep(this.fnBlock));
      },
    },
    methods: {
      changeValues(value) {
        this.fnBlock.settings.minValue = value[0];
        this.fnBlock.settings.maxValue = value[1];
      },
    },
  };
</script>

<style lang='stylus'>
</style>



