<template>
  <WrapperSettings :value.sync="fnBlock.clearVariables">
    <zh-select
      :value.sync="settings.mode"
      :values="modes"
      @change="changeMode"
      name="Режим работы"
    />
    <zh-radio
      :value.sync="settings.speedNum"
      :values="speedCounts"
      @change="changeSpeedNum"
      name="Количество скоростей"
    />
    <zh-radio
      :value.sync="settings.speedMode"
      :values="speedModes"
      name="Режим переключения скоростей"
    />
    <zh-fan-slider
      :value.sync="settings.speedDepCool"
      :levels="speedLevels"
      name="Зависимость скорости вентилятора от входного параметра в режиме охлаждения"
    />
    <zh-fan-slider
      :value.sync="settings.speedDepHeat"
      :levels="speedLevels"
      name="Зависимость скорости вентилятора от входного параметра в режиме нагрева"
    />
    <zh-input-number
      v-if="settings.speedMode !== 2"
      :value.sync="settings.timeSpeedShift"
      :min="0"
      :max="10"
      label="сек."
      name="Задержка переключения скоростей"
    />
    <span class="header" v-if="settings.mode !== 0">Охлаждение</span>
    <zh-time-picker
      v-if="settings.mode !== 0"
      :value.sync="settings.timeCoolFanStart"
      :min="0"
      :max="255"
      format="мин"
      name="Задержка работы вентилятора при старте в режиме охлаждения"
    />
    <zh-time-picker
      v-if="settings.mode !== 0"
      :value.sync="settings.timeCoolFanStop"
      :min="0"
      :max="255"
      format="мин"
      name="Задержка работы вентилятора при отключении в режиме охлаждения"
    />
    <span class="header" v-if="settings.mode !== 1">Нагрев</span>
    <zh-time-picker
      v-if="settings.mode !== 1"
      :value.sync="settings.timeHeatFanStart"
      :min="0"
      :max="255"
      format="мин"
      name="Задержка работы вентилятора при старте в режиме нагрева"
    />
    <zh-time-picker
      v-if="settings.mode !== 1"
      :value.sync="settings.timeHeatFanStop"
      :min="0"
      :max="255"
      format="мин"
      name="Задержка работы вентилятора при отключении в режиме нагрева"
    />
  </WrapperSettings>
</template>

<script>
  export default {
    name: 'Fancoil',
    props: ['element', 'initSave'],
    components: {},
    data() {
      return {
        fnBlock: _.cloneDeep(this.element),
        modes: [
          {
            label: 'Нагрев',
            value: 0,
          },
          {
            label: 'Охлажадение',
            value: 1,
          },
          {
            label: 'Нагрев и охлаждние',
            value: 2,
          },
        ],
        speedModes: [
          {
            label: 'Переключать',
            value: 1,
          },
          {
            label: 'Добавлять',
            value: 2,
          },
        ],
        speedCounts: [
          {
            label: '3 скорости',
            value: 0,
          },
          {
            label: '5 скоростей',
            value: 1,
          },
        ],
      };
    },
    computed: {
      settings() {
        return this.fnBlock.settings;
      },
      speedLevels() {
        return this.settings.speedNum === 0 ? 2 : 4;
      },
    },
    watch: {
      // При измененении пропса от родителя, отправляем копию документа для сохранения.
      initSave(val) {
        if (val) this.$emit('change', _.cloneDeep(this.fnBlock));
      },
    },
    methods: {
      changeMode(val) {
        this.fnBlock.objects[0].active = val === 0 ? 0 : 1;
        this.fnBlock.objects[1].active = val === 1 ? 0 : 1;
        this.fnBlock.objects[7].active = val === 1 ? 0 : 1;
        this.fnBlock.objects[8].active = val === 0 ? 0 : 1;
      },
      changeSpeedNum(val) {
        this.fnBlock.objects[5].active = val === 0 ? 0 : 1;
        this.fnBlock.objects[6].active = val === 0 ? 0 : 1;
      },
    },
  };
</script>




