<template>
  <WrapperSettings :value.sync="fnBlock.clearVariables">
    <zh-select :value.sync="settings.inputType" :values="types" @change="changeInputType" name="Тип данных на входе" />
    <zh-select
      :value.sync="settings.outputType"
      :values="types"
      @change="changeOutputType"
      name="Тип данных на выходе"
    />
    <zh-input :value.sync="settings.expression" name="Математическое выражение" />
  </WrapperSettings>
</template>

<script>
  export default {
    name: 'MathBlock',
    props: ['element', 'initSave'],
    components: {},
    data() {
      return {
        fnBlock: _.cloneDeep(this.element),
      };
    },
    computed: {
      settings() {
        return this.fnBlock.settings;
      },
      types() {
        return this.$store.state.main.dataTypes.filter(el => el.value === 2 || el.value === 5 || el.value === 6);
      },
    },
    watch: {
      // При измененении пропса от родителя, отправляем копию документа для сохранения.
      initSave(val) {
        if (val) this.$emit('change', _.cloneDeep(this.fnBlock));
      },
    },
    methods: {
      changeInputType(val) {
        this.fnBlock.objects[0].dataType = val;
      },
      changeOutputType(val) {
        this.fnBlock.objects[1].dataType = val;
      },
    },
  };
</script>




