<template>
  <WrapperSettings :value.sync="fnBlock.clearVariables">
    <zh-input-number
      :value.sync="settings.slaveAddress"
      :min="1"
      :max="247"
      name="Адрес устройства Modbus"
    />
    <zh-input-number
      :value.sync="settings.registerAddress"
      :min="0"
      :max="65535"
      name="Адреса регистра"
    />
    <zh-select
      :value.sync="settings.registerType"
      :values="registerTypes"
      @change="changeRegisterType"
      name="Тип регистра"
    />
    <zh-radio
      v-if="modbusChannels.length > 1"
      :value.sync="settings.channel"
      :values="modbusChannels"
      name="Канал Modbus контроллера"
    />
    <zh-switch
      :value.sync="settings.sendRequestIfError"
      name="Автоматически проверять состояние соединения, при потери связи"
    >
      <zh-time-picker
        :value.sync="settings.errorCycleTime"
        :min="1"
        :max="255"
        :coef="10"
        name="Циклическая отправка, сек."
      />
    </zh-switch>
  </WrapperSettings>
</template>

<script>
  export default {
    name: 'ModbusWrite',
    props: ['element', 'device', 'initSave'],
    components: {},
    data() {
      return {
        fnBlock: _.cloneDeep(this.element),
      };
    },
    computed: {
      settings() {
        return this.fnBlock.settings;
      },
      registerTypes() {
        return this.$store.state.main.msgModbusTypes.filter(el => [1, 2, 3].includes(el.value));
      },
      modbusChannels() {
        return this.device.modbus.map((el, index) => ({ label: `Channel ${index + 1}`, value: index + 1 }));
      },
    },

    watch: {
      // При измененении пропса от родителя, отправляем копию документа для сохранения.
      initSave(val) {
        if (val) this.$emit('change', _.cloneDeep(this.fnBlock));
      },
    },
    methods: {
      changeRegisterType(val) {
        if (val === 3) this.fnBlock.objects[0].dataType = 5;
        else this.fnBlock.objects[0].dataType = val;
      },
    },
  };
</script>




