<template>
  <WrapperSettings :value.sync="fnBlock.clearVariables">
    <zh-radio
      v-if="modbusChannels.length > 1"
      :value.sync="settings.channel"
      :values="modbusChannels"
      name="Канал Modbus контроллера"
    />
    <zh-select
      :value.sync="settings.commandCode"
      :values="commandCodes"
      name="Команда Modbus для управления реле"
    />
    <zh-input-number
      :value.sync="settings.slaveAddress"
      :min="1"
      :max="247"
      name="Адрес устройства Modbus"
    />
    <zh-input-number
      :value.sync="settings.registerAddress"
      :min="0"
      :max="65535"
      name="Адреса регистра"
    />
    <zh-switch
      :value.sync="settings.sendRequestIfError"
      name="Автоматически проверять состояние соединения, при потери связи"
    >
      <zh-time-picker
        :value.sync="settings.errorCycleTime"
        :min="1"
        :max="255"
        :coef="10"
        name="Циклическая отправка"
      />
    </zh-switch>
    <zh-select :value.sync="settings.mode" :values="modes" name="Режим работы реле"/>
    <zh-input-number :value.sync="settings.valueOn" :min="0" :max="255" name="Значение для ВКЛ"/>
    <zh-input-number :value.sync="settings.valueOff" :min="0" :max="255" name="Значение для ВЫКЛ"/>
    <zh-time-picker
      v-if="settings.mode === 1"
      :value.sync="settings.onDelay"
      :min="0"
      :max="255"
      name="Задержка на включение, сек."
    />
    <zh-time-picker
      v-if="settings.mode !== 3"
      :value.sync="settings.offDelay"
      :min="0"
      :max="255"
      name="Задержка на выключение, сек."
    />
    <zh-time-picker
      v-if="settings.mode === 3"
      :value.sync="settings.blinkDelay"
      :min="0"
      :max="255"
      name="Период для мигания, сек."
    />
    <zh-select
      :value.sync="settings.initStart"
      :values="initStartTypes"
      name="Состояние при старте"
    />
    <template slot="child">
      <el-tab-pane label="Сценарии">
        <zh-checkbox
          v-for="(item, index) in settings.useInScene"
          :key="index"
          :value="item"
          @change="changeUseInScene($event, index)"
          :name="`Сценарий ${index + 1}`"
        >
          <zh-input-number
            :value="settings.scenesNumbers[index]"
            @change="changeScenesNumbers($event, index)"
            :min="0"
            name="Номер сцены"
          />
          <zh-radio
            :value="settings.scenesValue[index]"
            :values="scenesValues"
            @change="changeScenesValue($event, index)"
            name="Значение для сцены"
          />
        </zh-checkbox>
      </el-tab-pane>
    </template>
    <span v-if="isErrorSceneDuplicate" slot="error-message">Дупликаты сцен</span>
  </WrapperSettings>
</template>

<script>
  import Vue from 'vue';
  export default {
    name: 'ModbusRelay',
    props: ['element', 'device', 'initSave'],
    components: {},
    data() {
      return {
        fnBlock: _.cloneDeep(this.element),
        modes: [
          {
            label: 'Normal',
            value: 1,
          },
          {
            label: 'Staircase',
            value: 2,
          },
          {
            label: 'Blink',
            value: 3,
          },
        ],
        scenesValues: [
          {
            label: 'Off',
            value: 0,
          },
          {
            label: 'On',
            value: 1,
          },
        ],
        initStartTypes: [
          {
            label: 'Off',
            value: 0,
          },
          {
            label: 'On',
            value: 1,
          },
          {
            label: 'Last State',
            value: 2,
          },
        ],
      };
    },
    computed: {
      settings() {
        return this.fnBlock.settings;
      },
      commandCodes() {
        return this.$store.state.main.msgModbusTypes.filter(el => [5, 6, 15, 16].includes(el.value));
      },
      modbusChannels() {
        return this.device.modbus.map((el, index) => ({ label: `Channel ${index + 1}`, value: index + 1 }));
      },
      isErrorSceneDuplicate() {
        const activeSceneValues = [];
        this.fnBlock.settings.useInScene.forEach((el, index) => {
          if (el === 1) activeSceneValues.push(this.fnBlock.settings.scenesValue[index]);
        });

        return activeSceneValues.length !== _.uniq(activeSceneValues).length;
      },
    },
    watch: {
      // При измененении пропса от родителя, отправляем копию документа для сохранения.
      initSave(val) {
        if (val) this.$emit('change', _.cloneDeep(this.fnBlock));
      },
      isErrorSceneDuplicate(val) {
        this.$emit('update:isError', val);
      },
    },
    methods: {
      changeUseInScene(value, index) {
        Vue.set(this.fnBlock.settings.useInScene, index, value);
      },
      changeScenesNumbers(value, index) {
        Vue.set(this.fnBlock.settings.scenesNumbers, index, value);
      },
      changeScenesValue(value, index) {
        Vue.set(this.fnBlock.settings.scenesValue, index, value);
      },
    },
  };
</script>

<style lang='stylus'>
</style>



