<template>
  <WrapperSettings :value.sync="fnBlock.clearVariables">
    <zh-radio
      v-if="modbusChannels.length > 1"
      :value.sync="settings.channel"
      :values="modbusChannels"
      name="Канал Modbus контроллера"
    />
    <zh-select
      :value.sync="settings.commandCode"
      :values="commandCodes"
      name="Команда Modbus для управления реле"
    />
    <zh-input-number
      :value.sync="settings.slaveAddress"
      :min="1"
      :max="247"
      name="Адрес устройства Modbus"
    />
    <zh-input-number
      :value.sync="settings.registerAddressChA"
      :min="0"
      :max="65535"
      name="Адрес регистра Канал A"
    />
    <zh-input-number
      :value.sync="settings.registerAddressChB"
      :min="0"
      :max="65535"
      name="Адрес регистра Канал B"
    />
    <zh-input-number
      :value.sync="settings.registerAddressChC"
      :min="0"
      :max="65535"
      name="Адрес регистра Канал C"
    />
    <zh-input-number
      :value.sync="settings.registerAddressChD"
      :min="0"
      :max="65535"
      name="Адрес регистра Канал D"
    />
    <zh-switch
      :value.sync="settings.sendRequestIfError"
      name="Автоматически проверять состояние соединения, при потере связи"
    >
      <zh-time-picker
        :value.sync="settings.errorCycleTime"
        :min="1"
        :max="255"
        :coef="10"
        name="Циклическая отправка, сек."
      />
    </zh-switch>
    <zh-input-range
      :value="[settings.minValue, settings.maxValue]"
      :min="0"
      :max="255"
      @change="changeValues"
      name="Дипазон значений диммирования"
    />
    <zh-select
      :value.sync="settings.initStart"
      :values="initStartTypes"
      name="Состояние при старте"
    />
    <!-- Отдельная вкладка экрана "Сцены"-->
    <template slot="child">
      <el-tab-pane label="Сценарии(Канал AB)">
        <zh-checkbox
          v-for="(item, index) in settings.useInSceneAB"
          :key="index"
          :value="item"
          @change="changeUseInScene($event, index, 'AB')"
          :name="`Сценарий ${index + 1}`"
        >
          <zh-input-number
            :value="settings.scenesNumbersAB[index]"
            @change="changeScenesNumbers($event, index, 'AB')"
            :min="0"
            name="Номер сцены"
          />
          <zh-slider
            :value.sync="fnBlock.hiddenSettings.valueAB[index]"
            :min="0"
            :max="100"
            @change="changeValue($event, index, 'AB')"
            name="Световая температура"
            class="light-temp-block"
          />
          <zh-slider
            :value.sync="fnBlock.hiddenSettings.brightnessAB[index]"
            :min="0"
            :max="100"
            @change="changeBrighthness($event, index, 'AB')"
            name="Яркость, %"
          />
        </zh-checkbox>
      </el-tab-pane>
      <el-tab-pane label="Сценарии(Канал CD)">
        <zh-checkbox
          v-for="(item, index) in settings.useInSceneCD"
          :key="index"
          :value="item"
          @change="changeUseInScene($event, index, 'CD')"
          :name="`Сценарий ${index + 1}`"
        >
          <zh-input-number
            :value="settings.scenesNumbersCD[index]"
            :min="0"
            @change="changeScenesNumbers($event, index, 'CD')"
            name="Номер сцены"
          />
          <zh-slider
            :value.sync="fnBlock.hiddenSettings.valueCD[index]"
            :min="0"
            :max="100"
            @change="changeValue($event, index, 'CD')"
            name="Световая температура"
            class="light-temp-block"
          />
          <zh-slider
            :value.sync="fnBlock.hiddenSettings.brightnessCD[index]"
            :min="0"
            :max="100"
            @change="changeBrighthness($event, index, 'CD')"
            name="Яркость, %"
          />
        </zh-checkbox>
      </el-tab-pane>
    </template>
    <span v-if="isErrorSceneDuplicate" slot="error-message">Дупликаты сцен</span>
  </WrapperSettings>
</template>

<script>
  import Vue from 'vue';
  export default {
    name: 'ModbusRGBLightTemp',
    props: ['element', 'device', 'initSave', 'isError'],
    components: {},
    data() {
      return {
        fnBlock: _.cloneDeep(this.element),
        scenesValues: [
          {
            label: 'Off',
            value: 0,
          },
          {
            label: 'On',
            value: 1,
          },
        ],
        initStartTypes: [
          {
            label: 'Минимальное значение',
            value: 0,
          },
          {
            label: 'Максимальное значение',
            value: 1,
          },
          {
            label: 'Последнее перед выключением',
            value: 2,
          },
        ],
      };
    },
    computed: {
      settings() {
        return this.fnBlock.settings;
      },
      commandCodes() {
        return this.$store.state.main.msgModbusTypes.filter(el => [5, 6, 15, 16].includes(el.value));
      },
      modbusChannels() {
        return this.device.modbus.map((el, index) => ({ label: `Channel ${index + 1}`, value: index + 1 }));
      },
      isErrorSceneDuplicate() {
        const activeScene = [];
        this.fnBlock.settings.useInSceneAB.forEach((el, index) => {
          if (el === 1) activeScene.push(this.fnBlock.settings.scenesNumbersAB[index]);
        });
        this.fnBlock.settings.useInSceneCD.forEach((el, index) => {
          if (el === 1) activeScene.push(this.fnBlock.settings.scenesNumbersCD[index]);
        });

        return activeScene.length !== _.uniq(activeScene).length;
      },
    },
    watch: {
      // При измененении пропса от родителя, отправляем копию документа для сохранения.
      initSave(val) {
        let data = null;
        if (val) {
          if (this.isErrorSceneDuplicate) {
            this.$message({
              showClose: true,
              message: 'Невозможно сохранить настройки.',
              type: 'error',
            });
          } else data = _.cloneDeep(this.fnBlock);
          this.$emit('change', data);
        }
      },
      isErrorSceneDuplicate(val) {
        this.$emit('update:isError', val);
      },
    },
    methods: {
      changeValues(value) {
        this.fnBlock.settings.minValue = value[0];
        this.fnBlock.settings.maxValue = value[1];
      },
      changeUseInScene(value, index, name) {
        Vue.set(this.fnBlock.settings[`useInScene${name}`], index, value);
      },
      changeScenesNumbers(value, index, name) {
        Vue.set(this.fnBlock.settings[`scenesNumbers${name}`], index, value);
      },
      changeValue(value, index, name) {
        this.changeScenesValue(index, name);
      },
      changeBrighthness(coef, index, name) {
        this.changeScenesValue(index, name);
      },
      changeScenesValue(index, name) {
        const coef = this.fnBlock.hiddenSettings[`brightness${name}`][index] * 0.01;
        const valuePure = this.fnBlock.hiddenSettings[`value${name}`][index] * 2.55;
        const newValue = [Math.round(valuePure * coef), Math.round((255 - valuePure) * coef)];
        Vue.set(this.fnBlock.settings[`scenesValue${name}`], index, newValue);
      },
    },
  };
</script>

<style lang='stylus'>
  .light-temp-block div.el-slider
    background: linear-gradient(45deg, #fcd15d, #84c1f4)
    border-radius: 5px
    padding: 0 15px
</style>



