<template>
  <WrapperSettings :value.sync="fnBlock.clearVariables">
    <zh-radio
      v-if="modbusChannels.length > 1"
      :value.sync="settings.channel"
      :values="modbusChannels"
      name="Канал Modbus контроллера"
    />
    <zh-select
      :value.sync="settings.commandCode"
      :values="commandCodes"
      name="Команда Modbus для управления реле"
    />
    <zh-input-number
      :value.sync="settings.slaveAddress"
      :min="1"
      :max="247"
      name="Адрес устройства Modbus"
    />
    <zh-input-number
      :value.sync="settings.registerAddress"
      :min="0"
      :max="65535"
      name="Адреса регистра"
    />
    <zh-switch
      :value.sync="settings.sendRequestIfError"
      name="Автоматически проверять состояние соединения, при потери связи"
    >
      <zh-time-picker
        :value.sync="settings.errorCycleTime"
        :min="1"
        :max="255"
        :coef="10"
        name="Циклическая отправка, сек."
      />
    </zh-switch>
    <zh-input-range
      :value="[settings.minValue, settings.maxValue]"
      :min="0"
      :max="255"
      @change="changeValues"
      name="Дипазон значений диммирования"
    />
    <zh-select
      :value.sync="settings.initStart"
      :values="initStartTypes"
      name="Состояние при старте"
    />
    <!-- Отдельная вкладка экрана "Сцены"-->
    <template slot="child">
      <el-tab-pane label="Сценарии">
        <zh-checkbox
          v-for="(item, index) in settings.useInScene"
          :key="index"
          :value="item"
          @change="changeUseInScene($event, index)"
          :name="`Сценарий ${index + 1}`"
        >
          <zh-input-number
            :value="settings.scenesNumbers[index]"
            @change="changeScenesNumbers($event, index)"
            :min="0"
            name="Номер сцены"
          />
          <zh-slider
            :value="settings.scenesValue[index]"
            :min="0"
            :max="100"
            @change="changeScenesValue($event, index)"
            name="Значение для сцены, %"
          />
        </zh-checkbox>
      </el-tab-pane>
    </template>
    <span v-if="isErrorSceneDuplicate" slot="error-message">Дупликаты сцен</span>
  </WrapperSettings>
</template>

<script>
  import Vue from 'vue';
  export default {
    name: 'ModbusDimmer',
    props: ['element', 'device', 'initSave'],
    components: {},
    data() {
      return {
        fnBlock: _.cloneDeep(this.element),
        scenesValues: [
          {
            label: 'Off',
            value: 0,
          },
          {
            label: 'On',
            value: 1,
          },
        ],
        initStartTypes: [
          {
            label: 'Минимальное значение',
            value: 0,
          },
          {
            label: 'Максимальное значение',
            value: 1,
          },
          {
            label: 'Последнее перед выключением',
            value: 2,
          },
        ],
      };
    },
    computed: {
      settings() {
        return this.fnBlock.settings;
      },
      modbusChannels() {
        return this.device.modbus.map((el, index) => ({ label: `Channel ${index + 1}`, value: index + 1 }));
      },
      isErrorSceneDuplicate() {
        const activeSceneValues = [];
        this.fnBlock.settings.useInScene.forEach((el, index) => {
          if (el === 1) activeSceneValues.push(this.fnBlock.settings.scenesNumbers[index]);
        });

        return activeSceneValues.length !== _.uniq(activeSceneValues).length;
      },
      commandCodes() {
        return this.$store.state.main.msgModbusTypes.filter(el => [5, 6, 15, 16].includes(el.value));
      },
    },
    watch: {
      // При измененении пропса от родителя, отправляем копию документа для сохранения.
      initSave(val) {
        let data = null;
        if (val) {
          if (this.isErrorSceneDuplicate) {
            this.$message({
              showClose: true,
              message: 'Невозможно сохранить настройки.',
              type: 'error',
            });
          } else data = _.cloneDeep(this.fnBlock);
          this.$emit('change', data);
        }
      },
      isErrorSceneDuplicate(val) {
        this.$emit('update:isError', val);
      },
    },
    methods: {
      changeValues(value) {
        this.fnBlock.settings.minValue = value[0];
        this.fnBlock.settings.maxValue = value[1];
      },
      changeUseInScene(value, index) {
        Vue.set(this.fnBlock.settings.useInScene, index, value);
      },
      changeScenesNumbers(value, index) {
        Vue.set(this.fnBlock.settings.scenesNumbers, index, value);
      },
      changeScenesValue(value, index) {
        Vue.set(this.fnBlock.settings.scenesValue, index, value);
      },
    },
  };
</script>

<style lang='stylus'>
</style>



