<template>
  <WrapperSettings :value.sync="fnBlock.clearVariables">
    <zh-checkbox
      :value.sync="settings.dependBrightness"
      @change="changeDependBrightness"
      name="Учитывать освещенность"
    >
      <zh-input-number
        :value.sync="settings.brightnessLevel"
        :min="1"
        :max="255"
        :coef="100"
        label="lx"
        name="Чувствительность датчика"
      />
      <zh-input-number
        :value.sync="settings.brightnessHyst"
        :min="1"
        :max="255"
        :coef="10"
        label="lx"
        name="Гистерезис уровня освещенности"
      />
    </zh-checkbox>
    <zh-radio
      :value.sync="settings.dayNightMode"
      :values="dayNightModes"
      @change="changeDayNightMode"
      name="Режим день/ночь"
    />
    <zh-checkbox
      :value.sync="settings.blockMode"
      @change="changeBlockMode"
      name="Возможность блокировки датчика"
    />
    <zh-input-number
      :value.sync="settings.minMotion"
      :min="1"
      :max="255"
      name="Минимальный уровень движения(аналоговый вход)"
    />
    <template slot="child">
      <!-- Реакция на движение днем -->
      <el-tab-pane label="Движение днем">
        <!-- Действие при обнаружении движения-->
        <zh-select
          :value.sync="settings.dayDetectionOnBehaviour"
          :values="modesSend"
          @change="changeModeDetection"
          name="Действие при обнаружении движения"
        >
          <zh-input-number
            v-if="settings.dayDetectionOnBehaviour == 2"
            :value.sync="settings.dayValueOn"
            name="Переменная для отправки"
          />
        </zh-select>
        <!-- Действие при завершении таймера и отсутствии движения-->
        <zh-select
          :value.sync="settings.dayDetectionOffBehaviour"
          :values="modesSend"
          @change="changeModeDetection"
          name="Действие при окончании таймера и отсутствии движения"
        >
          <zh-input-number
            v-if="settings.dayDetectionOffBehaviour == 2"
            :value.sync="settings.dayValueOff"
            name="Переменная для отправки"
          />
        </zh-select>
        <!-- Действие при блокировке-->
        <zh-select
          v-if="settings.blockMode"
          :value.sync="settings.dayBlockBehaviour"
          :values="modesSend"
          @change="changeModeDetection"
          name="Действие при блокировке"
        >
          <zh-input-number
            v-if="settings.dayBlockBehaviour == 2"
            :value.sync="settings.dayValueOff"
            name="Переменная для отправки"
          />
        </zh-select>
        <zh-time-picker
          :value.sync="settings.dayTimeout"
          :min="1"
          :max="255"
          :coef="10"
          name="Таймаут датчика при обнаружении"
        />
        <zh-time-picker
          :value.sync="settings.daySendCyclic"
          :min="0"
          :max="255"
          :coef="10"
          :checkbox="true"
          name="Циклическая отправка значения"
        />
      </el-tab-pane>
      <!-- Реакция на движение ночью -->
      <el-tab-pane v-if="settings.dayNightMode" label="Движение ночью">
        <!-- Действие при обнаружении движения-->
        <zh-select
          :value.sync="settings.nightDetectionOnBehaviour"
          :values="modesSend"
          @change="changeModeDetection"
          name="Действие при обнаружении движения"
        >
          <zh-input-number
            v-if="settings.nightDetectionOnBehaviour == 2"
            :value.sync="settings.nightValueOn"
            name="Переменная для отправки"
          />
        </zh-select>
        <!-- Действие при завершении таймера и отсутствии движения-->
        <zh-select
          :value.sync="settings.nightDetectionOffBehaviour"
          :values="modesSend"
          @change="changeModeDetection"
          name="Действие при окончании таймера и отсутствии движения"
        >
          <zh-input-number
            v-if="settings.nightDetectionOffBehaviour === 2"
            :value.sync="settings.nightValueOff"
            name="Переменная для отправки"
          />
        </zh-select>
        <!-- Действие при блокировке-->
        <zh-select
          v-if="settings.blockMode"
          :value.sync="settings.nightBlockBehaviour"
          :values="modesSend"
          @change="changeModeDetection"
          name="Действие при блокировке"
        >
          <zh-input-number
            v-if="settings.nightBlockBehaviour == 2"
            :value.sync="settings.nightValueOff"
            name="Переменная для отправки"
          />
        </zh-select>
        <zh-time-picker
          :value.sync="settings.nightTimeout"
          :min="1"
          :max="255"
          name="Таймаут датчика при обнаружении"
        />
        <zh-time-picker
          :value.sync="settings.nightSendCyclic"
          :min="0"
          :max="255"
          format="мин"
          :checkbox="true"
          name="Интервал отправки"
        />
      </el-tab-pane>
    </template>
  </WrapperSettings>
</template>

<script>
  export default {
    name: 'MotionSensor',
    props: ['element', 'initSave'],
    components: {},
    data() {
      return {
        fnBlock: _.cloneDeep(this.element),
        dayNightModes: [
          {
            label: 'День',
            value: 0,
          },
          {
            label: 'День + Ночь',
            value: 1,
          },
        ],
        modesSend: [
          {
            label: 'Посылать 0',
            value: 0,
            info: '1 bit',
          },
          {
            label: 'Посылать 1',
            value: 1,
            info: '1 bit',
          },
          {
            label: 'Посылать значение',
            value: 2,
            info: '1 byte',
          },
          {
            label: 'Выкл.',
            value: 3,
          },
        ],
      };
    },
    computed: {
      settings() {
        return this.fnBlock.settings;
      },
    },
    mounted() {
      this.changeModeDetection();
    },
    watch: {
      // При измененении пропса от родителя, отправляем копию документа для сохранения.
      initSave(val) {
        if (val) this.$emit('change', _.cloneDeep(this.fnBlock));
      },
    },
    methods: {
      changeDependBrightness(val) {
        this.fnBlock.objects[2].active = val;
      },

      changeDayNightMode(val) {
        this.fnBlock.objects[3].active = val;
        if (val) this.changeModeDetection();
        else {
          this.fnBlock.objects[7].active = val;
          this.fnBlock.objects[8].active = val;
        }
      },
      changeBlockMode(val) {
        this.fnBlock.objects[4].active = val;
        this.fnBlock.objects[9].active = val;
        this.changeModeDetection();
      },
      changeModeDetection() {
        /**
         * Day
         */
        const arrayValueDay = [];
        arrayValueDay.push(this.fnBlock.settings.dayDetectionOnBehaviour);
        arrayValueDay.push(this.fnBlock.settings.dayDetectionOffBehaviour);
        if (this.fnBlock.settings.blockMode) arrayValueDay.push(this.fnBlock.settings.dayBlockBehaviour);
        this.fnBlock.objects[5].active = arrayValueDay.includes(0) || arrayValueDay.includes(1);
        this.fnBlock.objects[6].active = arrayValueDay.includes(2);
        /**
         * Night
         */
        if (this.fnBlock.settings.dayNightMode) {
          const arrayValueNight = [];
          arrayValueNight.push(this.fnBlock.settings.nightDetectionOnBehaviour);
          arrayValueNight.push(this.fnBlock.settings.nightDetectionOffBehaviour);
          if (this.fnBlock.settings.blockMode) arrayValueNight.push(this.fnBlock.settings.nightBlockBehaviour);
          this.fnBlock.objects[7].active = arrayValueNight.includes(0) || arrayValueNight.includes(1);
          this.fnBlock.objects[8].active = arrayValueNight.includes(2);
        }
      },
    },
  };
</script>



