<template>
  <WrapperSettings :value.sync="fnBlock.clearVariables">
    <zh-select :value.sync="settings.portNumber" :values="ports" @change="changePortNumber" name="Номер порта" />
    <zh-select :value.sync="settings.portType" :values="portTypes" @change="changePortType" name="Режим работы порта" />
    <zh-select v-if="settings.portType === 1" :value.sync="settings.mode" :values="modes" @change="changeMode" name="Режим работы порта" />
    <zh-select
      v-if="settings.mode === 1 && settings.portType === 1"
      :value.sync="settings.directionDim"
      :values="directionDimTypes"
      name="Направление диммирования"
    />
    <zh-time-picker
      v-if="settings.mode === 2 || settings.portType !== 1"
      :value.sync="settings.sendCyclic"
      :min="0"
      :max="255"
      :coef="30"
      :checkbox="true"
      name="Циклическая отправка значения"
    />
    <zh-checkbox
      v-if="settings.mode === 2 || settings.portType !== 1"
      :value.sync="settings.sendWhenChange"
      name="Отправлять значение по изменение"
    />
    <zh-time-picker
      v-if="settings.portType === 4"
      :value.sync="settings.timePWM"
      :min="1"
      :max="255"
      format="мин"
      name="Время ШИМ"
    />
    <zh-select
      v-if="settings.portType === 2 || settings.portType === 4"
      :value.sync="settings.initMode"
      :values="initModes"
      name="Состояние при старте"
    />
  </WrapperSettings>
</template>

<script>
  export default {
    name: 'Multiport',
    props: ['element', 'device', 'initSave'],
    components: {},
    data() {
      return {
        fnBlock: _.cloneDeep(this.element),
        initModes: [
          {
            label: 'On',
            value: 1,
          },
          {
            label: 'Off',
            value: 2,
          },
          {
            label: 'lastState',
            value: 3,
          },
        ],
        modes: [
          {
            label: 'Выключатель',
            value: 0,
          },
          {
            label: 'Димм. выключатель',
            value: 1,
          },
          {
            label: 'Датчик',
            value: 2,
          },
        ],
        directionDimTypes: [
          {
            label: 'UP',
            value: 1,
          },
          {
            label: 'Down',
            value: 0,
          },
        ],
      };
    },
    computed: {
      settings() {
        return this.fnBlock.settings;
      },
      ports() {
        const portsArray = [];
        for (let i = 1; i <= this.device.params.portsCount; i++) {
          portsArray.push({ label: `Порт ${i}`, value: i });
        }
        return portsArray;
      },
      isOnlyInput() {
        if (this.device.params.portsOnlyInput)
          return this.device.params.portsOnlyInput.includes(this.settings.portNumber);
        return false;
      },
      portTypes() {
        const data = [
          {
            label: 'Discrete input',
            value: 1,
          },
          {
            label: 'Discrete output',
            value: 2,
          },
          {
            label: 'Analog input',
            value: 3,
          },
          {
            label: 'Heat actuator',
            value: 4,
          },
        ];
        if (this.isOnlyInput) data.splice(1, 1);
        return data;
      },
    },

    watch: {
      // При измененении пропса от родителя, отправляем копию документа для сохранения.
      initSave(val) {
        if (val) this.$emit('change', _.cloneDeep(this.fnBlock));
      },
    },
    methods: {
      changePortNumber() {
        if (this.isOnlyInput && this.settings.portType === 2) this.fnBlock.settings.portType = 1;
      },
      changePortType(val) {
        this.fnBlock.objects[1].active = val === 4;
        this.fnBlock.objects[4].active = val === 4;
        this.fnBlock.objects[2].active = val === 2 || val === 1;
        this.fnBlock.objects[0].active = val === 2;
        this.fnBlock.objects[3].active = val === 3;
      },
      changeMode(val) {
        this.fnBlock.objects[5].active = val === 0;
        this.fnBlock.objects[6].active = val === 1;
      },
    },
  };
</script>




