<template>
  <WrapperSettings :value.sync="fnBlock.clearVariables">
    <zh-checkbox
      :value.sync="settings.sendReadReqBeforeStart"
      name="Запрашивать значение при старте"
    />
    <zh-checkbox :value.sync="settings.sendWhenChange" name="Отправлять результат по изменению"/>
    <zh-time-picker
      :value.sync="settings.sendCyclic"
      :min="1"
      :max="255"
      :coef="30"
      :checkbox="true"
      name="Интервал отправки"
    />
  </WrapperSettings>
</template>
<script>
  export default {
    name: 'Not',
    props: ['element', 'initSave'],
    components: {},
    data() {
      return {
        fnBlock: _.cloneDeep(this.element),
      };
    },
    computed: {
      settings() {
        return this.fnBlock.settings;
      },
    },

    watch: {
      // При измененении пропса от родителя, отправляем копию документа для сохранения.
      initSave(val) {
        if (val) this.$emit('change', _.cloneDeep(this.fnBlock));
      },
    },
  };
</script>




