<template>
  <WrapperSettings :value.sync="fnBlock.clearVariables">
    <zh-select
      :value.sync="settings.addressRAM"
      :values="sensors"
      name="Датчик температуры"
    />
    <zh-time-picker
      :value.sync="settings.sendCyclic"
      :min="0"
      :max="255"
      format="мин"
      name="Циклическая отправка статуса температуры"
    />
    <zh-input-number
      :value.sync="settings.deltaT"
      :min="-10"
      :max="10"
      :step="0.1"
      name="Калибровка показаний"
    />
  </WrapperSettings>
</template>

<script>
  export default {
    name: 'OneWire',
    props: ['element', 'device', 'initSave'],
    components: {},
    data() {
      return {
        fnBlock: _.cloneDeep(this.element),
      };
    },
    computed: {
      settings() {
        return this.fnBlock.settings;
      },
      sensors() {
        if (this.device.oneWire) return this.device.oneWire.saveSensors.map(el => ({ label: el.name, value: el.id }));
        return [];
      },
    },

    watch: {
      // При измененении пропса от родителя, отправляем копию документа для сохранения.
      initSave(val) {
        if (val) this.$emit('change', _.cloneDeep(this.fnBlock));
      },
    },
  };
</script>




