<template>
  <WrapperSettings :value.sync="fnBlock.clearVariables">
    <zh-select
      :value.sync="settings.type"
      :values="types"
      @change="changeType"
      name="Режим работы блока"
    />
    <zh-checkbox
      v-if="settings.type === 2"
      :value.sync="settings.sendReadReqBeforeStart"
      name="Запрашивать значение при старте"
    />
    <zh-radio
      :value.sync="settings.controlValueReaction"
      :values="typesReaction"
      name="Объект 'INPUT' реагирует на значение:"
    />
  </WrapperSettings>
</template>

<script>
  export default {
    name: 'OnOffToggle',
    props: ['element', 'initSave'],
    components: {},
    data() {
      return {
        fnBlock: _.cloneDeep(this.element),
        types: [
          {
            label: 'Off',
            value: 0,
          },
          {
            label: 'On',
            value: 1,
          },
          {
            label: 'Toggle',
            value: 2,
          },
        ],
        typesReaction: [
          {
            label: 'Значение 0',
            value: 0,
          },
          {
            label: 'Значение 1',
            value: 1,
          },
          {
            label: 'Оба значения',
            value: 2,
          },
        ],
      };
    },
    computed: {
      settings() {
        return this.fnBlock.settings;
      },
    },

    watch: {
      // При измененении пропса от родителя, отправляем копию документа для сохранения.
      initSave(val) {
        if (val) this.$emit('change', _.cloneDeep(this.fnBlock));
      },
    },
    methods: {
      changeType(val) {
        this.fnBlock.objects[1].active = val === 2 ? 1 : 0;
      },
    },
  };
</script>




