<template>
  <WrapperSettings :value.sync="fnBlock.clearVariables">
    <zh-select
      :value.sync="settings.inputType"
      :values="types"
      @change="changeInputType"
      name="Тип запрашиваемого объекта"
    />
    <zh-time-picker
      :value.sync="settings.delay"
      :min="1"
      :max="255"
      :coef="10"
      name="Время циклической отправки запроса"
    />
  </WrapperSettings>
</template>

<script>
  export default {
    name: 'Read',
    props: ['element', 'initSave'],
    components: {},
    data() {
      return {
        fnBlock: _.cloneDeep(this.element),
      };
    },
    computed: {
      settings() {
        return this.fnBlock.settings;
      },
      types() {
        return this.$store.state.main.dataTypes;
      },
    },
    watch: {
      // При измененении пропса от родителя, отправляем копию документа для сохранения.
      initSave(val) {
        if (val) this.$emit('change', _.cloneDeep(this.fnBlock));
      },
    },
    methods: {
      changeInputType(val) {
        this.fnBlock.objects[0].dataType = val;
      },
    },
  };
</script>




