<template>
  <WrapperSettings :value.sync="fnBlock.clearVariables">
    <zh-input-number
      :value.sync="settings.motionSensorScene"
      :min="0"
      :max="255"
      name="Номер сцены, запускамой по датчику движения"
    />
    <zh-input-number
      :value.sync="settings.standbyScene"
      :min="0"
      :max="255"
      name="Номер сцены режима 'Ожидание'"
    />
    <zh-time-picker
      :value.sync="settings.timeForMotionSensor"
      :min="1"
      :max="255"
      format="мин"
      name="Время проверки движения в помещении"
    />
    <zh-time-picker
      :value.sync="settings.timeForSceneReset"
      :min="1"
      :max="255"
      :coef="2"
      format="мин"
      name="Время сброса сцены до режима 'Ожидание' в ручном режиме"
    />
    <span v-if="isErrorSceneDuplicate" slot="error-message">Дупликаты сцен</span>
  </WrapperSettings>
</template>

<script>
  export default {
    name: 'Scene',
    props: ['element', 'initSave'],
    components: {},
    data() {
      return {
        fnBlock: _.cloneDeep(this.element),
      };
    },
    computed: {
      settings() {
        return this.fnBlock.settings;
      },
      isErrorSceneDuplicate() {
        const activeSceneValues = [this.settings.motionSensorScene, this.settings.standbyScene];
        return activeSceneValues.length !== _.uniq(activeSceneValues).length;
      },
    },

    watch: {
      // При измененении пропса от родителя, отправляем копию документа для сохранения.
      initSave(val) {
        if (val) this.$emit('change', _.cloneDeep(this.fnBlock));
      },
      isErrorSceneDuplicate(val) {
        this.$emit('update:isError', val);
      },
    },
  };
</script>




