<template>
  <WrapperSettings :value.sync="fnBlock.clearVariables">
    <zh-select :value.sync="settings.mode" :values="modes" @change="changeMode" name="Режим работы" />
    <zh-select
      :value.sync="settings.regulatorType"
      :values="regulatorTypes"
      @change="changeRegulatorType"
      name="Тип регулятора"
    />
    <zh-time-picker v-if="false" :value.sync="settings.timePWM" :min="1" :max="255" format="мин" name="Время ШИМ" />
    <zh-time-picker
      v-if="settings.regulatorType === 2"
      :value.sync="settings.timeCycle"
      :min="0"
      :max="255"
      format="мин"
      name="Время цикла"
    />
    <zh-radio :value.sync="settings.selectTypeSensor" :values="sensorTypes" @change="changeTypeSensor" />
    <zh-select
      v-if="settings.selectTypeSensor === 0"
      :value.sync="settings.oneWireAddress"
      :values="sensors"
      name="Датчик температуры"
    />
    <zh-input-number
      :value.sync="settings.delatT"
      :min="-10"
      :max="10"
      :step="0.1"
      label="град"
      name="Калибровка показаний"
    />
    <zh-input-number
      :value.sync="settings.standbySetpoint"
      :min="7"
      :max="35"
      :step="0.5"
      label="град"
      name="Уставка режим 'Ожидание'"
    />
    <zh-input-number
      :value.sync="settings.comfortSetpoint"
      :min="7"
      :max="35"
      :step="0.5"
      label="град"
      name="Устaвка режим 'Комфорт'"
    />
    <zh-input-number
      :value.sync="settings.nightSetpoint"
      :min="7"
      :max="35"
      :step="0.5"
      label="град"
      name="Уставка режим 'Ночь'"
    />
    <zh-select :value.sync="settings.hystMode" :values="hysteresisModes" name="Режим гистерезиса" />
    <zh-input-number :value.sync="settings.hysteresis" :min="0" :max="10" :step="0.5" label="град" name="Гистерезис" />
    <br />
    <zh-input-number
      v-if="settings.regulatorType === 2"
      :value.sync="settings.kp"
      :max="100"
      :step="0.1"
      name="Коэфициент пропорциональности регулятора"
    />
    <zh-input-number
      v-if="settings.regulatorType === 2"
      :value.sync="settings.ki"
      :min="0.1"
      :max="100"
      :step="0.1"
      name="Коэфициент интегральной составляющей"
    />
    <zh-input-number
      v-if="settings.regulatorType === 2"
      :value.sync="settings.kd"
      :min="0.1"
      :max="100"
      :step="0.1"
      name="Коэфициент дифф. составляющей"
    />
    <zh-time-picker
      :value.sync="settings.sendActualTempDelay"
      :min="0"
      :max="255"
      :checkbox="true"
      format="мин"
      name="Циклическая отправка статуса температуры"
    />
    <zh-time-picker
      v-show="settings.mode !== 1"
      :value.sync="settings.controlHeatDelay"
      :min="0"
      :max="255"
      :step="30"
      :checkbox="true"
      name="Циклическая отправка управления отопителем"
    />
    <zh-time-picker
      v-if="settings.mode !== 0"
      :value.sync="settings.controlCoolDelay"
      :min="0"
      :max="255"
      :step="30"
      :checkbox="true"
      name="Циклическая отправка команды управления охладителем"
    />
    <zh-select :value.sync="settings.initStart" :values="modesInit" name="Режим работы после загрузки" />
  </WrapperSettings>
</template>

<script>
  export default {
    name: 'Thermostat',
    props: ['element', 'device', 'initSave'],
    components: {},
    data() {
      return {
        fnBlock: _.cloneDeep(this.element),
        modes: [
          {
            label: 'Нагрев',
            value: 0,
          },
          /*
                        {
                          label: 'Охлаждение',
                          value: 1,
                        },
                        {
                          label: 'Hагрев и охлаждение',
                          value: 2,
                        },
                        */
        ],
        hysteresisModes: [
          {
            label: 'Симметричный',
            value: 0,
          },
          {
            label: 'Ассиметричный',
            value: 1,
          },
        ],
        sensorTypes: [
          {
            label: 'OneWire',
            value: 0,
          },
          {
            label: 'Внешний датчик',
            value: 1,
          },
        ],
        modesInit: [
          {
            label: 'Ожидание',
            value: 1,
          },
          {
            label: 'Комфорт',
            value: 2,
          },
          {
            label: 'Ночь',
            value: 3,
          },
        ],
        regulatorTypes: [
          {
            label: 'Первого порядка',
            value: 1,
          },
          {
            label: 'Второго порядка',
            value: 2,
          },
        ],
      };
    },
    computed: {
      settings() {
        return this.fnBlock.settings;
      },
      sensors() {
        if (this.device.oneWire) return this.device.oneWire.saveSensors.map(el => ({ label: el.name, value: el.id }));
        return [];
      },
    },
    beforeMount() {
      this.changeMode(this.element.settings.mode);
    },
    watch: {
      // При измененении пропса от родителя, отправляем копию документа для сохранения.
      initSave(val) {
        if (val) this.$emit('change', _.cloneDeep(this.fnBlock));
      },
    },
    methods: {
      changeMode() {
        /*
                      [3, 11, 15, 16, 17, 19].forEach(index => {
                        this.fnBlock.objects[index].active = val === 0 ? 0 : 1;
                      });
                      [12, 13, 14, 18].forEach(index => {
                        this.fnBlock.objects[index].active = val === 1 ? 0 : 1;
                      });
                      */
      },
      changeTypeSensor(val) {
        this.fnBlock.objects[0].active = val === 0 ? 0 : 1;
      },
      changeRegulatorType(val) {
        this.fnBlock.settings.intTime = val === 1 ? 0 : 50;
      },
    },
  };
</script>




