<template>
  <WrapperSettings :value.sync="fnBlock.clearVariables">
    <zh-select
      :value.sync="settings.eventType"
      :values="eventTypes"
      @change="changeEventType"
      name="Тип события"
    />
    <zh-select
      name="Значение события"
      v-if="settings.eventType === 1"
      :value.sync="settings.eventValue"
      :values="eventValues"
    />
    <zh-input-number v-else :value.sync="settings.eventValue" :min="0" name="Значение события"/>
  </WrapperSettings>
</template>

<script>
  export default {
    name: 'TimeAlarm',
    props: ['element', 'initSave'],
    components: {},
    data() {
      return {
        fnBlock: _.cloneDeep(this.element),
        eventValues: [
          {
            label: '0',
            value: 0,
          },
          {
            label: '1',
            value: 1,
          },
        ],
      };
    },
    computed: {
      settings() {
        return this.fnBlock.settings;
      },
      eventTypes() {
        return this.$store.state.main.dataTypes.filter(el => el.value === 1 || el.value === 2);
      },
    },
    watch: {
      // При измененении пропса от родителя, отправляем копию документа для сохранения.
      initSave(val) {
        if (val) this.$emit('change', _.cloneDeep(this.fnBlock));
      },
    },
    methods: {
      changeEventType(val) {
        this.fnBlock.objects[2].dataType = val;
        if (val === 1) this.fnBlock.settings.eventValue = 0;
      },
    },
  };
</script>




