<template>
  <WrapperSettings :value.sync="fnBlock.clearVariables">
    <zh-select
      :value.sync="settings.type"
      :values="types"
      @change="changeType"
      name="Тип данных на выходе"
    />
    <zh-input-number
      v-if="settings.type === 2"
      :value.sync="settings.value1"
      :min="0"
      :max="255"
      name="Константа"
    />
    <zh-select
      v-else-if="settings.type === 4"
      :value.sync="settings.value2"
      :values="typesValue4"
      name="Константа"
    />
    <zh-input-number
      v-else-if="settings.type === 6"
      :value.sync="settings.value3"
      :min="-65535"
      :max="65535"
      :step="0.1"
      name="Константа"
    />
    <zh-radio
      :value.sync="settings.controlValueReaction"
      :values="typesReaction"
      name="Реакция на значение"
    />
    <zh-time-picker
      :value.sync="settings.sendCyclic"
      :min="0"
      :max="255"
      :coef="30"
      format="сек"
      name="Циклическая отправка"
    />
  </WrapperSettings>
</template>

<script>
  export default {
    name: 'Value',
    props: ['element', 'initSave'],
    components: {},
    data() {
      return {
        fnBlock: _.cloneDeep(this.element),
        typesReaction: [
          {
            label: 'Значение 0',
            value: 0,
          },
          {
            label: 'Значение 1',
            value: 1,
          },
          {
            label: 'Оба значения',
            value: 2,
          },
        ],
        typesValue4: [
          {
            label: 'Вверх',
            info: '0xFF',
            value: 255,
          },
          {
            label: 'Вниз',
            info: '0x0F',
            value: 15,
          },
          {
            label: 'Стоп',
            info: '0x00',
            value: 0,
          },
        ],
      };
    },
    computed: {
      settings() {
        return this.fnBlock.settings;
      },
      types() {
        return this.$store.state.main.dataTypes.filter(el => el.value === 2 || el.value === 4 || el.value === 6);
      },
    },
    watch: {
      // При измененении пропса от родителя, отправляем копию документа для сохранения.
      initSave(val) {
        if (val) this.$emit('change', _.cloneDeep(this.fnBlock));
      },
    },
    methods: {
      changeType(val) {
        this.fnBlock.objects[1].dataType = val;
      },
    },
  };
</script>




