<template>
  <div id="config--input-device">
    <div class="block-input" v-for="(item, index) in device.blocks" :key="`Input${index}`">
      <div class="header">
        <span class="name-setting" style="width: 100px">Input {{index + 1}} </span>
        <el-switch v-model="item.active" size="mini" @change="changeInput($event, item)"></el-switch>
      </div>
      <div class="body" v-if="item.active">
        <div class="body__element" v-for="(ev, index) in item.events" :key="`${index}`">
          <span class="name-setting">{{ev.name}}:</span>
          <el-select v-model="ev.mode" size="mini" @change="changeMode($event, ev, item)">
            <el-option v-for="mode in modes" :key="mode.value" :value="mode.value" :label="mode.label"></el-option>
          </el-select>
          <!-- Дополнительные настройки для Counter -->
          <div class="body__subsettings" v-if="ev.mode === 6">
            <div class="body__subsettings__element">
              <span class="name-setting">Шаг:</span>
              <el-input-number v-model="ev.step" size="small" :min="1" :max="255" @change="changeValue(ev, 'step')"></el-input-number>
              <el-switch style="margin-left: 30px" v-model="ev.direction" active-text="+" inactive-text="-" :active-value="1"
                :inactive-value="0"></el-switch>
            </div>
            <div class="body__subsettings__element">
              <span class="name-setting">Интервал: {{ev.range[0]}}..{{ev.range[1]}}</span>
              <el-slider style=" margin: 0 20px" v-model="ev.range" :min="0" :max="ev.max" :step="ev.step" @change="changeRange($event, ev)"
                range></el-slider>
            </div>
          </div>
          <!-- Дополнительные настройки для Value1 -->
          <div class="body__subsettings" v-if="ev.mode === 4">
            <div class="body__subsettings__element">
              <span class="name-setting"> Значение:</span>
              <el-slider style=" margin: 0 20px" v-model="ev.value" :min="0" :max="255" :step="1" show-input size="mini"
                @change="changeValue(ev, 'int')"></el-slider>
            </div>
          </div>
          <!-- Дополнительные настройки для Value2 -->
          <div class="body__subsettings" v-if="ev.mode === 5">
            <div class="body__subsettings__element">
              <span class="name-setting"> Значение:</span>
              <el-slider style=" margin: 0 20px" width="200" v-model="ev.value" :min="-32000" :max="32000" :step="0.1"
                show-input size="mini" @change="changeValue(ev, 'float')"></el-slider>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'configInputDevice',
  props: ['element'],
  components: {},
  data() {
    return {
      device: _.cloneDeep(this.element),
      modes: [
        {
          value: 0,
          label: 'disabled',
        },
        {
          value: 1,
          label: 'on',
        },
        {
          value: 2,
          label: 'off',
        },
        {
          value: 3,
          label: 'toggle',
        },
        {
          value: 4,
          label: 'value1',
        },
        {
          value: 5,
          label: 'value2',
        },
        {
          value: 6,
          label: 'counter',
        },
      ],
      Objects: () => [
        {
          name: 'control_input',
          addresses: [],
          dataType: 2,
          bus: 1,
          active: false,
          direction: 'input',
        },
        {
          name: '',
          addresses: [],
          dataType: 1,
          bus: 1,
          active: false,
          direction: 'input',
        },
        {
          name: '',
          addresses: [],
          dataType: 1,
          bus: 1,
          active: false,
          direction: 'input',
        },
        {
          name: 'reset',
          addresses: [],
          dataType: 1,
          bus: 1,
          active: false,
          direction: 'input',
        },
        {
          name: 'value_input',
          addresses: [],
          dataType: 2,
          bus: 1,
          active: false,
          direction: 'input',
        },
        {
          name: '',
          addresses: [],
          dataType: null,
          bus: 1,
          active: false,
          direction: 'output',
        },
        {
          name: 'control_input',
          addresses: [],
          dataType: 2,
          bus: 1,
          active: false,
          direction: 'input',
        },
        {
          name: '',
          addresses: [],
          dataType: 1,
          bus: 1,
          active: false,
          direction: 'input',
        },
        {
          name: '',
          addresses: [],
          dataType: 1,
          bus: 1,
          active: false,
          direction: 'input',
        },
        {
          name: 'reset',
          addresses: [],
          dataType: 1,
          bus: 1,
          active: false,
          direction: 'input',
        },
        {
          name: 'value_input',
          addresses: [],
          dataType: 2,
          bus: 1,
          active: false,
          direction: 'input',
        },
        {
          name: '',
          addresses: [],
          dataType: null,
          bus: 1,
          active: false,
          direction: 'output',
        },
        {
          name: 'control_input',
          addresses: [],
          dataType: 2,
          bus: 1,
          active: false,
          direction: 'input',
        },
        {
          name: '',
          addresses: [],
          dataType: 1,
          bus: 1,
          active: false,
          direction: 'input',
        },
        {
          name: '',
          addresses: [],
          dataType: 1,
          bus: 1,
          active: false,
          direction: 'input',
        },
        {
          name: 'reset',
          addresses: [],
          dataType: 1,
          bus: 1,
          active: false,
          direction: 'input',
        },
        {
          name: 'value_input',
          addresses: [],
          dataType: 2,
          bus: 1,
          active: false,
          direction: 'input',
        },
        {
          name: '',
          addresses: [],
          dataType: null,
          bus: 1,
          active: false,
          direction: 'output',
        },
        {
          name: 'control_input',
          addresses: [],
          dataType: 2,
          bus: 1,
          active: false,
          direction: 'input',
        },
        {
          name: '',
          addresses: [],
          dataType: 1,
          bus: 1,
          active: false,
          direction: 'input',
        },
        {
          name: '',
          addresses: [],
          dataType: 1,
          bus: 1,
          active: false,
          direction: 'input',
        },
        {
          name: 'reset',
          addresses: [],
          dataType: 1,
          bus: 1,
          active: false,
          direction: 'input',
        },
        {
          name: 'value_input',
          addresses: [],
          dataType: 2,
          bus: 1,
          active: false,
          direction: 'input',
        },
        {
          name: '',
          addresses: [],
          dataType: null,
          bus: 1,
          active: false,
          direction: 'output',
        },
      ],
      EventStruct: (eventName, subName, objectRange) => ({
        name: eventName,
        subName,
        mode: 0,
        value: 1,
        direction: 1,
        step: 1,
        max: 255,
        range: [0, 255],
        objectRange,
      }),
      EventsStruct: () => ({
        push: new this.EventStruct('Нажатие', 'push', [0, 7]),
        pull: new this.EventStruct('Отпускание', 'pull', [6, 13]),
        longPushStart: new this.EventStruct('Долгое нажатие (Старт)', 'long_push_start', [12, 19]),
        longPushEnd: new this.EventStruct('Долгое нажатие (Стоп)', 'long_push_end', [18, 25]),
      }),
    };
  },
  computed: {},
  watch: {
    device: {
      handler() {
        this.$emit('change', this.device);
      },
      deep: true,
    },
    element() {
      this.device = _.cloneDeep(this.element);
    }
  },
  methods: {
    changeInput(ev, item) {
      if (ev) {
        item.events = new this.EventsStruct();
        item.objects = new this.Objects();
      } else {
        item.events = {};
        item.objects = [];
      }
    },
    /* В зависимости от типа обработки события, меняем данные.
      0 - disabled
      1 - on
      2 - off
      3 - toogle
      4 - value1
      5 - value2
      6 - counter
    */
    changeMode(ev, event, item) {
      // Берем только относящиеся к этому событию объекты
      const objects = item.objects.slice(event.objectRange[0], event.objectRange[1]);
      event.value = 0;
      objects.forEach(object => {
        object.active = false;
      });
      if (ev !== 0) {
        objects[1].active = true;
        objects[5].active = true;
      }
      if (ev !== 0 || ev !== 6) objects[1].name = 'control_input';
      switch (ev) {
        case 1:
          objects[5].name = 'control_output';
          objects[5].dataType = 1;
          event.value = 1;
          break;
        case 2:
          objects[5].name = 'control_output';
          objects[5].dataType = 1;
          event.value = 0;
          break;
        case 3:
          objects[2].active = true;
          objects[2].name = 'relay_status';
          objects[5].name = 'control_output';
          objects[5].dataType = 1;
          event.value = 0;
          break;
        case 4:
          objects[5].name = 'value_output';
          objects[5].dataType = 2;
          event.value = 0;
          break;
        case 5:
          objects[5].name = 'value_output';
          objects[5].dataType = 6;
          event.value = 0;
          break;
        case 6:
          objects.forEach(object => {
            object.active = true;
          });
          objects[1].name = 'up';
          objects[2].name = 'down';
          objects[5].name = 'counter_output';
          objects[5].dataType = 2;
          event.value = 0;
          break;
        default:
          console.log('Error mode event');
          break;
      }
        objects.forEach(object => {
          object.name = `${event.subName}.${object.name.split('.').reverse()[0]}`;
        });
      this.$emit('changeModeEvent');
    },
    // Обработка изменения данных
    changeValue(event, type) {
      this.$nextTick(() => {
        // Дополнительная обработка для режима Counter
        if (type === 'step') {
          event.step = Math.round(event.step);
          event.range[0] = 0;
          event.range[1] = event.max = Math.floor(255 / event.step) * event.step;
        }
        // Обработка для целых и дробных чисел
        if (type === 'int') event.value = Math.round(event.value);
        if (type === 'float') event.value = +event.value.toFixed(1);
      });
    },
    // Обработка изменения range
    changeRange(ev, event) {
      this.$nextTick(() => {
        const newArray = _.clone(event.range);
        if (ev[0] === ev[1]) {
          if (ev[1] + event.step < event.max) newArray[1] = ev[1] + event.step;
          else newArray[0] = ev[0] - event.step;
          event.range = newArray;
        }
      });
    },
  },
};
</script>

<style lang='stylus'>
border-color = #DCDFE6
#config--input-device
  .block-input
    margin: 5px
    border: 1px solid border-color
    overflow: hidden
    .header
      display: flex
      flex-direction: row
      padding: 5px 10px
      background-color: #F2F6FC
      &__name
        width: 80px
    .body
      border-top: 1px solid border-color
      &__element
        padding: 5px 0
        + .body__element
          border-top: 1px solid border-color
        > .name-setting
          color: #485d8c
          font-weight: 500
      &__subsettings
        margin-top: 10px
        margin-bottom: 20px
      &__subsettings__element
        margin: 3px 0
  span.name-setting
    width: 200px
    display: inline-block
    margin-left: 10px
  .el-slider__input
    width: 150px
</style>



