<template>
  <div  v-if="device" v-loading="loading" :key="device.id">
    <div class="container-menu">
      <SidbarMenuDeviceConfig :items="menuItems" @select="changeMenu" :isColapsed="menuColapsed" />
      <div class="container-menu-content">
        <component :is="activeMenu" :device="device"></component>
      </div>
    </div>
  </div>
  <div class="info-block--empty no-device" v-else>Нет информации</div>
</template>

<script>
  import { mapState } from 'vuex';
  import ViewObjects from './device/ViewObjects';
  import ConfigurationDevice from './device/ConfigurationDevice';
  import SettingsDevice from './device/SettingsDevice';
  import ModbusTerminal from './device/ModbusTerminal';
  import OneWireConfig from './device/OneWireConfig';
  import TableConformKNX from './device/TableConformKNX';
  import SidbarMenuDeviceConfig from '../other/SidbarMenuDeviceConfig';
  export default {
    name: 'configDevice',
    props: [],
    components: {
      ViewObjects,
      ConfigurationDevice,
      ModbusTerminal,
      OneWireConfig,
      TableConformKNX,
      SidbarMenuDeviceConfig,
      SettingsDevice,
    },
    data() {
      return {
        activeMenu: 'ViewObjects',
        menuColapsed: true,
        loading: true,
      };
    },

    computed: mapState({
      device: state => {
        const changeElement = state.structData.devices.props.changeElement;
        if (changeElement) {
          if (changeElement.type === 'element') return changeElement;
        }
        return null;
      },
      menuItems() {
        const items = [
          {
            label: 'Объекты',
            icon: 'grip-horizontal',
            component: 'ViewObjects',
          },
          {
            label: 'Конфигурация',
            icon: 'project-diagram',
            component: 'ConfigurationDevice',
          },
          {
            label: 'Настройки',
            icon: 'cogs',
            component: 'SettingsDevice',
          },
        ];
        if (this.device.oneWire)
          items.push({
            label: '1-wire',
            icon: 'network-wired',
            component: 'OneWireConfig',
          });
        if (this.device.modbus)
          items.push({
            label: 'Терминал Modbus',
            icon: 'terminal',
            component: 'ModbusTerminal',
          });
        if (this.device.knx)
          items.push({
            label: 'Таблица KNX',
            icon: 'kiwi-bird',
            component: 'TableConformKNX',
          });
        return items;
      },
    }),
    mounted() {
      this.loading = false;
    },
    watch: {
      // eslint-disable-next-line
      'device.id'() {
        this.loading = true;
        this.activeMenu = 'ViewObjects';
        setTimeout(() => {
          this.loading = false;
        }, 500);
      },
    },
    methods: {
      changeMenu(index) {
        this.activeMenu = this.menuItems[index].component;
      },
    },
  };
</script>

<style lang="stylus">
  .no-device
    border: 0;
    width: 100%;
    height: auto;
    text-align: center;
</style>
