<template>
  <nav>
    <!-- Menu component -->
    <el-menu
      :collapse="displayMode !== 'desktop'"
      :class="{ 'menu--expand': displayMode === 'desktop', 'menu--develop': isDevelopRoot }"
      style="height: 100%;"
    >
      <!-- Select Mode menu -->
      <el-radio-group v-model="modeMenu" style="padding: 10px 2px;">
        <el-radio-button label="bySystems" class="btn-radio-mode">
          <icon icon="sitemap" />
        </el-radio-button>
        <el-radio-button label="byRooms" class="btn-radio-mode">
          <icon icon="home" />
        </el-radio-button>
      </el-radio-group>
      <!-- Items menu -->
      <template v-for="item in menuItems">
        <ElSubmenu v-if="item.settings.isSubItems" :index="item.uid" :key="item.uid">
          <template slot="title">
            <icon class="menu-item__icon" :icon="item.settings.icon" />
            <span class="menu-item__text">{{ item.settings.name }}</span>
            <BoxActionEdit
              v-if="isDevelopRoot"
              class="container-edit"
              @remove="removeItemMenu(item)"
              @settings="configItemMenu(item)"
            />
          </template>
          <ElMenuItem
            v-for="subItem in item.subItems"
            :index="subItem.uid"
            :key="subItem.uid"
            @click="changeActiveMenu(subItem)"
          >
            <icon class="menu-item__icon" :icon="subItem.settings.icon" />
            <span class="menu-item__text">{{ subItem.settings.name }}</span>
            <BoxActionEdit
              v-if="isDevelopRoot"
              class="container-edit"
              @remove="removeItemMenu(subItem, item)"
              @settings="configItemMenu(subItem)"
            />
          </ElMenuItem>
          <el-button v-if="isDevelopRoot" type="success" class="menu-btn-add" @click="addItemMenu(item.subItems)">
            <icon icon="plus" />
          </el-button>
        </ElSubmenu>
        <ElMenuItem v-else :index="item.uid" :key="item.uid" @click="changeActiveMenu(item)">
          <icon class="menu-item__icon" :icon="item.settings.icon" />
          <span class="menu-item__text">{{ item.settings.name }}</span>
          <BoxActionEdit
            v-if="isDevelopRoot"
            class="container-edit"
            @remove="removeItemMenu(item)"
            @settings="configItemMenu(item)"
          />
        </ElMenuItem>
      </template>
      <ElMenuItem index="btnConfig" @click="changeActiveMenu(btnConfig)">
        <icon class="menu-item__icon" :icon="btnConfig.settings.icon" />
        <span class="menu-item__text">{{ btnConfig.settings.name }}</span>
      </ElMenuItem>
      <el-button v-if="isDevelopRoot" type="success" class="menu-btn-add" @click="addItemMenu(false)">
        <icon icon="plus" />
      </el-button>
    </el-menu>
  </nav>
</template>

<script>
  import BoxActionEdit from '../../../widgets/common/BoxActionEdit';
  export default {
    name: 'MenuComponent',
    props: ['data', 'mode', 'displayMode'],
    components: {
      BoxActionEdit,
    },
    data() {
      return {
        btnConfig: {
          settings: {
            icon: 'cogs',
            name: 'Настройки',
          },
          type: 'settings',
        },
        modeMenu: 'byRooms',
        isCollapsed: false,
      };
    },
    computed: {
      viewMode() {
        return this.$store.state.visio.mode;
      },
      isDevelopRoot() {
        return this.viewMode !== 'production';
      },
      menuItems() {
        return this.modeMenu === 'bySystems' ? this.data.menuSystems : this.data.menuPlaces;
      },
    },
    methods: {
      addItemMenu(parent) {
        const data = parent ? { parent, isChildItem: true } : { parent: this.menuItems, isChildItem: false };
        this.$store.commit('ADD_ITEM_MENU', data);
      },
      removeItemMenu(item, parent) {
        this.$store.commit('REMOVE_ITEM_MENU', { item, parent });
      },
      configItemMenu(item) {
        this.$store.commit('SELECT_EDIT', item);
      },

      changeActiveMenu(item) {
        this.$store.commit('SELECT_ACTIVE_MENU', item);
      },
    },
  };
</script>

<style lang="stylus">
  .el-menu
    position: relative;
    text-align: center;
    .el-menu-item
      text-align: center !important;
  .el-menu--collapse
    width: 65px !important;
    .el-tooltip, .el-submenu__title, .el-menu-item
      padding: 0px !important;
    .menu-item__icon
      font-size: 2em;
  .menu--expand
    width: 200px;
    .menu-item__icon
      font-size: 1.5em;
      margin-right: 10px;
    .el-menu-item, .el-submenu__title
      padding-left: 5px !important;
      text-align: left !important;
      position: relative;
    .el-submenu .el-menu-item
      min-width: 100%;
  .el-menu--inline, .el-menu--popup
    .el-menu-item
      padding-left: 40px !important;
      font-size: 13px;
      .menu-item__icon
        font-size: 1em;
        margin-right: 10px;
  .btn-radio-mode .el-radio-button__inner
    font-size: 16px !important;
    padding: 5px !important;
  .menu-btn-add
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-radius: 0 !important;
  .menu--develop .el-menu--inline, .menu--develop .el-menu--popup
    padding-bottom: 28px !important;
  .container-edit
    visibility: hidden;
    z-index: 9999;
    position: absolute;
    top: 0;
    left: 0;
  .el-menu-item:hover .container-edit, .el-submenu__title:hover .container-edit
    visibility: visible;
</style>
