<template>
  <div class="block-config">
    <div class="param" :class="{ 'param--block': isBlock}" @click="toggleEvent">
      <span class="param-name">{{name}}</span>
      <slot name="info"/>
      <slot/>
    </div>
    <transition name="show">
      <div class="child-param" v-if="$slots.children">
        <slot name="children"/>
      </div>
    </transition>
    <transition name="show">
      <div class="block-error" v-if="$slots.error">
        <slot name="error"/>
      </div>
    </transition>
  </div>
</template>

<script>
  export default {
    props: ['name', 'isBlock'],
    name: 'WrapperSetting',
    methods: {
      toggleEvent() {
        this.$emit('toggle');
      },
    },
  };
</script>


<style lang="stylus" scoped>
  .block-config
    margin: 5px auto;
    border: 1px solid #DCDFE6;
    border-radius: 5px;
    p
      margin: 0;
    .param
      padding: 5px 10px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      text-align: left;
      align-items: center;
      background-color: rgba(242, 246, 252, 0.8);
      & > span
        margin: auto 0;
        margin-right: 5px;
        flex: 2 2 170px;
    .param-name
      flex: 1 1;
    .info
      margin-left: 20px;
      font-size: 10px;
    .param--block
      flex-direction: column;
      align-items: stretch;
      *:first-child
        margin-bottom: 5px;
      > span
        flex: 1 1 auto;
    .child-param
      border-top: 1px solid #DCDFE6;
    .child-param > .block-config
      border: 0;
      margin: 0;
  .show-enter-active, .fade-leave-active
    transition: opacity 0.5s;
  .show-enter, .fade-leave-to
    opacity: 0;
  .block-error
    color: #F56C6C;
    font-size: 12px;
</style>
