<template>
  <el-tooltip v-if="label" :content="label" placement="bottom" :open-delay="500">
    <el-button class="button" plain="plain" :type="type" :disabled="disabled" @click="clickEvent">
      <icon :icon="icon"></icon>
    </el-button>
  </el-tooltip>
  <el-button
    v-else
    class="button"
    plain="plain"
    :type="type"
    :disabled="disabled"
    @click="clickEvent"
  >
    <icon :icon="icon"></icon>
  </el-button>
</template>

<script>
  export default {
    props: {
      label: String,
      icon: String,
      type: String,
      disabled: {
        default: false,
      },
    },
    name: 'zh-button-icon',
    methods: {
      clickEvent(event) {
        this.$emit('click', event);
      },
    },
  };
</script>

<style lang="stylus" scoped>
  .button
    font-size: 20px
    padding: 3px 6px
    border-radius: 1px
</style>


