<template>
  <Wrapper :name="name">
    <div v-for="(item, index) of value" :key="index" class="control-item">
      <el-input-number :value="item" @input="update($event, index)" controls-position="right" style="width: 85px;"
        :max="index === 0 ? 23 : 59" :min="0" />
      <span class="control-item__name">{{arrayName[index]}}</span>
    </div>
  </Wrapper>
</template>

<script>
  import Wrapper from './Wrapper';
  export default {
    name: 'zh-clock-picker',
    props: {
      name: String,
      value: Array,
    },
    components: {
      Wrapper,
    },
    data() {
      return {
        arrayName: ['ч.', 'мин.'],
      }
    },
    computed: {
    },
    methods: {
      update(value, index) {
        const newValue = [...this.value];
        newValue[index] = value;
        this.$emit('update:value', newValue);
        this.$emit('change', newValue);
      },
    }
  }
</script>

<style lang="stylus" scoped>
  .el-input__inner
    padding-left: 3px
  .control-item
    display: inline-block
    margin-left: 3px
    &__name
      margin: 3px
      font-size: 11px
</style>

