
<template>
  <Wrapper :name="name">
    <el-checkbox v-model="isAll" @change="selectAll" :true-label="1" :false-label="0">Выбрать все</el-checkbox>
    <div slot="children" class="array-container">
      <el-checkbox
        v-for="(item, index) in value"
        :key="index"
        :value="+item"
        @input="updateItem($event, index)"
        class="checkbox-item"
        :true-label="1"
        :false-label="0"
        :disabled="disabledArray[index]"
      >{{valueNames[index]}}</el-checkbox>
    </div>
  </Wrapper>
</template>

<script>
  import Wrapper from './Wrapper';
  export default {
    name: 'zh-checkbox-array',
    props: {
      name: String,
      value: Array,
      valueNames: Array,
      disabled: Array,
    },
    components: {
      Wrapper,
    },
    data() {
      return {
        isAll: !this.value.includes(0),
      };
    },
    computed: {
      disabledArray() {
        if (this.disabled) return this.disabled
        return this.value.map(() => false);
      }
    },
    methods: {
      update(value) {
        this.$emit('update:value', value);
        this.$emit('change', value);
      },
      selectAll(val) {
        const newValue = this.value.map(() => val);
        this.update(newValue);
      },
      updateItem(value, index) {
        const newValue = [...this.value];
        newValue[index] = value;
        this.isAll = !newValue.includes(0) && !newValue.includes('0');
        this.update(newValue);
      },
    },
  };
</script>

<style lang="stylus">

  .el-checkbox.checkbox-item
    margin-left: 10px !important
    .el-checkbox__label
      padding-left: 2px
  .array-container
    display: flex
    flex-wrap: wrap
    justify-content: flex-start
    margin-right: 10px
</style>


