
<template>
  <Wrapper :name="name">
    <slot slot="children" v-if="value"/>
    <el-checkbox :value="value" @input="update" :true-label="1" :false-label="0"/>
  </Wrapper>
</template>

<script>
import Wrapper from './Wrapper';
export default {
  name: 'zh-checkbox',
  props: [ 'name', 'value'],
  components: {
    Wrapper,
  },
  methods: {
    update(value) {
      this.$emit('update:value', value);
      this.$emit('change', value);
    }
  }
}
</script>
