<template>
  <Wrapper :name="name">
    <el-color-picker :value="currentValue" @input="changeValue([$event, currentBright])"/>
    <template slot="children" v-if="isBright">
      <zh-slider
        :value="currentBright"
        @change="changeValue([currentValue, $event])"
        :min="0"
        :max="100"
        name="Яркость, %"
      />
    </template>
  </Wrapper>
</template>

<script>
  import Wrapper from './Wrapper';
  import ZhSlider from './Zh-slider';
  export default {
    name: 'zh-color-picker',
    props: {
      name: String,
      value: Array,
      isBright: {
        type: Boolean,
        default: true,
      }
    },
    components: {
      Wrapper,
      ZhSlider,
    },
    computed: {
      currentValue() {
        const colorArray = this.isBright ? this.value.slice(0, -1) : this.value;
        return colorArray.reduce((sum, value) => {
          if (value < 16) sum += '0';
          sum += value.toString(16);
          return sum;
        }, '#');
      },
      currentBright() {
        if (this.isBright) return Math.round(this.value[3] / 2.55);
        return null
      },
    },
    methods: {
      update(value) {
        this.$emit('update:value', value);
        this.$emit('change', value);
      },
      changeValue([hex, bright]) {
        const valueArray = hex.match(/[a-f0-9]{2}/gi);
        const newValue = valueArray.map((v) => parseInt(v, 16));
        if (this.isBright) newValue.push(Math.round(bright * 2.55));
        this.update(newValue);
      },
    },
  };
</script>
