
<template>
  <Wrapper :name="name">
    <div slot="children" class="array-container">
      <div class="block-title">
        <span>Номер реле</span>
        <span>Исп.</span>
        <span>Вкл.</span>
        <span>Выкл.</span>
      </div>
      <div v-for="(item, index) in value" :key="index">
        <el-checkbox
          :value="+item"
          @input="updateItem($event, index)"
          class="checkbox-item"
          :true-label="1"
          :false-label="0"
        >{{valueNames[index]}}</el-checkbox>
        <el-radio-group
          class="radio-block"
          :value="valueSecond[index]"
          @input="updateValueSecond($event, index)"
        >
          <el-radio :label="1" :disabled="disabledArray[index]"/>
          <el-radio :label="0" :disabled="disabledArray[index]"/>
        </el-radio-group>
      </div>
      <div>
        <el-checkbox
          v-model="isAll"
          class="checkbox-item"
          @change="selectAll"
          :true-label="1"
          :false-label="0"
        >Все</el-checkbox>
        <el-radio-group class="radio-block" :value="isAllSecond" @input="selectAllSecond">
          <el-radio :label="1"/>
          <el-radio :label="0"/>
        </el-radio-group>
      </div>
    </div>
  </Wrapper>
</template>

<script>
  import Wrapper from './Wrapper';
  export default {
    name: 'zh-checkbox-table-mode',
    props: {
      name: String,
      value: Array,
      valueSecond: Array,
      valueNames: Array,
      disabled: Array,
    },
    components: {
      Wrapper,
    },
    data() {
      return {
        isAll: !this.value.includes(0) && !this.value.includes('0') ? 1 : 0,
        isAllSecond: 3,
      };
    },
    computed: {
      disabledArray() {
        if (this.disabled) return this.disabled;
        return this.value.map(() => false);
      },
    },
    mounted() {
      this.checkAllSecond();
    },
    methods: {
      checkAllSecond(data = this.valueSecond) {
        const value = data.filter((el, index) => !this.disabledArray[index]);
        if (value.includes(0) && !value.includes(1)) this.isAllSecond = 0;
        else if (value.includes(1) && !value.includes(0)) this.isAllSecond = 1;
        else this.isAllSecond = 3;
      },
      update(value) {
        this.$emit('update:value', value);
        this.$emit('change', value);
      },
      selectAll(val) {
        const newValue = this.value.map(() => val);
        this.update({ value: newValue, valueSecond: this.valueSecond });
        this.$nextTick(this.checkAllSecond);
      },
      updateItem(value, index) {
        const newValue = [...this.value];
        newValue[index] = value;
        this.isAll = !newValue.includes(0) ? 1 : 0;
        this.update({ value: newValue, valueSecond: this.valueSecond });
        this.$nextTick(this.checkAllSecond);
      },
      updateValueSecond(value, index) {
        const newValue = [...this.valueSecond];
        newValue[index] = value;
        this.checkAllSecond(newValue);
        this.update({ value: this.value, valueSecond: newValue });
      },
      selectAllSecond(val) {
        const newValue = this.valueSecond.map((el, index) => {
          if (!this.disabledArray[index]) return +val;
          return el;
        });
        this.checkAllSecond(newValue);
        this.update({ value: this.value, valueSecond: newValue });
      },
    },
  };
</script>

<style lang="stylus">

  .array-container
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-right: 10px;
    .el-checkbox.checkbox-item
      margin-right: 0;
      margin-left: 5px !important;
      display: flex;
      flex-direction: column-reverse;
      justify-content: flex-end;
      .el-checkbox__label
        padding-left: 2px;
        font-size: 10px;
    .block-title
      display: flex;
      flex-direction: column;
      font-size: 11px;
      align-items: flex-start;
      margin: 2px 5px;
      margin-left: 10px;
    .radio-block
      display: flex;
      flex-direction: column;
      margin-left: 5px;
      .el-radio
        margin: 0;
      .el-radio__label
        display: none;
      .el-radio+.el-radio
        margin-left: 0;
</style>


