<template>
  <Wrapper :name="name" :isBlock="true">
    <div class="slider">
      <span>0</span>
      <div class="slider__bar" ref="sliderBar">
        <div
          v-for="(item, index) in currentValue"
          :key="index"
          class="slider__controll"
          :style="{'left': `calc(${item}% - 5px)`}"
          @mousedown="moveStart($event, index)"
        >
          <div class="slider__controll__toggle"></div>
          <span style="font-size: 11px; width: 13px; text-align: center;">{{item}}</span>
        </div>
        <resize-observer @notify="handleResize"/>
      </div>
      <span>100%</span>
    </div>
  </Wrapper>
</template>

<script>
  import Wrapper from './Wrapper';
  export default {
    name: 'zh-fan-slider',
    props: {
      name: String,
      value: Array,
      levels: {
        default: 4,
        type: Number,
      },
    },
    components: {
      Wrapper,
    },
    data() {
      return {
        moveIndex: null,
        parentWidth: null,
        delta: 5,
      };
    },
    computed: {
      currentValue() {
        return this.value.slice(0, this.levels);
      },
    },
    watch: {
      levels(val) {
        const count = Math.floor(100 / (val + 1));
        const newValue = this.value.map((el, index) => count * (index + 1));
        this.update(newValue);
      },
    },
    mounted() {
      this.updateSliderWidh();
      this.checkInitValues();
    },
    beforeDestroy() {
      this.moveEnd();
    },
    methods: {
      update(value) {
        const newValue = [...this.value];
        value.forEach((el, index) => {
          newValue[index] = el;
        });
        this.$emit('update:value', newValue);
        this.$emit('change', newValue);
      },
      moveStart(event, index) {
        this.moveIndex = index;
        document.addEventListener('mousemove', this.move);
        document.addEventListener('mouseup', this.moveEnd);
      },
      moveEnd() {
        this.moveIndex = null;
        document.removeEventListener('mousemove', this.move);
        document.removeEventListener('mouseup', this.moveEnd);
      },
      move(ev) {
        const newValue = [...this.currentValue];
        const parentPosition = this.$refs.sliderBar.getBoundingClientRect();
        // take size of div slider control
        const element = document.querySelector('.slider__bar .slider__controll').getBoundingClientRect();
        const calcValue = Math.round(((ev.pageX - parentPosition.left - element.width) * 100) / this.parentWidth);
        newValue[this.moveIndex] = this.checkValue(calcValue, this.moveIndex);
        this.update(newValue);
      },
      updateSliderWidh() {
        this.$nextTick(() => {
          this.parentWidth = this.$refs.sliderBar.getBoundingClientRect().width - 20;
        });
      },
      // Handle resize window
      handleResize() {
        this.updateSliderWidh();
      },
      checkValue(value, index) {
        const prev = this.currentValue[index - 1] === undefined ? 0 : this.currentValue[index - 1];
        const next = this.currentValue[index + 1] === undefined ? 100 : this.currentValue[index + 1];
        if (value - this.delta <= prev || value - this.delta <= 0) return prev + this.delta;
        if (value + this.delta >= next || value + this.delta >= 100) return next - this.delta;
        return value;
      },
      checkInitValues() {
        const newValue = this.currentValue.map(this.checkValue);
        this.update(newValue);
      },
    },
  };
</script>
<style lang="stylus">
  .slider
    position: relative
    height: 6px
    width: 100%
    height: 40px
    margin: auto
    padding-top: 15px
    display: flex
    justify-content: space-between
    > span
      margin: 0 5px
    &__bar
      height: 6px
      margin: 10px 0
      border-radius: 3px
      background-color: #409EFF
      width: 90%
      position: relative
    &__controll
      position: absolute
      top: -8px
      display: flex
      flex-direction: column
      align-items: center
      user-select: none
      &__toggle
        height: 16px
        width: 4px
        border: solid 2px #409EFF
        border-radius: 2px
        background-color: #FFF
        &:hover
          transform: scale(1.2)
</style>

