<template>
  <Wrapper :name="name">
    <el-input :value="value" @input="update" class="control-sized"></el-input>
  </Wrapper>
</template>

<script>
import Wrapper from './Wrapper';
export default {
  name: 'zh-input',
  props: [ 'name', 'value'],
  components: {
    Wrapper,
  },
  methods: {
    update(value) {
      this.$emit('update:value', value);
      this.$emit('change', value);
    }
  }
}
</script>
