<template>
  <Wrapper :name="name">
    <div class="container">
      <el-input-number
        :value="currentValue[0]"
        @input="update($event, 0)"
        :min="currentMin"
        :max="currentValue[1] - currentStep"
        :step="currentStep"
        :precision="precision"
        controls-position="right"
        class="control-input-range"
      />
      <span>-</span>
      <el-input-number
        :value="currentValue[1]"
        @input="update($event, 1)"
        :min="currentValue[0] + currentStep"
        :max="currentMax"
        :step="currentStep"
        :precision="precision"
        controls-position="right"
        class="control-input-range"
      />
    </div>
  </Wrapper>
</template>

<script>
  import Wrapper from './Wrapper';
  export default {
    name: 'zh-input-range',
    components: {
      Wrapper,
    },
    props: {
      name: String,
      value: Array,
      step: {
        default: 1,
      },
      min: {
        default: 1,
      },
      max: {
        default: 255,
      },
      coef: {
        default: 1,
      },
    },
    computed: {
      currentValue: vm => vm.value.map(el => el * vm.coef),
      currentMin: vm => Math.floor((vm.min * vm.coef) / vm.step) * vm.step,
      currentMax: vm => Math.floor((vm.max * vm.coef) / vm.step) * vm.step,
      currentStep: vm => vm.step * vm.coef,
      precision: vm => {
        if (vm.currentStep < 1 && vm.currentStep >= 0.1) return 1;
        else if (vm.currentStep < 0.1) return 2;
        return 0;
      },
    },
    watch: {
      step(val) {
        const newValue = this.value.map(el => Math.round(el / val) * val);
        if (newValue[0] < this.min) newValue[0] = this.min;
        if (newValue[1] > this.max) newValue[1] = this.max;
        if (newValue[0] > newValue[1] - this.step) {
          if (newValue[0] - this.step < this.min) newValue[1] += this.step;
          else newValue[0] -= this.step;
        }
        this.updateValue(newValue);
      },
    },
    methods: {
      update(value, index) {
        let newValue = [...this.currentValue];
        newValue[index] = Math.round(value / this.step) * this.step;
        newValue = newValue.map(el => Math.round(el / this.coef) * this.coef);
        this.updateValue(newValue);
      },
      updateValue(value) {
        this.$emit('update:value', value);
        this.$emit('change', value);
      },
    },
  };
</script>

<style lang="stylus" scoped>
  .container
    display: flex
    justify-content: flex-end
    width: 100%
    &_text
      margin: auto 10px
    &_controll
      margin: 0 5px
      width: 220px
    .control-input-range
      width: 110px
      &+ span
        margin: 0 3px
</style>
