
<template>
  <Wrapper :name="name">
    <el-input-number
      :value="currentValue"
      @input="update"
      :min="currentMin"
      :max="currentMax"
      :step="currentStep"
      :precision="precision"
      :controls="isControls"
      :controls-position="controlsPosition"
      class="control-sized"
      style="width: 120px"
    ></el-input-number>
    <span v-if="label" style="margin-left: 3px">{{label}}</span>
  </Wrapper>
</template>

<script>
  import Wrapper from './Wrapper';
  export default {
    name: 'zh-input-number',
    props: {
      name: String,
      value: Number,
      isControls: {
        default: true,
        type: Boolean,
      },
      step: {
        default: 1,
      },
      min: {
        default: 1,
      },
      max: {
        default: 255,
      },
      coef: {
        default: 1,
      },
      label: String,
    },

    components: {
      Wrapper,
    },
    computed: {
      currentValue: vm => vm.value * vm.coef,
      currentMin: vm => vm.min * vm.coef,
      currentMax: vm => vm.max * vm.coef,
      currentStep: vm => vm.step * vm.coef,
      precision: vm => {
        if (vm.currentStep < 1 && vm.currentStep >= 0.1) return 1;
        else if (vm.currentStep < 0.1) return 2;
        return 0;
      },
      controlsPosition() {
        if (this.isControls) return 'right';
        return '';
      },
    },
    methods: {
      update(value) {
        const newValue = this.currentStep > 1 ? Math.floor(value / this.coef) : value / this.coef;
        this.$emit('update:value', newValue);
        this.$emit('change', newValue);
      },
    },
  };
</script>




