<template>
  <Wrapper :name="name">
    <el-select :value="currentValue" @input="select" class="control-sized" :multiple="true">
      <el-option
        v-for="(item, index) in values"
        :key="`${item}${index}`"
        :label="item"
        :value="index"
      >
        <span style="float: left">{{ item }}</span>
      </el-option>
    </el-select>
  </Wrapper>
</template>

<script>
  import Wrapper from './Wrapper';
  export default {
    name: 'zh-multi-select',
    props: ['name', 'value', 'values'],
    components: {
      Wrapper,
    },
    computed: {
      currentValue() {
        const data = [];
        this.value.forEach((el, index) => {
          if (el) data.push(index);
        });
        return data;
      },
    },
    methods: {
      update(value) {
        this.$emit('update:value', value);
        this.$emit('change', value);
      },
      select(values) {
        const newValue = [...this.value].fill(0);
        values.forEach(el => {
          newValue[el] = 1;
        });
        this.update(newValue);
      },
    },
  };
</script>
