<template>
  <Wrapper :name="name" :isBlock="true">
    <slot slot="children" v-if="value"/>
    <el-radio-group :value="value" @input="update">
      <el-radio v-for="(item,index) in values" :key="index" :label="item.value">{{item.label}}</el-radio>
    </el-radio-group>
  </Wrapper>
</template>

<script>
  import Wrapper from './Wrapper';
  export default {
    name: 'zh-radio',
    props: ['name', 'value', 'values'],
    components: {
      Wrapper,
    },
    methods: {
      update(value) {
        this.$emit('update:value', value);
        this.$emit('change', value);
      },
    },
  };
</script>
