<template>
  <Wrapper :name="name">
    <slot slot="children" v-if="value"/>
    <el-switch :value="value" @input="update" :active-value="1" :inactive-value="0"></el-switch>
  </Wrapper>
</template>

<script>
  import Wrapper from './Wrapper';
  export default {
    name: 'zh-switch',
    props: ['name', 'value'],
    components: {
      Wrapper,
    },
    methods: {
      update(value) {
        this.$emit('update:value', value);
        this.$emit('change', value);
      },
    },
  };
</script>
