<template>
  <Wrapper :name="name">
    <slot slot="children" v-if="value"/>
    <el-select :value="value" @input="update" class="control-sized">
      <el-option
        v-for="(item, index) in values"
        :key="index"
        :label="item[label]"
        :value="item.value"
      >
        <span style="float: left">{{ item.label }}</span>
        <span v-if="item.info" style="float: right; color: #8492a6; font-size: 13px">{{ item.info }}</span>
      </el-option>
    </el-select>
  </Wrapper>
</template>

<script>
  import Wrapper from './Wrapper';
  export default {
    name: 'zh-select',
    props: {
      name: String,
      value: {
        required: true,
      },
      values: Array,
      label: {
        default: 'label',
      },
    },
    components: {
      Wrapper,
    },
    methods: {
      update(value) {
        this.$emit('update:value', value);
        this.$emit('change', value);
      },
    },
  };
</script>
