<template>
  <Wrapper :name="name">
    <div class="container">
      <span class="container_text">{{currentValue}}</span>
      <el-slider
        class="container_controll"
        :value="currentValue"
        @input="update"
        :min="currentMin"
        :max="currentMax"
        :step="currentStep"
        :show-tooltip="false"
      ></el-slider>
    </div>
  </Wrapper>
</template>

<script>
  import Wrapper from './Wrapper';
  export default {
    name: 'zh-slider',
    components: {
      Wrapper,
    },
    props: {
      name: String,
      value: Number,
      step: {
        default: 1,
      },
      min: {
        default: 1,
      },
      max: {
        default: 255,
      },
      coef: {
        default: 1,
      },
    },
    computed: {
      currentValue: vm => vm.value * vm.coef,
      currentMin: vm => vm.min * vm.coef,
      currentMax: vm => vm.max * vm.coef,
      currentStep: vm => vm.step * vm.coef,
    },
    methods: {
      update(value) {
        const newValue = Math.floor(value / this.coef);
        this.$emit('update:value', newValue);
        this.$emit('change', newValue);
      },
    },
  };
</script>

<style lang="stylus" scoped>
  .container
    display: flex
    justify-content: flex-end
    width: 100%
    &_text
      margin: auto 10px
    &_controll
      margin: 0 5px
      width: 220px
</style>
