<template>
  <Wrapper v-if="!checkbox" :name="name">
    <!--  Обычный пикер без отключения -->
    <div class="container-param">
      <div v-for="(item, index) of currentValue" :key="index" class="control-item">
        <el-input-number
          :value="item"
          @input="update($event, index)"
          :min="currentMin[index]"
          :max="currentMax[index]"
          :step="currentStep[index]"
          controls-position="right"
          style="width: 100px;"
        />
        <span class="control-item__name">{{arrayName[index]}}</span>
      </div>
    </div>
    <span slot="error" v-if="isError">Нельзя выбрать значение больше {{max}} сек.</span>
  </Wrapper>
  <!--  Случай когда нужно отключать таймеры-->
  <zh-checkbox v-else :value="value ? 1 : 0" @change="updateByCheckboxValue" :name="name">
    <zh-time-picker
      :value="value"
      @change="updateValue"
      :min="0"
      :max="max"
      :step="step"
      :coef="coef"
      :format="format"
    />
  </zh-checkbox>
</template>

<script>
  import Wrapper from './Wrapper';
  export default {
    name: 'zh-time-picker',
    props: {
      name: String,
      value: Number,
      min: {
        default: 0,
      },
      max: {
        default: 255,
      },
      step: {
        default: 1,
      },
      coef: {
        default: 1,
      },
      isError: Boolean,
      format: {
        type: String,
        default: 'сек',
      },
      checkbox: {
        type: Boolean,
        default: false,
      },
    },
    components: {
      Wrapper,
    },
    computed: {
      currentValue() {
        const newValue = Math.floor((this.value * this.coef) / this.step) * this.step;
        return this.secToArray(newValue);
      },
      currentStep() {
        return [1, this.step * this.coef];
      },
      currentMin() {
        const minSec = this.value > this.min ? -1 * this.coef * this.step : this.min * this.coef;
        return [0, minSec];
      },
      currentMax() {
        // Получаем из максимального значения для минут
        const currentMaxMinutes = Math.floor((this.max * this.coef) / 60);
        // Определяем дельту между макс. значением и значением минут
        const currentMaxDelta = (this.max - Math.floor(this.value / 60) * 60) * this.coef;
        const currentMaxSec = currentMaxDelta > 60 ? 60 : currentMaxDelta;
        return [currentMaxMinutes, currentMaxSec];
      },

      arrayName() {
        if (this.format === 'мин') return ['ч.', 'мин.'];
        return ['мин.', 'сек.'];
      },
    },
    methods: {
      update(value = 0, index) {
        const newValue = [...this.currentValue];
        if (index === 0) newValue[index] = value;
        if (index === 1) {
          newValue[index] = Math.round(value / this.coef) * this.coef;
        }
        // Проверка на секундах. Приведение их к максимальному текущему из значению при необходимости.
        if (newValue[1] > this.currentMax[1]) newValue[1] = this.currentMax[1];
        // Собираем данные в секундное представление
        const newValueSec = Math.round((newValue[0] * 60 + newValue[1]) / this.coef);
        this.$emit('update:value', newValueSec);
        this.$emit('change', newValueSec);
        this.$emit('update:isError', newValueSec > this.max);
      },
      secToArray(value) {
        const minutes = Math.floor(value / 60);
        const sec = value - minutes * 60;
        return [minutes, sec];
      },
      updateValue(val) {
        this.$emit('update:value', val);
        this.$emit('change', val);
      },
      updateByCheckboxValue(val) {
        this.$emit('update:value', val * this.step);
        this.$emit('change', val * this.step);
      }
    },
  };
</script>

<style lang="stylus" scoped>
  .el-input__inner
    padding-left: 3px
  .container-param
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between
  .control-item
    display: flex
    align-items: flex-end
    margin-left: 3px
    &__name
      margin: 3px
      font-size: 11px
</style>

