<template>
  <Wrapper :name="name">
    <slot/>
  </Wrapper>
</template>

<script>
  import Wrapper from './Wrapper';
  export default {
    props: ['name'],
    name: 'zh-wrapper',
    components: {
      Wrapper,
    },
  };
</script>



