<template>
  <div id="blocks-editor" :class="{ 'drop-ready': isDragBlock, 'active-component': isActiveComponent }" @click="activeComponent" >
    <!-- Observe resize event -->
    <resize-observer @notify="handleResize"/>
    <!--END Observe resize event -->
    <div id="block-controll-scale">
      <zh-button-icon icon="plus" @click="scalePlus"/>
      <zh-button-icon icon="minus" @click="scaleMinus"/>
    </div>
    <div
      id="blocks-editor__pane"
      @click.self="clearSelected"
      @drop="dropEvent"
      @scroll="scrollEvent"
      @mousedown.self="startMovePane"
      @mouseup.self="endMovePane"
      :class="{ 'pane--dragged': isDragged }"
      :style="{ width: `${paneSize}px`, height: `${paneSize}px`, transform: matrixTransform }"
    >
      <!-- Func Blocks -->
      <block-func
        v-for="item in filterBlocks"
        :element="item"
        :key="`fnBlock${item.id}`"
        :scale="scale"
        :selected="selectItem"
        :class="{ 'block--config': configBlock === item }"
        @selectSocketEvent="selectSocketEvent"
        @selectBlock="selectBlock"
        @removeBlock="removeBlock(item)"
        @contextOpen="contextSocketEvent($event, item)"
      />
      <!-- END Func Blocks -->
      <!-- Address Blocks -->
      <block-address
        v-for="item in device.addressBlocks"
        :element="item"
        :scale="scale"
        :selected="selectItem"
        :key="`addressBlock${item.address.id}`"
        @selectSocketEvent="selectSocketEvent"
        @deleteViewAddress="deleteViewAddress"
      />
      <!--END Address Blocks -->
      <!-- SVG connections -->
      <Connection
        v-for="item in device.paths"
        :key="`${item.source.DOM_ID}-${item.target.DOM_ID}`"
        :data="item"
        :selected="selectItem"
        :scale="scale"
        @changePath="selectPath"
      />
    </div>
    <!-- Контекстное меню объекта блока-->
    <vue-context ref="menuSocket">
      <template slot-scope="child">
        <ul v-if="child.data">
          <li @click="editSocketAddresses(child.data)">Менеджер связей</li>
        </ul>
      </template>
    </vue-context>
  </div>
</template>

<script>
  import { VueContext } from 'vue-context';
  import BlockFunc from './BlockFunc';
  import BlockAddress from './BlockAddress';
  import Connection from './Connection';
  import { ipcRenderer as ipc } from 'electron'; //eslint-disable-line
  export default {
    name: 'BlocksEditor',
    props: ['device', 'configBlock'],
    components: {
      BlockFunc,
      BlockAddress,
      VueContext,
      Connection,
    },
    data() {
      return {
        isDragBlock: false,
        isDragged: false,
        paneSize: 4000,
        scale: 1,
        move: {
          scaleX: 0,
          scaleY: 0,
          x: -2000,
          y: -2000,
          sumX: 0,
          sumY: 0,
        },
        selectItem: null,
        pane: null,
      };
    },
    computed: {
      filterBlocks() {
        return _.flatten(this.device.structBlocks.tree.elements);
      },
      dragGlobal() {
        return this.$store.state.main.drag;
      },
      matrixTransform() {
        return `matrix(${this.scale}, 0, 0, ${this.scale}, ${this.move.sumX}, ${this.move.sumY})`;
      },
      isActiveComponent() {
        return this.$store.state.main.activeComponent === 'BlockEditor';
      },
    },
    watch: {
      // Observe. If dragged element can be drop to BlocksEditor
      dragGlobal(val) {
        if (this.pane) {
          if (val.type === 'newBlock' || val.type === 'address') {
            this.pane.addEventListener('dragenter', this.dragEnter);
            this.pane.addEventListener('dragover', this.dragOver);
            this.pane.addEventListener('dragleave', this.dragLeave);
            this.isDragBlock = true;
          } else if (!val.type && this.isDragBlock) {
            this.pane.removeEventListener('dragenter', this.dragEnter);
            this.pane.removeEventListener('dragover', this.dragOver);
            this.pane.removeEventListener('dragleave', this.dragLeave);
            this.isDragBlock = false;
          }
        }
      },
    },
    mounted() {
      // Обработка события, при удалении функц. блока из дерева.
      this.pane = document.getElementById('blocks-editor__pane');
      this.$events.$on('DeleteFuncBlock', this.removeblocks);
      this.$el.addEventListener('wheel', this.scrollEvent);
      this.calcTranslate();

      document.addEventListener('keyup', this.keyEvent);
      ipc.on('keyEvent:copy', this.copyElement);
      ipc.on('keyEvent:paste', this.pasteElement);
    },
    beforeDestroy() {
      this.$events.$off('DeleteFuncBlock', this.removeblocks);
      this.$el.removeEventListener('wheel', this.scrollEvent);
      document.removeEventListener('keyup', this.keyEvent);
      ipc.removeListener('keyEvent:copy', this.copyElement);
      ipc.removeListener('keyEvent:paste', this.pasteElement);
    },
    methods: {
      /* START0 Обработка работы pane ( Zoom and Move) */
      // Возвращает минимальный масштаб
      minScale() {
        const parentEl = document.getElementById('blocks-editor');
        const height = +window.getComputedStyle(parentEl).height.slice(0, -2);
        const width = +window.getComputedStyle(parentEl).width.slice(0, -2);
        return Math.max(height, width) / this.paneSize;
      },
      // Вычисляем величину смещения если было изменен масштаб или произошло перетягивание
      calcTranslate(moveX = 0, moveY = 0) {
        this.move.scale = (this.paneSize * (1 - this.scale)) / 2;
        this.move.x += moveX;
        this.move.y += moveY;
        this.move.sumX = this.move.x + this.move.scale;
        this.move.sumY = this.move.y + this.move.scale;
        // Делаем проверку на граничные условия
        const parentEl = document.getElementById('blocks-editor');
        const heightEditor = +window.getComputedStyle(parentEl).height.slice(0, -2);
        const widthEditor = +window.getComputedStyle(parentEl).width.slice(0, -2);
        const currentSize = this.paneSize * this.scale;
        // Проверка по оси X
        if (this.move.sumX > 0) {
          this.move.sumX = 0;
          this.move.x = -this.move.scale;
        }

        if (this.paneSize - Math.abs(this.move.x) - Math.abs(this.move.scale) < widthEditor) {
          this.move.sumX = -Math.abs(currentSize - widthEditor);
          this.move.x = this.move.sumX - this.move.scale;
        }
        // Проверка по оси Y
        if (this.move.sumY > 0) {
          this.move.sumY = 0;
          this.move.y = -this.move.scale;
        }
        if (this.paneSize - Math.abs(this.move.y) - Math.abs(this.move.scale) < heightEditor) {
          this.move.sumY = -Math.abs(currentSize - heightEditor);
          this.move.y = this.move.sumY - this.move.scale;
        }
      },
      scrollEvent(ev = {}) {
        // ev.target.style.transformOrigin = `${ev.offsetX}px ${ev.offsetY}px`;
        // Новое значение масштаба. 10000 - регулирует скорость увеличения.
        const delta = ev.deltaY || 0;
        const newVal = -delta / 10000 + this.scale;
        // Запрашиваем минимальное значение масштаба.
        const minScale = this.minScale();
        // Производим проверку, на возможность применения нового масштаба.
        if (newVal < minScale) this.scale = minScale;
        else if (newVal > 1) this.scale = 1;
        else this.scale = newVal;
        // Расчитываем необходимый сдвиг из-за масштаба
        this.calcTranslate();
      },
      scalePlus() {
        this.scale = this.scale + 0.01 > 1 ? 1 : this.scale + 0.01;
        this.calcTranslate();
      },
      scaleMinus() {
        const minScale = this.minScale();
        this.scale = this.scale - 0.01 < minScale ? minScale : this.scale - 0.01;
        this.calcTranslate();
      },
      // Начало перемещения Pane
      startMovePane() {
        document.addEventListener('mousemove', this.onDragged);
        document.addEventListener('mouseover', this.endMovePane);
        this.isDragged = true;
      },
      // Окончание перемещение Pane
      endMovePane() {
        document.removeEventListener('mousemove', this.onDragged);
        document.removeEventListener('mouseover', this.endMovePane);
        this.isDragged = false;
      },
      // Событие перемещения Pane
      onDragged(ev) {
        this.calcTranslate(ev.movementX, ev.movementY);
      },
      // Handler resize div container
      handleResize() {
        this.scrollEvent();
      },
      /* END0 */

      /* START1 Handler drag event blocks and adresses at BlocksEditor */
      dragEnter(ev) {
        ev.preventDefault();
        document.getElementById('blocks-editor').classList.add('drop-enter');
      },
      dragOver(ev) {
        ev.preventDefault();
      },
      dragLeave() {
        document.getElementById('blocks-editor').classList.remove('drop-enter');
      },
      // Добавляем элемент на pane и в структуру
      dropEvent(ev) {
        const paneEl = document.getElementById('blocks-editor__pane').getBoundingClientRect();
        const newElement = this.dragGlobal;
        let promise = null;
        if (newElement.type === 'newBlock') {
          promise = this.$store.dispatch('ADD_BLOCK_TREE', {
            block: _.cloneDeep(newElement.data),
            struct: this.device.structBlocks,
            top: (ev.pageY - paneEl.top) / this.scale,
            left: (ev.pageX - paneEl.left) / this.scale,
            device: this.device,
          });
        } else if (newElement.type === 'address') {
          promise = this.$store.dispatch('ADD_EXTERNAL_ADDRESS_BLOCK', {
            address: newElement.data,
            device: this.device,
            top: (ev.pageY - paneEl.top) / this.scale,
            left: (ev.pageX - paneEl.left) / this.scale,
          });
        }
        this.$root.$wrapperMsg(promise);
      },
      /* END1 */

      removeBlock(el) {
        const promise = this.$store.dispatch('DELETE_FUNC_BLOCK', {
          block: el,
          device: this.device,
        });
        this.$root.$wrapperMsg(promise);
        this.$emit('removeBlock', el);
      },
      removeAddressView(address) {
        this.$store.commit('DELETE_ADDRESS_VIEW', { address });
      },
      // object: socket: {block: {}, object: {}, device: {}, dataType, direction, type  }
      selectSocketEvent(socket) {
        socket.device = this.device;
        if (this.selectItem && this.selectItem.type === 'socket') {
          const sockets = [this.selectItem.value, socket];
          const promise = this.$store.dispatch('ADD_LINK_PLUGIN', sockets);
          this.$root.$wrapperMsg(promise);
          this.clearSelected();
        } else this.selectItem = { type: 'socket', value: socket };
      },
      selectPath(data) {
        this.selectItem = { type: 'path', value: data };
      },
      selectBlock(data) {
        this.selectItem = { type: 'block', value: data };
      },
      deleteViewAddress(address) {
        const promise = this.$store.dispatch('DELETE_EXTERNAL_ADDRESS_PLUGIN', {
          address: address.address,
          device: this.device,
        });
        this.$root.$wrapperMsg(promise);
      },
      // Убираем выбор сокета.
      clearSelected() {
        this.selectItem = null;
        this.copyiedBlock = null;
      },
      contextSocketEvent(ev, block) {
        this.$nextTick(() => {
          if (this.$refs.menuSocket)
            this.$refs.menuSocket.open(ev.event, { object: ev.object, block, device: this.device });
        });
      },
      editSocketAddresses(socket) {
        this.$emit('configSocket', socket);
      },
      keyEvent(ev) {
        if (ev.key === 'Delete' || ev.key === 'Backspace') {
          // if some path selected. Delete this path and context
          if (this.selectItem.type === 'path') this.deletePath();
        }
        if (ev.key === 'Escape') this.clearSelected();
      },
      activeComponent() {
        this.$store.commit('SELECT_ACTIVE_COMPONENT', 'BlockEditor');
      },
      copyElement() {
        if (this.selectItem.type === 'block' && this.isActiveComponent) {
          this.$store.commit('SET_COPY_BUFFER', this.selectItem.value);
          this.$message({
            showClose: true,
            message: 'Элемент успешно скопирован в буфер',
            type: 'success',
          });
        }
      },
      pasteElement() {
        if (this.$store.state.main.bufferCopy && this.isActiveComponent) {
          const el = this.$store.state.main.bufferCopy;
          el.props.top -= 50 * this.scale;
          el.props.left -= 50 * this.scale;
          const promise = this.$store.dispatch('ADD_BLOCK_TREE', {
            block: el,
            struct: this.device.structBlocks,
            top: el.props.top,
            left: el.props.left,
            device: this.device,
          });
          this.$root.$wrapperMsg(promise);
        }
      },
      deletePath() {
        const sockets = [];
        const path = this.selectItem.value;
        const address = this.$store.state.structData.addresses.getElementByID(path.addressID);
        [path.source, path.target].forEach(el => {
          // Test. Is this socket has another connection with that address.id
          const socketPaths = this.device.paths.filter(
            elem =>
              (elem.source.DOM_ID === el.DOM_ID || elem.target.DOM_ID === el.DOM_ID) && elem.addressID === address.id
          );
          // If it's blockSocket and had only one connection with that address.id we can delete this context
          if (el.type === 'blockSocket' && socketPaths.length === 1) {
            const block = this.device.structBlocks.getElementByID(el.blockID);
            sockets.push({
              device: this.device,
              block,
              object: block.objects[el.socketIndex],
              dataType: block.objects[el.socketIndex].dataType,
              direction: block.objects[el.socketIndex].direction,
              type: el.type,
            });
          }
        });
        sockets.forEach(socket => {
          this.$store.dispatch('DELETE_LINK', { address, socket });
        });
        this.selectItem = null;
      },
    },
  };
</script>

<style lang="stylus" scoped>
  #blocks-editor
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    border: 2px solid #DCDFE6;
    .drop-ready
      border: 5px solid #409EFF;
    &__pane
      position: relative;
      background-color: #DCDFE6;
      transform-origin: 0 0 0;
      &.pane--dragged
        cursor: move;
  #block-controll-scale
    position: absolute;
    right: 0;
    top: 10px;
    z-index: 9000;
    & > *
      display: block;
      margin: 0;
</style>
