<template>
  <div
    class="block-func block-element"
    :class=" {'block-func--select':isSelectedBlock }"
    v-dragged="onDragged"
    :style="{ left: `${this.left}px`, top: `${this.top}px`}"
    @click="selectBlock"
  >
    <div class="header">
      <el-button
        v-if="element.settings"
        type="primary"
        size="mini"
        icon="el-icon-setting"
        @click="configBlock"
      ></el-button>
      <div class="header-text">
        <span class="element-name">{{element.name}}</span>
        <div class="element-discription">
          <span>ID: {{element.id}}</span>
          <span>Type: {{element.fnType}}</span>
        </div>
      </div>
      <el-button type="danger" size="mini" icon="el-icon-circle-close" @click="remove()"></el-button>
    </div>

    <div class="objects">
      <div class="input">
        <div
          class="input-element"
          v-for="(item, index) in inputObjects"
          :key="index"
        >
          <div
            class="socket socketInput"
            :class="{'socket--select':selectedSocket === item}"
            @contextmenu.prevent="contextOpen($event, item)"
            @click="selectSocketEvent($event, item)"
            :id="`blockSocket-${element.id}-${element.objects.indexOf(item)}`"
          >
            <div
              class="block-type-data"
              :style="{'background-color': colorTypeData[item.dataType], float: 'right'}"
            >{{item.dataType}}</div>
          </div>
          {{item.name}}
        </div>
      </div>
      <div class="output">
        <div
          class="output-element"
          v-for="(item, index) in outputObjects"
          :key="index"
        >
          {{item.name}}
          <div
            class="socket socketOutput"
            :class="{'socket--select': selectedSocket === item}"
            @contextmenu.prevent="contextOpen($event, item)"
            @click="selectSocketEvent($event, item)"
            :id="`blockSocket-${element.id}-${element.objects.indexOf(item)}`"
          >
            <div
              class="block-type-data"
              :style="{'background-color': colorTypeData[item.dataType], float: 'left'}"
            >{{item.dataType}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  // TODO при обновлении данных ноды (selected) проверить, относится ли к этому блоку. Если да, то добовляем стиль выбранного сокета.
  export default {
    name: 'node',
    props: ['element', 'selected', 'scale'],
    data() {
      return {
        colorTypeData: ['#80CBC4', '#FFCC80', '#BCAAA4', '#EF9A9A', '#BCAAA4', '#EF9A9A', '#FFCC80'],
        left: this.element.props.left || 0,
        top: this.element.props.top || 0,
      };
    },
    computed: {
      objectsInput() {
        return this.element.objects.filter(el => el.direction === 'input');
      },
      objectsOutput() {
        return this.element.objects.filter(el => el.direction === 'output');
      },
      selectedSocket() {
        if (this.selected && this.selected.type === 'socket')
          if (this.selected.value.block === this.element) return this.selected.value.object;
        return null;
      },
      isSelectedBlock() {
        if (this.selected && this.selected.type === 'block') return this.selected.value === this.element;
        return false;
      },
      outputObjects() {
        return this.element.objects.filter(el => el.active && el.direction === 'output');
      },
      inputObjects() {
        return this.element.objects.filter(el => el.active && el.direction === 'input');
      },
    },
    methods: {
      // Emit event config block to BlocksEditor component
      configBlock() {
        this.$events.$emit('ActiveConfigBlock', this.element);
      },
      // Emit event remove block to BlocksEditor component
      remove() {
        this.$emit('removeBlock', this.element);
      },
      // Emit selected socket to BlocksEditor component
      selectSocketEvent(event, object) {
        event.stopPropagation();
        const socket = {
          object,
          block: this.element,
          dataType: object.dataType,
          direction: object.direction,
          type: 'blockSocket',
        };
        this.$emit('selectSocketEvent', socket);
      },
      onDragged(data) {
        if (data.first) {
          this.dragged = true;
          return;
        }
        if (data.last) {
          this.dragged = false;
          const data = {
            element: this.element,
            left: this.left,
            top: this.top,
          };
          this.$store.commit('SAVE_BLOCK_POSITION', data);
          return;
        }
        const x = +window.getComputedStyle(data.el).left.slice(0, -2) || 0;
        const y = +window.getComputedStyle(data.el).top.slice(0, -2) || 0;
        this.left = x + data.deltaX / this.scale;
        this.top = y + data.deltaY / this.scale;
      },
      // Emti open context menu 'Edit socket' to BlocksEditor component
      contextOpen(event, object) {
        this.$emit('contextOpen', { event, object });
      },
      selectBlock() {
        this.$emit('selectBlock', this.element);
      },
    },
  };
</script>

<style lang="stylus" scoped>
  .block-func
    position: absolute;
    border: 1px solid #bdbdbd;
    background-color: rgba(96, 98, 102, 0.2);
    cursor: default;
    white-space: nowrap;
    line-height: 1;
    font-size: 12px;
    &--select
      background-color: #E6A23C;
    &.block--config
      border: 2px solid #409eff;
      background-color: rgba(64, 158, 255, 0.2);
    .header
      display: inline-flex;
      width: 100%;
      align-content: space-between;
      border-bottom: 1px solid #bdbdbd;
      background-color: rgba(96, 98, 102, 0.4);
      text-align: center;
      button
        font-size: 18px;
        padding: 0 3px;
        border-radius: 0;
      .header-text
        padding: 1px 5px;
        width: 100%;
        .element-name
          font-size: 18px;
        .element-discription
          padding-top: 3px;
          display: block;
          font-size: 12px;
          span+span
            margin-left: 10px;
    .objects
      display: flex;
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
      >div
        margin: 0 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      .input-element, .output-element
        display: flex;
        flex-direction: row;
        padding: 2px 0;
        align-items: center;
      .input-element
        margin-left: -30px;
        justify-content: flex-start;
      .output-element
        margin-right: -30px;
        justify-content: flex-end;
      .socket
        height: 1.2em;
        width: 30px;
        margin: 0 3px;
        background-color: #409EFF;
        border: 1px solid #bdbdbd;
        cursor: pointer;
        .block-type-data
          width: 15px;
          height: 100%;
          line-height: 1.2em;
          text-align: center;
      .socket--select
        background-color: #E6A23C;
      .socket--number
        background-color: #303133;
</style>
