<template>
  <div
    class="block-address block-element"
    v-dragged="onDragged"
    :style="{ left: `${left}px`, top: `${top}px` }"
    @mouseenter="hoverMouse"
    @mouseleave="hoverOutMouse"
  >
    <el-button
      v-if="isHoverMouse"
      class="button__close"
      type="danger"
      size="mini"
      icon="el-icon-circle-close"
      @click="removeView()"
      circle
      plain
    />
    <div class="objects">
      <div class="input-element">
        <div
          class="socket socketInput"
          :class="{
            'socket--select': selectedElement.address === element.address && selectedElement.direction === 'input',
          }"
          @click="selectSocketEvent('input')"
          :id="`addressSocket-${element.address.id}-input`"
        />
      </div>
      <el-popover
        placement="top-start"
        width="120"
        trigger="hover"
        :content="element.address.name"
      >
        <span slot="reference">ID: {{ element.address.id }}</span>
      </el-popover>
      <div class="output-element">
        <div
          class="socket socketOutput"
          :class="{
            'socket--select': selectedElement.address === element.address && selectedElement.direction === 'output',
          }"
          @click="selectSocketEvent('output')"
          :id="`addressSocket-${element.address.id}-output`"
        />
      </div>
    </div>
  </div>
</template>
<script>
  // TODO при обновлении данных ноды (selected) проверить, относится ли к этому блоку. Если да, то добовляем стиль выбранного соккета.
  export default {
    name: 'BlockAddress',
    props: ['element', 'selected', 'scale'],
    components: {},
    data() {
      return {
        colorTypeData: ['#80CBC4', '#FFCC80', '#BCAAA4', '#EF9A9A', '#BCAAA4', '#EF9A9A', '#FFCC80'],
        top: this.element.props.top || 0,
        left: this.element.props.left || 0,
        isHoverMouse: false,
        timerHoverOut: null,
      };
    },
    computed: {
      selectedElement() {
        if (this.selected && this.selected.type === 'socket') return this.selected.value;
        return {};
      },
    },
    methods: {
      removeView() {
        this.$emit('deleteViewAddress', this.element);
      },
      selectSocketEvent(direction) {
        const socket = {
          address: this.element.address,
          dataType: this.element.dataType,
          direction,
          type: 'addressSocket',
        };
        this.$emit('selectSocketEvent', socket);
      },
      onDragged(data) {
        if (data.first) {
          this.dragged = true;
          return;
        }
        if (data.last) {
          this.dragged = false;
          const data = {
            element: this.element,
            left: this.left,
            top: this.top,
          };
          this.$store.commit('SAVE_BLOCK_POSITION', data);
          return;
        }
        const x = +window.getComputedStyle(data.el).left.slice(0, -2) || 0;
        const y = +window.getComputedStyle(data.el).top.slice(0, -2) || 0;
        this.left = x + data.deltaX / this.scale;
        this.top = y + data.deltaY / this.scale;
      },
      hoverMouse() {
        this.isHoverMouse = true;
        clearTimeout(this.timerHoverOut);
      },
      hoverOutMouse() {
        this.timerHoverOut = setTimeout(() => {
          this.isHoverMouse = false;
        }, 500);
      },
    },
  };
</script>

<style lang="stylus" scoped>
  .block-address
    position: absolute;
    border: 1px solid #bdbdbd;
    background-color: rgba(96, 98, 102, 0.2);
    cursor: default;
    white-space: nowrap;
    line-height: 1;
    font-size: 12px;
    .button__close
      font-size: 20px;
      border: none;
      padding: 0;
      position: absolute;
      top: -18px;
      right: -18px;
    .objects
      display: flex;
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      >div
        margin: 0 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      span
        font-size: 15px;
      .input-element, .output-element
        display: flex;
        flex-direction: row;
        padding: 2px 0;
        align-items: center;
      .input-element
        margin-left: -20px;
        justify-content: flex-start;
      .output-element
        margin-right: -20px;
        justify-content: flex-end;
      .socket
        height: 1.2em;
        width: 20px;
        margin: 0 3px;
        background-color: #409EFF;
        border: 1px solid #bdbdbd;
        cursor: pointer;
        .block-type-data
          width: 15px;
          height: 100%;
          line-height: 1.2em;
          text-align: center;
      .socket--select
        background-color: #E6A23C;
      .socket--number
        background-color: #303133;
</style>
