<template>
  <div class="connection">
    <svg style="z-index: -99999; overflow: visible; position: absolute;" v-if="position.typeLine">
      <path
        v-for="(item, index) in d"
        :key="index"
        class="connection--path"
        :d="item"
        :stroke="strokeColor"
        :stroke-width="strokeWidth"
        stroke-linecap="round"
        fill="transparent"
        @click="changePath"
        @mouseover="hoverEvent"
        @mouseout="stopBlockInfo"
        @mousemove="updateBlockInfo"
      ></path>

      <!-- Support line -->
      <path
        class="connection--path"
        :d="`M ${position.supLine.sCoord.join(' ')} L ${position.supLine.tCoord.join(' ')}`"
        :stroke="strokeColor"
        :stroke-width="strokeWidth"
        stroke-linecap="round"
        @mousedown="startMove($event)"
        @click="changePath"
        @mouseover="hoverEvent"
        @mouseout="stopBlockInfo"
        @mousemove="updateBlockInfo"
      ></path>
      <!-- specific line -->
      <path
        class="connection--path"
        v-if="position.typeLine === 2"
        :d="`M ${position.supLine.sCoord.join(' ')} V ${position.sPoint[1]}`"
        :stroke="strokeColor"
        :stroke-width="strokeWidth"
        stroke-linecap="round"
        @mousedown="startMove($event, 'sSpecLine')"
        @click="changePath"
        @mouseover="hoverEvent"
        @mouseout="stopBlockInfo"
        @mousemove="updateBlockInfo"
      ></path>
      <path
        class="connection--path"
        v-if="position.typeLine === 2"
        :d="`M ${position.supLine.tCoord.join(' ')} V ${position.tPoint[1]}`"
        :stroke="strokeColor"
        :stroke-width="strokeWidth"
        stroke-linecap="round"
        @mousedown="startMove($event, 'tSpecLine')"
        @click="changePath"
        @mouseover="hoverEvent"
        @mouseout="stopBlockInfo"
        @mousemove="updateBlockInfo"
      ></path>
    </svg>
    <div class="connection--block-info" ref="blockInfo">
      Адрес ID: {{address.id}}
      <br>
      Тип адреса: {{address.bus}}
    </div>
  </div>
</template>


<script>
  export default {
    name: 'Connection',
    props: ['data', 'scale', 'selected'],
    data() {
      return {
        position: _.cloneDeep(this.data.position),
        defaultStroke: 3,
        observerSource: null,
        observerTarget: null,
        timerSaveStore: null,
        timerHiddenBlockInfo: null,
        isShowBlockInfo: false,
        move: null,
        moveSubType: null,
        sourceHightLine: null,
        targetHightLine: null,
        xMin: 10,
      };
    },
    computed: {
      d() {
        const p = this.position;
        const lines = [];
        lines[0] = `M ${p.sPoint.join(' ')} h ${p.sLine}`;
        lines[1] = `M ${p.tPoint.join(' ')} h ${p.tLine}`;
        return lines;
      },
      address() {
        return this.$store.state.structData.addresses.getElementByID(this.data.addressID);
      },
      strokeWidth() {
        if (this.selected && this.selected.value === this.data) return 2 * this.defaultStroke;
        return this.defaultStroke;
      },
      strokeColor() {
        const colorsTypes = ['#67C23A', '#E6A23C'];
        if (this.address) return colorsTypes[this.address.bus];
        return 'black';
      },
    },
    mounted() {
      console.log(this.data);
      const source = document.getElementById(this.data.source.DOM_ID);
      const sBlock = source.closest('.block-element');
      const target = document.getElementById(this.data.target.DOM_ID);
      const tBlock = target.closest('.block-element');
      const config = { attributes: true, attributeFilter: ['style'] };
      // If it's new Path
      if (this.position.sPoint.length === 0 && this.position.tPoint.length === 0) this.updatePosition('initEvent');
      // Init observe from position Source and Target socket DOM element
      this.observerSource = new MutationObserver(mutations => {
        mutations.forEach(() => {
          this.updatePosition('sourceEvent');
        });
      });
      this.observerTarget = new MutationObserver(mutations => {
        mutations.forEach(() => {
          this.updatePosition('targetEvent');
        });
      });
      this.observerSource.observe(sBlock, config);
      this.observerTarget.observe(tBlock, config);
    },
    beforeDestroy() {
      // Terminate Observe DOM socket and target element
      this.observerSource.disconnect();
      this.observerTarget.disconnect();
      clearTimeout(this.timerHiddenBlockInfo);
    },
    methods: {
      // Update path. Coord sPoint and tPoint. Length sBlockHeight, tBlockHeight and other( s##### - source parameter, t##### - target parameter)
      updatePosition(ev) {
        clearTimeout(this.timerSaveStore);
        const source = document.getElementById(this.data.source.DOM_ID);
        const sBlock = source.closest('.block-element');
        const target = document.getElementById(this.data.target.DOM_ID);
        const tBlock = target.closest('.block-element');
        /**
         *
         */
        // Old position sPoint and tPoint
        const sPointOld = this.position.sPoint;
        const tPointOld = this.position.tPoint;
        const oldTypeLine = this.position.typeLine;
        // Update sPoint and tPoint position
        this.position.sPoint = [
          sBlock.offsetLeft + source.offsetLeft + source.offsetWidth - 2,
          sBlock.offsetTop + source.offsetTop + source.offsetHeight / 2,
        ];
        this.position.tPoint = [
          tBlock.offsetLeft + target.offsetLeft + 2,
          tBlock.offsetTop + target.offsetTop + source.offsetHeight / 2,
        ];
        // Check type of line
        if (this.position.tPoint[0] - this.position.sPoint[0] >= 2 * this.xMin) this.position.typeLine = 1;
        else if (this.position.sPoint[0] - this.position.tPoint[0] > this.xMin) this.position.typeLine = 2;
        else this.position.typeLine = 3;

        // Is changed new type line
        const isChangeTypeLine = oldTypeLine !== this.position.typeLine;
        /**
         *  Function, calc coordY for support line if typeLine = 2;
         *
         */
        const calcSupLineY = () => {
          // Socket distanation from top and bottom  component func.block
          const sOffsetTop = this.position.sPoint[1] - sBlock.offsetTop;
          const tOffsetTop = this.position.tPoint[1] - tBlock.offsetTop;
          const sOffsetBottom = sBlock.offsetHeight - sOffsetTop;
          const tOffsetBottom = tBlock.offsetHeight - tOffsetTop;
          const localMin = 10;
          let newValue = 0;
          // Case source block above then target block
          if (this.position.tPoint[1] - this.position.sPoint[1] >= 0) {
            if (this.position.tPoint[1] - this.position.sPoint[1] < sOffsetBottom + tOffsetTop + 2 * localMin) {
              newValue =
                Math.max(this.position.tPoint[1] + tOffsetBottom, this.position.sPoint[1] + sOffsetBottom) + localMin;
            } else newValue = this.position.sPoint[1] + sOffsetBottom + localMin;
            // Case target block above then source block
          } else if (this.position.sPoint[1] - this.position.tPoint[1] < tOffsetBottom + sOffsetTop + 2 * localMin)
            newValue = Math.min(this.position.tPoint[1] - tOffsetTop, this.position.sPoint[1] - tOffsetTop) - localMin;
          else newValue = this.position.sPoint[1] - sOffsetTop - localMin;
          return newValue;
        };
        /**
         * Calc new configuration line
         *
         */
        const sPointDelta = sPointOld.map((el, index) => this.position.sPoint[index] - el);
        const tPointDelta = tPointOld.map((el, index) => this.position.tPoint[index] - el);
        // Check. If it's first update path position. Creat new lines.
        if (ev === 'initEvent' || isChangeTypeLine) {
          // if type line = 1 -> sLine and tLine value is half of available
          if (this.position.typeLine === 1) {
            this.position.sLine = (this.position.tPoint[0] - this.position.sPoint[0]) * 0.5;
            this.position.tLine = -this.position.sLine;
            // otherwise the value is xMin
          } else {
            this.position.sLine = this.xMin;
            this.position.tLine = -this.xMin;
          }
          /**
           * If Event move block
           */
        } else if (this.position.typeLine === 1) {
          /**
           * If line type Z
           */
          if (ev === 'sourceEvent') {
            if (this.position.sLine - sPointDelta[0] >= this.xMin)
              this.position.sLine = this.position.sLine - sPointDelta[0];
            else this.position.tLine = this.position.tLine + sPointDelta[0];
          }
          if (ev === 'targetEvent') {
            if (this.position.tLine - tPointDelta[0] <= -this.xMin)
              this.position.tLine = this.position.tLine - tPointDelta[0];
            else this.position.sLine = this.position.sLine + tPointDelta[0];
          }
          /**
           * If line type U
           */
        } else if (this.position.typeLine === 2) {
          if (ev === 'sourceEvent') {
            this.position.sLine = this.position.sLine - sPointDelta[0];
          }
          if (ev === 'targetEvent') {
            this.position.tLine = this.position.tLine - tPointDelta[0];
          }
        }
        this.checkLineMinimum();
        /**
         * End calc new configuration line
         *
         */
        /**
         * Calc position support line
         *
         */
        this.position.supLine.sCoord[0] = this.position.sLine + this.position.sPoint[0];
        this.position.supLine.tCoord[0] = this.position.tLine + this.position.tPoint[0];
        if (this.position.typeLine === 1 || this.position.typeLine === 3) {
          this.position.supLine.sCoord[1] = this.position.sPoint[1];
          this.position.supLine.tCoord[1] = this.position.tPoint[1];
        } else if (this.position.typeLine === 2 && (ev === 'initEvent' || isChangeTypeLine)) {
          this.position.supLine.sCoord[1] = this.position.supLine.tCoord[1] = calcSupLineY();
        }
        /**
         * END
         *
         */
        this.savePathPosition();
      },
      // Observe move vertical line of path
      /**
       * Начало события изменения линии связи
       */
      startMove(ev, subType) {
        document.addEventListener('mousemove', this.eventMove);
        document.addEventListener('mouseup', this.endMove);
        this.move = [ev.pageX, ev.pageY];
        this.moveSubType = subType;
      },
      /**
       * Завершения события изменения линии связи
       */
      endMove() {
        document.removeEventListener('mousemove', this.eventMove);
        document.removeEventListener('mouseup', this.endMove);
        this.move = null;
        this.moveSubType = null;
      },
      /**
       * Обработка события перемешения частей линии связи
       */
      eventMove(ev) {
        // Тип линии связи 1 ( Z )
        if (this.position.typeLine === 1) {
          const delta = -(this.move[0] - ev.pageX) / this.scale;
          this.position.sLine += delta;
          this.position.tLine += delta;
          // Тип линии связи 2 (U)
        } else if (this.position.typeLine === 2) {
          // Событие пришло от support line
          if (this.moveSubType === undefined) {
            const delta = -(this.move[1] - ev.pageY) / this.scale;
            const newValue = this.position.supLine.sCoord[1] + delta;
            this.position.supLine.sCoord.splice(1, 1, newValue);
            this.position.supLine.tCoord.splice(1, 1, newValue);
          } else {
            // Обрабатываем событие от боковых вспомогательных линий
            const delta = -(this.move[0] - ev.pageX) / this.scale;
            if (this.moveSubType === 'sSpecLine') this.position.sLine += delta;
            if (this.moveSubType === 'tSpecLine') this.position.tLine += delta;
          }
        }
        // Проверка на различные крайние условия. Пересечения блока и параллельность линий
        this.checkLineMinimum();

        this.position.supLine.sCoord.splice(0, 1, this.position.sPoint[0] + this.position.sLine);
        this.position.supLine.tCoord.splice(0, 1, this.position.tPoint[0] + this.position.tLine);
        // Сохраняем изменения
        this.move = [ev.pageX, ev.pageY];
        this.savePathPosition();
      },
      checkLineMinimum() {
        if (this.position.sLine < this.xMin) {
          this.position.sLine = this.xMin;
          if (this.position.typeLine === 1)
            this.position.tLine = this.position.sPoint[0] - this.position.tPoint[0] + this.xMin;
        }
        if (this.position.tLine > -this.xMin) {
          this.position.tLine = -this.xMin;
          if (this.position.typeLine === 1)
            this.position.sLine = this.position.tPoint[0] - this.position.sPoint[0] - this.xMin;
        }
      },
      // Observe path configuration
      savePathPosition() {
        this.timerSaveStore = setTimeout(() => {
          this.$store.commit('SAVE_LINK_PATH_POSITION', { path: this.data, position: _.cloneDeep(this.position) });
        }, 1000);
      },
      // User click at this path
      changePath() {
        this.$emit('changePath', this.data);
      },
      // User hover at this path
      hoverEvent() {
        clearTimeout(this.timerHiddenBlockInfo);
        this.timerHiddenBlockInfo = null;
        if (!this.isShowBlockInfo) {
          setTimeout(() => {
            this.$refs.blockInfo.hidden = false;
          }, 100);
          this.isShowBlockInfo = true;
        }
      },
      // User mouseover from this path
      stopBlockInfo() {
        this.timerHiddenBlockInfo = setTimeout(() => {
          this.isShowBlockInfo = false;
          this.$refs.blockInfo.hidden = true;
        }, 200);
      },
      // Update block info position if mouse move onto this path
      updateBlockInfo(ev) {
        if (this.isShowBlockInfo) {
          this.$refs.blockInfo.style = `top: ${ev.offsetY + 5}px; left: ${ev.offsetX + 5}px`;
        }
      },
    },
  };
</script>


<style lang="stylus" scoped>
  .connection
    &--path
      cursor: pointer
    &--block-info
      position: absolute
      font-size: 12px
      margin: 5px
      padding: 2px 5px
      background-color: rgba(144, 147, 153, 0.8)
      border-radius: 7px
      border: 1px solid #909399
</style>
