<template>
  <el-table :data="addresses" style="width: 100%" align="center" empty-text="Нет связей">
    <el-table-column label="#" type="index" width="30"></el-table-column>
    <el-table-column label="Основной">
      <template slot-scope="scope">
        <icon v-if="scope.$index === mainIndex" :icon="['fas', 'magnet']" />
      </template>
    </el-table-column>
    <el-table-column label="ID" prop="id" width="40"></el-table-column>
    <el-table-column label="Имя" prop="name"></el-table-column>
    <el-table-column label="Bus" prop="bus" width="50"></el-table-column>
    <el-table-column label="Управление">
      <template slot-scope="scope">
        <el-button type="success" size="mini" class="button-edit" @click="mainIndex = scope.$index">
          <icon :icon="['fas', 'magnet']" />
        </el-button>
        <el-button type="danger" size="mini" class="button-edit" @click="removeConnection(scope.$index)">
          <icon :icon="['fas', 'trash']" />
        </el-button>
      </template>
    </el-table-column>
  </el-table>
</template>
<script>
export default {
  props: ['socket', 'initSave'],
  data() {
    return {
      addressesID: _.clone(this.socket.object.addresses) || [],
      mainIndex: 0,
    }
  },
  computed: {
    addresses() {
      const addresses = [];
      this.addressesID.forEach(addressID => {
        const address = _.clone(this.$store.state.structData.addresses.getElementByID(addressID));
        if (address) {
          addresses.push(address);
        }
        if (address.bus === 0) {
          address.name = '-';
        }
      })
      return addresses;
    }
  },
  watch: {
    initSave(val) {
      if (val) {
        const mainAddress = this.addressesID.splice(this.mainIndex, 1);
        this.addressesID.unshift(...mainAddress);
        this.$emit('change', { socket: this.socket, addresses: this.addressesID })
      }
    }
  },
  methods: {
    removeConnection(index) {
      this.addressesID.splice(index, 1);
    }
  }
}
</script>
<style lang="stylus">
.button-edit
  padding: 3px
</style>
