<template>
  <WrapperSettings :value.sync="fnBlock.clearVariables" @change="changeEmit">
    <Wrapper
      v-for="(item, index) in settings.mode"
      :key="index"
      :name="`Реле ${index + 1}`"
      @toggle="toggleOpen(index)"
    >
      <icon icon="angle-right" :class="{ 'block--open': settings.isOpen[index] }" />
      <div slot="children" class="child-relay-items" v-if="settings.isOpen[index]">
        <zh-select
          :value="settings.mode[index]"
          :values="modes"
          @change="changeMode($event, index)"
          name="Режим работы"
        />
        <zh-select
          v-if="settings.mode[index] === 1"
          :value.sync="settings.initStart[index]"
          :values="initStartTypes"
          name="Состояние при старте"
        />

        <zh-time-picker
          v-if="settings.mode[index] === 1"
          :value="settings.onDelay[index]"
          :min="0"
          :max="255"
          :checkbox="true"
          @change="changeOnDelay($event, index)"
          format="сек"
          name="Задержка на включение"
        />
        <zh-time-picker
          :value="settings.offDelay[index]"
          :min="0"
          :max="255"
          :checkbox="true"
          @change="changeOffDelay($event, index)"
          format="сек"
          name="Задержка на выключение"
        />
        <Wrapper name="Скопировать настройки">
          <el-select v-model="indexForCombine" multiple style="width: 300px; margin-right: 5px;">
            <el-option
              v-show="indexItem !== index"
              v-for="(item, indexItem) in listChannels"
              :key="indexItem"
              :value="item.value"
              :label="item.label"
            />
          </el-select>
          <el-button type="primary" @click="combineSettings(index)">Применить</el-button>
        </Wrapper>
      </div>
      <span slot="info" class="info">{{ `Режим: ${modes[settings.mode[index] - 1].label}` }}</span>
    </Wrapper>
    <!-- Отдельная вкладка экрана "Сцены"-->
    <template slot="child">
      <el-tab-pane label="Сценарии">
        <zh-checkbox
          v-for="(item, index) in settings.statusScenes"
          :key="index"
          :value="item"
          @change="changeActiveScene($event, index)"
          :name="`Сценарий ${index + 1}`"
        >
          <zh-input-number
            :value="settings.scenesNumbers[index]"
            @change="changeScenesNumbers($event, index)"
            :min="0"
            name="Номер сцены"
          />
          <zh-checkbox-table-mode
            class="child-hard-component"
            :value="computedUseInScene[index]"
            :valueNames="namesRelay"
            :valueSecond="computedScenes[index]"
            :disabled="disabledRelayInScenes[index]"
            name="Реле, используемые в сцене"
            @change="changeValueScenes($event, index)"
          />
        </zh-checkbox>
      </el-tab-pane>
    </template>
    <span v-if="isErrorSceneDuplicate" slot="error-message">Дупликаты сцен</span>
  </WrapperSettings>
</template>

<script>
  import Vue from 'vue';
  export default {
    name: 'Relay',
    props: {
      element: Object,
      initSave: Boolean,
      initReset: Boolean,
      isError: Boolean,
    },
    data() {
      return {
        fnBlock: _.cloneDeep(this.element.blocks[0]),
        indexForCombine: [],
        modes: [
          {
            label: 'Нормальный',
            value: 1,
          },
          {
            label: 'Лестница',
            value: 2,
          },
        ],
        initStartTypes: [
          {
            label: 'Off',
            value: 0,
          },
          {
            label: 'On',
            value: 1,
          },
          {
            label: 'Last State',
            value: 2,
          },
        ],
      };
    },
    computed: {
      countPorts() {
        return this.element.params.portsCount;
      },
      namesRelay() {
        return new Array(this.countPorts).fill(0).map((value, index) => index + 1);
      },
      settings() {
        return this.fnBlock.settings;
      },
      computedUseInScene() {
        return this.settings.useInScene.map(el => {
          let str = el.toString(2);
          while (str.length < this.countPorts) {
            str = `0${str}`;
          }
          return str
            .split('')
            .map(el => +el)
            .reverse();
        });
      },
      disabledRelayInScenes() {
        return this.computedUseInScene.map(scene => scene.map(value => !+value));
      },
      computedScenes() {
        return this.settings.scenes.map(el => {
          let str = el.toString(2);
          while (str.length < this.countPorts) {
            str = `0${str}`;
          }
          return str
            .split('')
            .map(el => +el)
            .reverse();
        });
      },
      isErrorSceneDuplicate() {
        const activeScenes = [];
        this.settings.statusScenes.forEach((el, index) => {
          if (el === 1) activeScenes.push(this.settings.scenesNumbers[index]);
        });

        return activeScenes.length !== _.uniq(activeScenes).length;
      },
      listChannels() {
        return (
          this.settings.mode
            // eslint-disable-next-line
            .map((el, index) => {
              return {
                label: `Канал ${index + 1}`,
                value: index,
              };
            })
        );
      },
    },
    watch: {
      settings: {
        deep: true,
        handler() {
          this.changeEmit();
        },
      },
    },
    methods: {
      changeEmit() {
        if (!this.isErrorSceneDuplicate) this.$emit('change', _.cloneDeep(this.fnBlock));
      },
      toggleOpen(index) {
        Vue.set(this.settings.isOpen, index, +!this.settings.isOpen[index]);
      },
      changeMode(value, index) {
        Vue.set(this.settings.mode, index, value);
        if (value !== 1) this.settings.initStart[index] = 0;
      },
      changeOnDelay(value, index) {
        Vue.set(this.settings.onDelay, index, value);
      },
      changeOffDelay(value, index) {
        Vue.set(this.settings.offDelay, index, value);
      },
      changeActiveScene(value, index) {
        Vue.set(this.settings.statusScenes, index, value);
        Vue.set(this.settings.scenesNumbers, index, 0);
      },
      changeScenesNumbers(value, index) {
        Vue.set(this.settings.scenesNumbers, index, value);
      },
      changeValueScenes(data, index) {
        const res = parseInt(data.value.reverse().join(''), 2);
        const resSecond = parseInt(data.valueSecond.reverse().join(''), 2);
        Vue.set(this.settings.useInScene, index, res);
        Vue.set(this.settings.scenes, index, resSecond);
      },
      // Копируем настройки с первого канала на все другие.
      combineSettings(indexCopy) {
        this.$confirm('Вы действительно хотите объединить значения настроек?', 'Внимание', {
          confirmButtonText: 'Да',
          cancelButtonText: 'Отмена',
          type: 'warning',
        })
          .then(() => {
            this.indexForCombine.forEach(index => {
              Vue.set(this.fnBlock.settings.mode, index, this.fnBlock.settings.mode[indexCopy]);
              Vue.set(this.fnBlock.settings.onDelay, index, this.fnBlock.settings.onDelay[indexCopy]);
              Vue.set(this.fnBlock.settings.offDelay, index, this.fnBlock.settings.offDelay[indexCopy]);
              Vue.set(this.fnBlock.settings.initStart, index, this.fnBlock.settings.initStart[indexCopy]);
            });
          })
          .catch(err => {
            console.log(err);
            this.$message({
              type: 'info',
              message: 'Удаление отменено',
            });
          });
      },
    },
  };
</script>

<style lang="stylus">
  .block--open
    transform: rotate(90deg);
  .child-relay-items
    padding-left: 15px;
    padding-right: 5px;
  .child-hard-component .child-param
    background-color: rgba(242, 246, 252, 0.8);
    border-top: 0 !important;
    border-bottom: 1px solid #dcdfe6;
</style>


