<template>
  <div id="app">
    <main-menu v-if="!stateMain.mode.isVisioPlugin" />
    <container-main v-if="stateMain.mode.isMain && stateMain.mode.isOpenProject" />
    <div id="no-project" v-else-if="!stateMain.mode.isOpenProject">Откройте или создайте проект</div>
    <plugin v-else-if="stateMain.mode.isPlugin" :device="this.device" />
    <Visio v-else-if="stateMain.mode.isVisioPlugin" />
    <monitor-bus v-if="stateMain.mode.isMonitorBus" />
    <tray-block />
    <canvas id="canvasDrag" height="20" width="120" />
    <modal />
  </div>
</template>

<script>
  import MainMenu from '@/components/MainMenu';
  import ContainerMain from '@/components/ContainerMain';
  import Plugin from '@/components/Plugin';
  import TrayBlock from '@/components/TrayBlock';
  import Modal from '@/components/Modal';
  import MonitorBus from '@/components/MonitorBus';

  import { mapState } from 'vuex';
  import modulesList from '@/_library/functionalBlocks';
  import { ipcRenderer as ipc } from 'electron'; //eslint-disable-line
  import Visio from './components/pluginVisio/InterfacePlugin';

  export default {
    name: 'app',
    components: {
      MainMenu,
      Plugin,
      ContainerMain,
      TrayBlock,
      Modal,
      MonitorBus,
      Visio,
    },
    data() {
      return {
        isModalActive: false,
        data: 1,
        responsedDevices: [],
        timerRequestDevices: null,
      };
    },
    beforeCreate() {
      // Читаем сохраненные main state приложения.
      ipc.send('fs:openInit');
      ipc.once('fs:openInitStatus', (event, data) => {
        this.$store.commit('INIT_STATE', data);
      });
    },
    mounted() {
      // Следить за сохраненим state проектов. При изменениии сохраняем внутри системы.
      this.$store.subscribe(mutation => {
        const arrayInfoProjectsMutations = [
          'CREAT_NEW_PROJECT',
          'SAVE_DATE',
          'OPEN_PROJECT',
          'CLOSE_PROJECT',
          'DELETE_PROJECT',
          'SAVE_NAME_PROJECT',
        ];
        if (arrayInfoProjectsMutations.includes(mutation.type)) {
          ipc.send('fs:saveInit', { projects: this.stateMain.projects, config: this.stateMain.config });
        }
      });
      // Создаем список блоков для плагина.
      this.$nextTick(() => {
        this.$store.commit('CREAT_BLOCKS_LIST', modulesList);
      });
      // Обновляем текущее значение
      ipc.on('store:UpdateDeviceActual', (event, device) => {
        this.$store.commit('UPDATE_ACTUAL_SETTINGS_DEVICE', device);
      });
      // Принимает ответы онлайн устройств.
      ipc.send('finderDevices:start');
      ipc.on('finderDevices:findedDevice', this.setFindDevice);
      ipc.on('finderDevices:error', () => {
        console.log('Не удалось отправить опрос устройств');
        // Очищаем массив найденных устройств
        this.$store.commit('CLEAR_FINDED_DEVICES');
        // Устанавливаем статусы устройствам в проекте
        this.$store.commit('SET_STATUS_DEVICES');
      });
      this.finderDevices();
    },
    beforeDestroy() {
      ipc.removeAllListeners('finderDevices:findedDevice');
      ipc.removeAllListeners('finderDevices:error');
      clearTimeout(this.timerRequestDevices);
    },
    computed: mapState({
      stateMain: state => state.main,
      device: state => state.structData.devices.props.changeElement,
    }),
    methods: {
      // Опрос онлайн устройств в сети.
      finderDevices() {
        // Запрос устройств в сети
        ipc.send('finderDevices:find');
        this.timerRequestDevice = setTimeout(() => {
          // Устанавливаем статусы устройствам в проекте
          this.$store.commit('SET_STATUS_DEVICES');
          // Очищаем массив найденных устройств
          this.$store.commit('CLEAR_FINDED_DEVICES');
          // Запускаем очередной поиск
          this.finderDevices();
        }, 20000);
      },
      // Добавляем в массив найденное устройство. Если его еще там нет
      setFindDevice(event, data) {
        this.$store.commit('SET_FINDED_DEVICE', data);
      },
    },
  };
</script>

<style lang="stylus">
  body
    height: 100vh;
    margin: 0;
    font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    overflow: hidden;
    >*
      user-select: none;
      cursor: default;
  #app
    height: 100%;
    user-select: none;
    display: flex;
    flex-direction: column;
    >*
      height: 100%;
      width: 100%;
  #canvasDrag
    background-color: #C0C4CC;
    border-radius: 5px;
    position: absolute;
    left: -10000px;
  .info-block
    width: 100%;
    text-align: center;
    border-left: 1px solid #bdbdbd;
    overflow: hidden;
    &--empty
      height: 100%;
      padding-top: 100px;
      background-color: #CFD8DC;
  #no-project
    text-align: center;
    padding-top: 30px;
    background-color: #CFD8DC;
    overflow-y: auto;
  .msg--error
    width: 100%;
    color: #dd4242;
    display: block;
    font-size: 12px;
    line-height: 1.3em;
    text-align: center;
    cursor: default;
  // Кнопки отмена и сохранить в настройках
  .container-button
    border-top: 1px solid #bdbdbd;
    padding: 10px 0;
    text-align: center;
  // Блок с боковым меню
  .container-menu
    display: flex;
    width: 100%;
    height: 100%;
    border-left: 1px solid #bdbdbd;
    .el-menu
      min-width: 35px;
      width: 35px;
      .el-menu-item
        padding: 0 !important;
        div
          padding: 0 7px !important;
  .container-menu-content
    width: calc(100% - 35px);
    height: 100%;
    min-width: 380px;
    text-align: center;
    >*
      width: 100%;
      text-align: center;
  .active-component
    border: 1px solid #409EFF !important;
  // Изменение стилей Element UI
  .el-button+.el-button
    margin-left: 4px;
  .el-message
    top: 5px;
    height: 30px;
    left: inherit;
    right: 0;
  .span--error
    color: #F56C6C;
  .input--error input
    border-color: #F56C6C !important;
  .el-table__row td
    padding: 0;
  .el-table .cell
    white-space: nowrap;
    text-overflow: ellipsis;
  .el-select-dropdown
    min-width: 250px !important;
  .control-sized
    width: 150px;
  .vb
    > .vb-dragger
      z-index: 5;
      width: 14px;
      right: 0;
      > .vb-dragger-styler
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transform: rotate3d(0, 0, 0, 0);
        transform: rotate3d(0, 0, 0, 0);
        -webkit-transition: background-color 100ms ease-out, margin 100ms ease-out, height 100ms ease-out;
        transition: background-color 100ms ease-out, margin 100ms ease-out, height 100ms ease-out;
        background-color: rgba(40, 44, 52, 0.2);
        margin: 5px 5px 5px 0;
        border-radius: 20px;
        height: calc(100% - 10px);
        display: block;
    &.vb-scrolling-phantom > .vb-dragger > .vb-dragger-styler
      background-color: rgba(40, 44, 52, 0.3);
    > .vb-dragger:hover > .vb-dragger-styler, &.vb-dragging > .vb-dragger > .vb-dragger-styler
      background-color: rgba(40, 44, 52, 0.5);
      margin: 0px;
      height: 100%;
    &.vb-dragging-phantom > .vb-dragger > .vb-dragger-styler
      background-color: rgba(40, 44, 52, 0.5);
  .v-context
    width: auto !important;
    padding: 7px 5px !important;
    ul
      padding: 0 !important;
    li
      padding: 0 !important;
      padding: 0 5px !important;
      font-size: 12px !important;
      font-weight: 400 !important;
      &:hover
        background: #E4E7ED !important;
        color: inherit !important;
    &:focus
      outline: none;

  .el-popover {
    padding: 5px 10px !important;
  }
</style>
