<template>
  <div class="box-widgets" :class="classList">
    <section class="box-widgets__column" v-for="(widgetsArray, index) in data" :key="index">
      <WidgetsColumn :value="widgetsArray" :indexColumn="index" :menuUID="menuUID"/>
    </section>
  </div>
</template>

<script>
  import WidgetsColumn from '../components/WidgetsColumn';
  export default {
    props: {
      data: Array,
      menuUID: String,
      viewMode: {
        default: '',
        type: String,
      },
    },
    name: 'ColumnsTemplate',
    components: {
      WidgetsColumn,
    },
    data() {
      return {};
    },
    computed: {
      classList() {
        return {
          mobile: this.viewMode === 'mobile',
          tablet: this.viewMode === 'tablet',
          desktop: this.viewMode === 'desktop',
        };
      },
    },
  };
</script>



<style scoped lang="stylus">
  .box-widgets
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 7px;
    width: calc(100% - 14px);
    height: calc(100% - 21px);
    font-size: 15px;
  .box-widgets__column
    height: 100%;
    width: 200px;
    flex-grow: 1;
    flex-shrink: 0;
    overflow-y: auto;
    overflow-x: hidden;
  .box-widgets__column + .box-widgets__column
    margin-left: 7px;
  .box-widgets.mobile
    flex-direction: column;
    height: auto;
    .box-widgets__column
      width: 100%;
      margin: 0;
    .box-widgets__column + .box-widgets__column
      margin-top: 7px;
</style>


/*
border: 1px solid gray
border-raduis: 5px
*/